<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn" xml:lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>静态页生成中-一键生成静态页</title>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" name="viewport" />
    <link href="skins/default/default.css" rel="stylesheet" type="text/css" />
    <link href="skins/base/common.css" rel="stylesheet" type="text/css" />
    <link href="skins/base/publish.css" rel="stylesheet" type="text/css" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="probar_side" style=" width:100%; overflow:hidden; text-align:center; display:none;" id="error">sadsadsadsads</div>
<div id="chengg">
<div class="f_mt35 f_mb25"><b>更新进度：</b></div>
<div class="probar_side" style=" width:100%; overflow:hidden;"><span class="probar_bg" style="width:0%;" id="ProgressBar">&nbsp;</span><span class="percent" id="ProgressBarTxt">0%</span></div>
<div class="probar_tips f_mt35 f_mb25 f_cb"><div class="tips_l f_fl">本次成功更新<em class="color_orange" id="success">0</em>个页面，失败<em class="color_orange" id="failure">0</em>个页面，还有<em class="color_orange" id="surplus">0</em>页面，总计<em class="color_orange" id="total">0</em>页面。</div><div class="tips_r f_fr"></div></div>
</div>
<script language="javascript">
    window.onerror = function (msg, url, l) {
        var log = window.top.document.getElementById("log");
        if (!log) {
            log = window.top.document.createElement("div");
            log.setAttribute("id", "log");
            window.top.document.body.appendChild(log);

            var input = window.top.document.createElement("input");
            log.appendChild(input);
            input.type = "button";
            input.value = "清除记录";
            input.onclick = function () {
                var divs = $("#log").find("div").remove();
            }
        }
        var div = window.top.document.createElement("div");
        div.innerHTML = window.location + "  --->>   Error：" + msg + ";;URL：" + url + ";;Line：" + l + "<br />";
        log.appendChild(div);
        return true;
    }
    //倒记时
    var alltime = 10;
    //设置进度条进度
    var ProgressBar = document.getElementById("ProgressBar");
    var ProgressBarTxt = document.getElementById("ProgressBarTxt");
    function SetPorgressBar(obj, pos) {
        ProgressBar.style.width = pos + "%";
        ProgressBarTxt.innerHTML = pos + "%";
        if (ProgressBar.offsetWidth > 188) {
            ProgressBar.innerHTML = "文件生成中…";
        }
        for (var key in obj) {
            //window.onerror(key);
            var div = document.getElementById(key);
            if (div != null) {
                div.innerHTML = obj[key];
            }
        }
        if (pos == 100) {
            ProgressBar.innerHTML = "静态页已生成完毕！";
            if ("Success" in window.parent) {
                window.parent["Success"]();
            }
            //s = setInterval("setTime()", 1000);
        }
    }
    var error = document.getElementById("error")
    function ShowError(msg){
        error.style.display = "block";
        document.getElementById("chengg").style.display = "none";
        error.innerHTML=msg;
    }
    function setTime() {
        if (alltime <= 0) {
            clearInterval(s);
            var frm = top.document.getElementById("frmEditor");
            if (frm == null) { window.close(); } else { frm.src = "iindex.aspx"; }
        }
        else {
            alltime--;
            m = Math.floor(alltime / 60);
            se = Math.round(alltime - (Math.floor(alltime / 60) * 60));
            ProgressBar.innerHTML = "静态页已生成完毕，" + se + "秒后跳转欢迎页！";
        }
    }
 </script>
</body>
</html>
