#parses("../Common/Header.html?cssname=wrap")

  <section class="g-bd">    
	<!-- 通栏轮播 -->
    #parses("Template/ads.html")
    <!---->
     <div class="g-ss clearfix">
      <input class="inp01" type="text" defvalue="请输入您要搜索的关键词 " id="se_key">
      <span class="scl_fri"><a><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/s_s.gif"></a></span>
      <input class="u-in" type="button">
    </div>
    <!---->
    ##其它产品
    #parses("Template/ProductColumnList.html" "%{curid=76}")
    <!---->   
    #parses("Template/NewsCase.html" "%{selectcount=3,cursid='0001,0012'}")
    <!---->
    <div class="g-ys">
    	<a><h3><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/y_h3.gif" ></h3></a>
        <dl><a >
        	<dt><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/y_img1.png" ></dt>
            <dd>
            	<h4><span>01</span>价格优势</h4>
                <p>自建工厂，配备顶级生产设备和稳定技术人员，自产直销，自己配送和安装，缩减成本，价格比同行业低20%</p>
            </dd></a>
        </dl>
        <dl><a>
        	<dt><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/y_img2.png" ></dt>
            <dd>
            	<h4><span>02</span>产品优势</h4>
                <p>有木质类、胶板屏风类，软体类、钢制类四大类别办公家具，秉承人性化设计理念，有现代风、传统风、古典实木众多风格家具</p>
            </dd></a>
        </dl>
        <dl><a>
        	<dt><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/y_img3.png" ></dt>
            <dd>
            	<h4><span>03</span>专属定制</h4>
                <p>专业团队上门勘测，提供多空间风格选择，款式自由搭配，量身定制个性空间量身定做</p>
            </dd></a>
        </dl>
        <dl><a>
        	<dt><img src="/mobile/images/web/grey.gif" data-src="/Mobile/Images/Index/y_img4.png" ></dt>
            <dd>
            	<h4><span>04</span>服务优势</h4>
                <p>O2O一站式体验，免费上门量尺，免费出3D效果图，免费制作配套方案，全程一对一对接服务，24小时无忧售后</p>
            </dd></a>
        </dl>
    </div>
    <!---->   
    #parses("Template/NewsList.html" "%{selectcount=3,cursid='0001,0011,0013',cursqlwhere='Delay=1'}")
    <!---->    
  </section> 
    #parses("../Common/Footer.html")
