<div class="propar">
    <h4 class="corange">{$title$}</h4>
    <div class="cpc pd_attr">
        {$attrs$}
    </div>
    <div class="cps pd_short">{$ShortDesc$}</div>
    <div class="pd_hotline">
        <span>订购热线：</span><span class="font_hotline">{$SalesHotLine$}</span>
    </div>
</div>
<div class="propar" style="text-align: center; padding-top: 20px;">
    <div class="proparp">
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=3552126&userId=2186107" title="立即咨询"><img style="border: 0" src="{$SkinPath$}img/buynowsmalls.gif" alt="立即咨询" /></a>
    </div>
</div>
