/* 产品列表页面一样式  */
.g-bd .m-con-1 {/* padding:15px 0 12px 0;*/ width:320px; margin:15px auto;}
.g-bd .m-con-1 a { float:left; width:132px; margin:0 14px 10px 14px; text-align:center; line-height:20px;  display:block; font-size:14px; }
.g-bd .m-con-1 span{ height:38px; clear:both; display:block; overflow:hidden;}
.g-bd .m-con-1 a img {  border:1px solid #e2e2e2; float:left; margin-bottom:8px; }
/* 产品列表页面二样式  */
.g-bd .m-con-2 a{ display:block;}
.g-bd .m-con-2 { margin-bottom:26px; }
.g-bd .m-con-2 dl { border-bottom:1px solid #ffffff; box-shadow:0 1px #e6e6e6; margin-bottom:2px; padding:12px 36px 12px 10px; position:relative; }
.g-bd .m-con-2 dt { float:left;display:block;border:1px solid #ccc; margin-right:11px; }
.g-bd .m-con-2 dt img { display:block; float:left;border:1px solid #e2e2e2;}
.g-bd .m-con-2 h3 { height: 24px; line-height: 24px; overflow: hidden; padding-right: 10px; }
.g-bd .m-con-2 p { font-size: 12px; height: 65px; line-height: 22px; margin:5px; margin-right:3%; overflow: hidden; }
.g-bd .m-con-2 .s-babg p span{ width: auto; height: auto; background: none; position: relative; right: inherit;top: inherit; display: inline;}
.g-bd .m-con-2 .s-babg p span:before,.g-bd .m-con-2 .s-babg p span:after{ display: none;}
.g-bd .m-con-2 .s-babg p span{ width: auto; height: auto; background: none; position: relative; right: inherit;top: inherit; display: inline;}
.g-bd .m-con-2 .s-babg p span:before,.g-bd .m-con-2 .s-babg p span:after{ display: none;}


/* 新闻列表页面三样式  */
.g-bd .m-con-3 { margin:10px 10px 26px 10px; }
.g-bd .m-con-3 ul { border-bottom:1px solid #eaeaea;}
.g-bd .m-con-3 li { height:32px; line-height:32px; padding:0 15px; position:relative; white-space: nowrap; text-overflow:ellipsis; background-position:5px -1629px;overflow:hidden;display:block; }
.g-bd .m-con-3 li:before { content:""; position:absolute; background:#3e3e3e; width:4px; height:4px; left:6px; top:15px; }
.g-bd .m-con-3 .first { border-top:none; }
.g-bd .m-con-3 li span { display: block; height: 16px; position: absolute; right: 10px; top: 10px; width: 9px; }
.g-bd .m-con-3 li span:before { content:""; position:absolute; background:#7c7c7c; width:10px; height:10px; left:2px; top:2px; z-index:10; -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.g-bd .m-con-3 li span:after { content:""; position:absolute; width:10px; height:10px; left:0; top:2px; z-index:11; background-color:#fafafa; background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f8f8f8)); background-image: -webkit-linear-gradient(top, #fafafa, #f8f8f8); background-image: -moz-linear-gradient(top, #fafafa, #f8f8f8); background-image: -o-linear-gradient(top, #fafafa, #f8f8f8); background-image: -ms-linear-gradient(top, #fafafa, #f8f8f8); background-image: linear-gradient(top, #fafafa, #f8f8f8); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }


/* 新闻列表页面四样式  */
@media screen and (max-width: 1440px) { /*当屏幕尺寸小于1440px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:6;-moz-column-count:6;}
}
@media screen and (max-width: 1280px) { /*当屏幕尺寸小于1280px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:6;-moz-column-count:6;}
}
@media screen and (max-width: 1024px) { /*当屏幕尺寸小于1024px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:5;-moz-column-count:5;}
}
@media screen and (max-width: 960px) { /*当屏幕尺寸小于960px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:4;-moz-column-count:4;}
}
@media screen and (max-width: 720px) { /*当屏幕尺寸小于720px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:3;-moz-column-count:3;}
}
@media screen and (max-width: 400px) { /*当屏幕尺寸小于400px时，应用下面的CSS样式*/
  .g-prolistbox4 .content {-webkit-column-count:2;-moz-column-count:2;}
}
.g-prolistbox4 .content { margin:15px auto; text-align:center;column-gap:10px;-webkit-column-gap:10px;-moz-column-gap:10px;column-fill :balance;-webkit-column-fill:balance;-moz-column-fill :balance; }
.g-prolistbox4 .content div { vertical-align:top; display:inline-block; margin-bottom:10px; text-align:center; line-height:20px; overflow:hidden; font-size:14px; }
.g-prolistbox4 .description{ color:#999; display:block; height:40px; overflow:hidden;}
.g-prolistbox4 .content div img { border:1px solid #e2e2e2; text-align:center; margin-bottom:8px; display:block;}
.g-prolistbox4 .content  i{ height:40px; line-height:20px;overflow:hidden; display:inline-block;}
