<!DOCTYPE HTML>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>办公桌上放什么植物好 ?办公桌适合摆放的植物|家具常识 - 武汉办公家具|办公桌椅生产厂家厂商报价直销|办公家具定制厂家|武汉红鑫办公家具厂</title>
    <meta name="keywords" content="武汉办公家具,武汉办公桌椅,办公家具定制厂家,办公前台,办公室办公沙发,武汉办公家具公司,办公家具定制厂家," />
    <meta name="description" content="武汉办公家具，武汉红鑫办公家具20年品质沉淀，主营办公家具、保密文件柜定做、办公桌椅、武汉大小型会议桌椅厂家、档案密集柜报价、钢制铁皮文件柜厂家、储物柜、洽谈桌、武汉办公桌椅、办公前台、大班台等、武汉办公家具定制：400-678-5198" />
        <link key="skins" href="http://www.hongxin.com.cn/mobile/css/skins.css" rel="stylesheet" type="text/css" />
        <link key="common" href="http://www.hongxin.com.cn/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon-precomposed" href="/mobile/images/common/touch-icon.png" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body id='Details_Page'>
<div>
<header class="g-hd" id="top" name="top"> <a href="/mobile/" name="logo" class="m-logo"> <img src="/mobile/images/web/grey.gif" data-src="/mobile/uploadfiles/common/20161114114757_3727.gif" /> </a>
<p class="m-tel">办公家具整体配套大型生产厂家</p>
<p class="m-menu"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</header>
<div class="g-hd-f">
    <p class="fixed"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</div>
<div class="g-back">
    <a href="javascript:history.go(-1);" class="u-bp f-fl"></a>
    <a href="/mobile/tools/ListNav.aspx?type=News" class="u-bl f-fr"></a>
    <a href="/mobile/" class="u-bh f-fr"></a>
</div><div class="g-se">
     <span class="u-bt" ></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
 
<link href="/mobile/css/news.css" rel="stylesheet" type="text/css" />
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3 class="m-btit">
    <a href="/mobile/">首页</a>
        <span></span><a href="http://www.hongxin.com.cn/jjcs.html" title="家具常识">家具常识</a>
    </h3>

    <div class="m-con">
        <!--新闻标题-->
        <div class="u-mtit f-tc">
            <h1 class="s-wc">办公桌上放什么植物好 ?办公桌适合摆放的植物</h1>
            <p>2017-08-17 10:24:55&nbsp;</p>
        </div>
        <!--新闻内容-->
        <div id="content" class="m-mcon">
            <p style="text-align: left;">
	     <a href="http://www.hongxin.com.cn/" target="_blank"><b>办公桌</b></a>上放什么植物好？这还真是值得大家关注的问题，既然大家对于事业的追求坚持不懈，可是布置好的办公室风水对你的事业很有帮助哦。当然，对于一般的公司职员来说，要改变整个办公室的布局显然不行，那么就只能从自己的办公桌入手了，下面小编就告诉大家，到底办公桌上放什么植物好。
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20170817121704_3174.jpg_280.jpg" title="主管经理桌" alt="主管经理桌" />
</p>
<h4>
	老板办公桌上放什么植物好
</h4>
    1.若你是老板，且你的办公室内有保险柜，可摆放一盆绿色的盆栽植物，将其遮挡住，这样具有安财的作用；此外，不可让植物凋谢、枯萎，一旦有这样的迹象，要立即处理，例如摘掉植物上的黄叶，避免办公室内的风水遭到破坏。<br />
     2.老板也有男女之分，对男性老板的办公室而言，最好在座位左侧摆放一盆比较高大的植物，在风水学中，老板的办公桌左侧属青龙位，在这个位置上摆放高达的绿色植物，具有旺财的作用。现代大多数老板办公室都是落地窗，可是风水中讲求&ldquo;膝下虚空不旺财&rdquo;，为了避免这种情况，可在窗前摆放一排植物。对女性老板来说，上述内容一样需要注意，而且还可在办公桌上摆放一盆鲜花，并在花盆内插上四根荣华竹，有旺财的作用，切忌在办公桌上摆放带刺的植物(如仙人球)。
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20170817121821_0478.jpg_280.jpg" title="板式老板桌" alt="板式老板桌" />
</p>
<h4>
	职员办公桌上放什么植物好
</h4>
    1.公司职员的办公桌都是相互对面而坐，可在自己办公桌上摆放几盆绿色植物，如常见的绿萝等，可以缓解眼睛疲劳。<br />
    2.若是你的办公桌对面是老板的办公室，也可在办公桌上摆放几盆绿色植物(如荣华竹等)，既可起到风水屏风的作用，还可以缓解老板带给你的压力。<br />
     3.患鼻炎的人尽量不要在办公桌上放置有香气的植物。<br />
    4.由于办公室内电脑等电子产品多，辐射就比较大，可在自己办公桌上摆放摆放一盆芦荟，既有防辐射的作用，还可以缓解眼睛的疲劳。<br />
    5.倘若有人在办公室抽烟，那么你就可以在办公桌上摆放一盆吊兰，这种植物具有吸收尼古丁的作用。<br />
<p>
	    6.倘若办公室比较封闭，可在办公桌上摆放一盆水培植物和一盆金心吊兰，两种植物组合，可以当做空气净化器使用。
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20170817121951_5100.jpg_280.jpg" title="大理石前台" alt="大理石前台" />
</p>
     7.靠窗的的同事，若是窗外有电线杆、广告牌之类的东西，可在办公桌上摆放仙人球、仙人掌等植物来挡煞。<br />
    8.座位不宜正对柱子，正对着柱子的位置，可在办公桌上养一盆水培的荣华竹，防止柱角对本身的冲煞。<br />
    9.办公桌不宜正对卫生间。正对着卫生间座位可在办公桌与卫生间之间摆放阔叶类大型盆栽，风水上讲求&ldquo;眼不见不为煞&rdquo;，还可在办公桌上摆放一盆红色植物，这样既可挡住厕所的煞气。<br />
     10.办公桌位置忌背对大门进口或背靠窗。若是正好背对大门进口或背靠窗，可在办公椅后面与大门或墙之间摆放一盆大叶植物做靠山，这样就不会有不踏实的感觉。<br />
    11.办公桌位置不宜面朝办公室大门。若是正好面朝办公室大门，可在之间摆放一盆阔叶植物，因为大门处人来人往，煞气较重，摆放一盆植物可挡住煞气。<br />
    12.公司前台外侧的地上，不宜摆放一排植物。<br />
     13.出生季节影响办公桌上摆放植物的种类。春天出生的人，可在办公桌上摆放水仙花、茉莉花、金心吊兰等；夏天出生的人，可在办公桌上摆放水培红色植物，若是脾气大的人可在办公桌上摆放水培睡莲；秋天出生的人，可在办公桌上摆放土培或水培的绿色植物，如荣华竹、绿萝等，但切忌摆放白色花朵的植物；冬天出生的人，命中多水，可在办公桌上摆放红菊等红色植物。<br />
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20170817121933_9310.jpg_280.jpg" title="职员办公桌" alt="职员办公桌" />
</p>
<p>
	<span style="line-height: 28px; font-family: 微软雅黑; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 16px;"><span face="微软雅黑">如果您对办公家具感兴趣或有疑问，</span></span><span style="line-height: 28px; font-family: 微软雅黑; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 16px;">24小时客服竭诚为您服务，请联系我们网页右侧的在线客服或咨询18207180195，红鑫家具&mdash;&mdash;您全程贴心的采购顾问！</span> 
</p>
<p style="margin: 15px 0;text-indent: 0;padding: 0;line-height: 28px">
	<span style="font-family:微软雅黑;color:#333333;letter-spacing:0;font-size:16px"><span face="微软雅黑">联系电话：</span>18207180195</span> 
</p>
<p style="margin: 15px 0;text-indent: 0;padding: 0;line-height: 28px">
	<span style="font-family:微软雅黑;color:#333333;letter-spacing:0;font-size:16px"><span face="微软雅黑">咨询</span>QQ： 3077923149</span> 
</p>
<p style="margin: 15px 0;text-indent: 0;padding: 0;line-height: 28px">
	<span style="font-family:微软雅黑;color:#333333;letter-spacing:0;font-size:16px"><span face="微软雅黑">汉口展厅：武汉市汉口发展大道</span>222号华南国际广场A座26楼红鑫家具</span> 
</p>
<p style="margin: 15px 0;text-indent: 0;padding: 0;line-height: 28px">
	<span style="font-family:微软雅黑;color:#333333;letter-spacing:0;font-size:16px">光谷展厅：武汉市光谷大道3号未来之光6栋1楼商铺</span> 
</p>
        </div>
        <!--分页-->
        <div id="setPage" class="g-page f-tc">
            <a id="up" class="u-pup" href="javascript:void(0)">上一页</a>
            <a id="qw" class="u-sa" href="javascript:void(0)">余下全文</a>
            <p id="pCount"><span class="u-pnum">1</span>/5</p>
            <a id="next" class="u-pne" href="javascript:void(0)">下一页</a>
        </div>
        <!--分享-->
        <div class="m-share">
                <div class="m-ico">
                    <span>分享到：</span>
                    <a href="http://www.jiathis.com/send/?webid=tsina&url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzsfsmzwh.html&title=%e5%8a%9e%e5%85%ac%e6%a1%8c%e4%b8%8a%e6%94%be%e4%bb%80%e4%b9%88%e6%a4%8d%e7%89%a9%e5%a5%bd+%3f%e5%8a%9e%e5%85%ac%e6%a1%8c%e9%80%82%e5%90%88%e6%91%86%e6%94%be%e7%9a%84%e6%a4%8d%e7%89%a9" class="u-ico-1"></a>
                    <a href="http://ti.3g.qq.com/open/s?vt=5&aid=share&sbid=801389636&g_ut=3&msg=%e5%8a%9e%e5%85%ac%e6%a1%8c%e4%b8%8a%e6%94%be%e4%bb%80%e4%b9%88%e6%a4%8d%e7%89%a9%e5%a5%bd+%3f%e5%8a%9e%e5%85%ac%e6%a1%8c%e9%80%82%e5%90%88%e6%91%86%e6%94%be%e7%9a%84%e6%a4%8d%e7%89%a9http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzsfsmzwh.html&return=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzsfsmzwh.html" class="u-ico-2"></a>
                    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzsfsmzwh.html&summary=%e5%8a%9e%e5%85%ac%e6%a1%8c%e4%b8%8a%e6%94%be%e4%bb%80%e4%b9%88%e6%a4%8d%e7%89%a9%e5%a5%bd+%3f%e5%8a%9e%e5%85%ac%e6%a1%8c%e9%80%82%e5%90%88%e6%91%86%e6%94%be%e7%9a%84%e6%a4%8d%e7%89%a9&title=%e5%8a%9e%e5%85%ac%e6%a1%8c%e4%b8%8a%e6%94%be%e4%bb%80%e4%b9%88%e6%a4%8d%e7%89%a9%e5%a5%bd+%3f%e5%8a%9e%e5%85%ac%e6%a1%8c%e9%80%82%e5%90%88%e6%91%86%e6%94%be%e7%9a%84%e6%a4%8d%e7%89%a9" class="u-ico-3"></a>
                    <div class="clear"></div>
                </div>
                
         </div>

        <!--关于手机的相关新闻-->
        <div class="m-about">
            <a href="#" class="s-wc"><h2 class="m-tit z-spe"><font>关于“</font><strong class="xg">办公桌椅摆放风水,武汉办公桌椅,办公桌椅讲究</strong><font>”的相关资讯</h2></a><p class="list"><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/hxbgjjtglz.html' title='红鑫办公家具通过了中国环境标志产品认证证书，十环认证'>红鑫办公家具通过了中国环境标志产品认证证书，十环认证</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whswcqhjwy.html' title='武汉市武昌区环建物业办公家具配置案例'>武汉市武昌区环建物业办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whqsxdhysq.html' title='武汉青山现代花园社区办公家具配置案例'>武汉青山现代花园社区办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/ggjrghjzxl.html' title='光谷金融港汇金中心联恒信科技办公家具配置案例'>光谷金融港汇金中心联恒信科技办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/fhgjsohocs.html' title='泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫'>泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫</a></p>
        </div>
     
        <!--推荐产品-->
        <div class="m-rec j-slide-np">
            <a href="#1" class="s-wc">
                <h2 class="m-tit z-spe"><span class="u-ico"></span>推荐产品</h2>
            </a>
            <div class="m-con">
                <div class="prev"></div>
                <div class="m-nowr">
                    <div class="m-box">
                        <p><a href='/mobile/MProducts/mtcsmdbt.html' title='明堂全实木大班台'><img src='/mobile/uploadfiles/pictures/product/jc/20161118103852_3062.jpg_130X94.jpg' width='130' height='94' alt='明堂全实木大班台' title='明堂全实木大班台'>明堂全实木大班台</a><a href='/mobile/MProducts/sskfszhgzw.html' title='时尚职员办公屏风卡座ED30+50-P111'><img src='/mobile/uploadfiles/pictures/product/20171111113107_5599.jpg_130X94.jpg' width='130' height='94' alt='时尚职员办公屏风卡座ED30+50-P111' title='时尚职员办公屏风卡座ED30+50-P111'>时尚职员办公屏风卡座ED30+50-P111</a></p><p><a href='/mobile/MProducts/sfbsygbgpf.html' title='索菲板式员工办公屏风'><img src='/mobile/uploadfiles/pictures/product/20161124171144_4006.jpg_130X94.jpg' width='130' height='94' alt='索菲板式员工办公屏风' title='索菲板式员工办公屏风'>索菲板式员工办公屏风</a><a href='/mobile/MProducts/bszysrgzw2.html' title='板式职员四人工作位21FAO0117'><img src='/mobile/uploadfiles/pictures/product/20161125105053_8034.jpg_130X94.jpg' width='130' height='94' alt='板式职员四人工作位21FAO0117' title='板式职员四人工作位21FAO0117'>板式职员四人工作位21FAO0117</a></p>
                    </div>
                </div>
                <div class="next"></div>
            </div>
        </div>
        <!--热点推荐-->
        <div class="m-about">
            <h2 class="m-tit z-spe s-wc">热点推荐</h2>
            <p class="list">
                <a href='http://www.hongxin.com.cn/mobile/MArticles/lqyx.html' target='_blank'>乐其游戏办公家具配置案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/ckxbgjjgca.html' target='_blank'>创客星办公家具工程案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/smbgjjwsmy.html' target='_blank'>实木办公家具为什么要留伸缩缝</a><a href='http://www.hongxin.com.cn/mobile/MArticles/xzbgjjdbdz.html' target='_blank'>选择办公家具的八点注意事项</a><a href='http://www.hongxin.com.cn/mobile/MArticles/whbgjjdzhy.html' target='_blank'>武汉办公家具定制行业分析</a>
            </p>
        </div>
    </div>
</div>
<!--底部开始-->
<footer class="g-ft">
    <p class="u-top"><a href="/mobile/"><span><img src="/mobile/css/Common/top1.gif" alt="返回首页"></span>返回首页</a><a href="/mobile/sitemap.html" title="网站地图"><span><img src="/mobile/css/Common/top2.gif" alt="网站地图"></span>网站地图</a></p>
    <p class="u-di">武汉红鑫家俱有限公司   版权所有</p>
    <p class="u-tel">咨询电话：<a href="tel:4006785198">400-678-5198</a></p>
    <div class="social_nav5">
      <ul>
        <li class="cur"><a ><em></em>办公家具分类 </a><i>
        	<a href="/dbtxl.html"><span><img src="/mobile/css/Common/f_ico1.png" ></span>大班台</a>
            <a href="/bgpfxl.html"><span><img src="/mobile/css/Common/f_ico2.png" ></span>办公屏风</a>
            <a href="/hyzxl.html"><span><img src="/mobile/css/Common/f_ico3.png" ></span>会议桌</a>
            <a href="/bgzxl.html"><span><img src="/mobile/css/Common/f_ico9.png" ></span>办公桌</a>
            <a href="/bgyxl.html"><span><img src="/mobile/css/Common/f_ico4.png" ></span>办公椅</a>
            <a href="/wjgxl.html"><span><img src="/mobile/css/Common/f_ico5.png" ></span>文件柜</a>
            <a href="/sfcjxl.html"><span><img src="/mobile/css/Common/f_ico6.png" ></span>沙发茶几</a>
            <a href="/bgqtxl.html"><span><img src="/mobile/css/Common/f_ico7.png" ></span>办公前台</a>
            <a href="/ggdxl.html"><span><img src="/mobile/css/Common/f_ico8.png" ></span>高隔断</a>
            <a href="/bgzsxl.html"><span><img src="/mobile/css/Common/f_ico10.png" ></span>办公装饰</a>
        </i></li>      
        <li><a href="/xxtyg.html"><em></em>线下体验馆</a></li>
        <li><a  href="http://p.qiao.baidu.com/cps/chat?siteId=3552126&userId=2186107" ><em></em>在线咨询</a> </li>
        <li><a href="tel:4006785198"><em></em>立即拨号</a> </li>
      </ul>
    </div>
  </footer></div>
<script type="text/javascript" key="jquery" src="http://www.hongxin.com.cn/mobile/js/Jquery.js"></script>
<script type="text/javascript" key="nsw_mobile" src="http://www.hongxin.com.cn/mobile/js/Nsw_mobile.js"></script>
<script type="text/javascript" key="tools" src="http://www.hongxin.com.cn/mobile/js/Tools.js"></script>
<!--<script>
    try {
        $("img").each(function () {

            var src = $(this);

            var src2 = $(this);

            var img = new Image;

            img.onload = function () {

                if (img.width > 310) {

                    src2.css("width", "100%");
                    src2.css("height", "auto");
                }
                else {
                    src2.css("width", "auto");
                }
            };

            img.src = src.attr("src");

        });


    } catch (e) { }
</script>-->
    <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?be518259b9bd320fa77e6e8ed06e09c7"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html> 
<script type="text/javascript">
    $(function (){       
        GetCommentById("reply", 3,142, "news");
        SetPageCount('news',142,1,'bgzsfsmzwh.html');        
    });
</script>


