<!DOCTYPE HTML>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>办公桌椅的摆放风水（上）|家具常识 - 武汉办公家具|办公桌椅生产厂家厂商报价直销|办公家具定制厂家|武汉红鑫办公家具厂</title>
    <meta name="keywords" content="武汉办公家具,武汉办公桌椅,办公家具定制厂家,办公前台,办公室办公沙发,武汉办公家具公司,办公家具定制厂家," />
    <meta name="description" content="武汉办公家具，武汉红鑫办公家具20年品质沉淀，主营办公家具、保密文件柜定做、办公桌椅、武汉大小型会议桌椅厂家、档案密集柜报价、钢制铁皮文件柜厂家、储物柜、洽谈桌、武汉办公桌椅、办公前台、大班台等、武汉办公家具定制：400-678-5198" />
        <link key="skins" href="http://www.hongxin.com.cn/mobile/css/skins.css" rel="stylesheet" type="text/css" />
        <link key="common" href="http://www.hongxin.com.cn/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon-precomposed" href="/mobile/images/common/touch-icon.png" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body id='Details_Page'>
<div>
<header class="g-hd" id="top" name="top"> <a href="/mobile/" name="logo" class="m-logo"> <img src="/mobile/images/web/grey.gif" data-src="/mobile/uploadfiles/common/20161114114757_3727.gif" /> </a>
<p class="m-tel">办公家具整体配套大型生产厂家</p>
<p class="m-menu"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</header>
<div class="g-hd-f">
    <p class="fixed"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</div>
<div class="g-back">
    <a href="javascript:history.go(-1);" class="u-bp f-fl"></a>
    <a href="/mobile/tools/ListNav.aspx?type=News" class="u-bl f-fr"></a>
    <a href="/mobile/" class="u-bh f-fr"></a>
</div><div class="g-se">
     <span class="u-bt" ></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
 
<link href="/mobile/css/news.css" rel="stylesheet" type="text/css" />
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3 class="m-btit">
    <a href="/mobile/">首页</a>
        <span></span><a href="http://www.hongxin.com.cn/jjcs.html" title="家具常识">家具常识</a>
    </h3>

    <div class="m-con">
        <!--新闻标题-->
        <div class="u-mtit f-tc">
            <h1 class="s-wc">办公桌椅的摆放风水（上）</h1>
            <p>2017-05-17 09:22:21&nbsp;</p>
        </div>
        <!--新闻内容-->
        <div id="content" class="m-mcon">
            <p>
	     对于上班族每天接触最多的就是<b><a href="http://www.hongxin.com.cn" target="_blank">办公桌椅</a></b>，每天都要用的，但是办公桌椅也讲究风水的，如果大家摆放正确的可以工作效益事半功倍，下面来了解下办公桌椅摆放方法。   
</p>
<p>
	<img src="/mobile/uploadfiles/pictures/product/20170509164122_7685.jpg_280.jpg" title="班台" alt="班台" />
</p>
<p>
	     座椅是办公室内最常见的坐具，要如何来摆放？在风水学中，非常重视&ldquo;靠山&rdquo;的作用，尤其是对于在公司中处于高层的管理人员来说，稳固的靠山可以使其在公司管理中获得更多的帮助，从而能够顺利打开工作的局面。在办公室风水中，最好的靠山就是墙，将座椅尽量靠墙摆放，或是摆放在高大的文件柜前面，就可以形成靠山的格局。背后有靠不仅使人的心理产生较为踏实和安稳的感觉，而且背后的墙和文件柜也会变成一种阻隔，形成办公桌区域被生气所包围的格局，气旺运盛，从而更能获得下属的支持，遇到问题的时候也更容易得到帮助。还有的人选择较为高大的座椅作为靠背，但毕竟不是实体支撑，其所能起到的风水效应依然比不上背后有靠墙者。此外，最好不要将座位摆放在靠窗或是背对门的位置，否则这样背后无靠的格局必然会对工作产生不利的影响。
</p>
<p>
	<img src="/mobile/uploadfiles/pictures/news/20170502102635_0028.jpg_280.jpg" title="办公桌椅经理桌" alt="办公桌椅经理桌" />
</p>
<p>
	     座椅背对通道有何不利？在办公区域中，要尽量避免处于气的流动路线上，一来会影响气的流动，二来也无法吸收生气。正因为如此，在安排办公室的座椅时，要尽量避免座位背朝通道。在风水学中，气有喜静不喜动的特点，虽然走道是气在办公区域中的流动通道，但是经常会有人在其间走动，因此无法在此形成能量的聚积。如果背对通道而坐，即使进入公司的生气再多，能量再强大，也只能吸收非常少的一部分，收到的效果自然就非常微弱。如果座位面向通道，那就避开了动的位置，更加符合风水的安排方法。生气经过通道流向办公区，并在这个较为静止的环境内聚积，面朝通道而坐，也就是面向生气流进各办公区的方向，也就更能吸收到生气中的能量了。
</p>
<p>
	     座椅在谈生意时的作用。在风水布局中，谈判时所处的位置是相当重要的，谈判时坐在哪一方，周围环境布局怎样等等，对于谈判是否有占据有利局面非常重要。当我们准备进行谈判的时候，首要工作就是为自己选择一个让自己感觉轻松、适宜的座位。这个座位必须是你坐上去后可以放松心情、可以让自己的脊柱不再紧绷；这个座位必须是让你可以平视或略高一些地看到对方的眼睛的；这个座位对面没有过于花哨的装饰品扰乱视线和心情；这个座位应软硬适中，不会感到久坐是一件痛苦的事情。     忌背门而坐办公沙发。如果办公桌靠近门摆放，人背门而坐，这是办公桌摆放第一要避免的基本点。门是人进入的必经之处，是办公室的气口，也是纳气之所，包括生气和煞气。人如果背着门口而坐，座后没有依靠，背后有人来人往的杂气冲击，长期如此，坐于此位的办公室人员会时常都处在一种潜意识的紧张状态之中，有时总觉得似乎有人窥视，导致思绪杂乱，决策失误，不能安定的做好每件事，总觉得浮燥，甚至会出现肾功能不好，腰疼，工作上遇小人、事非等等。这种情况在风水上叫&ldquo;冷风吹背&rdquo;。化解方法：一是调整办公桌的摆放位置，换到不是背门而坐的方位；但对于办公室的小职员就不太容易调整办公桌的位置了，因为很多办公桌的位置是因为工作的需要而摆放的，那么我们可以选择一张有靠背的椅子来坐，这样背后不但有靠了，还能阻断杂气的冲击。
</p>
<p>
	     <img src="/mobile/uploadfiles/pictures/news/20170413100117_5591.jpg_280.jpg" title="3" alt="3" />
</p>
<p>
	     忌坐靠走道的窗边。办公椅窗是房屋的一个进气口，会纳入生气或煞气，但是窗外有行人走道的窗，不但会纳入来来往往的杂气，还会有行人的脚步声，喧哗声，以及其它的噪音一类的声煞干扰自己的工作。如果将办公桌设于行人窗道下，就等于将写字台置于一些形煞之下；如果需要研究公司的机密，自然会担心有一些闲杂之人窥视。在这种靠近窗口的办公桌上工作会安不下心来做事的。 化解方法是：写字台要尽量离窗户稍远一些，远离窗口的距离为在过道之人看不清楚办公桌上的文件。同时也要利用窗帘，经常用窗帘遮住窗口，避免窗外来回晃动的人影影响工作者的思维。 忌座后有窗。现在很多高级办公室有明亮的落地窗，俯视群楼，有一种高高在上的惬意。有的人喜欢将办公桌与窗平行摆放，将座设于办公桌与落地窗之间，将窗做为靠山，这样摆放的办公桌位置也是错误的。座后有窗，就如同座后有门一样不可用。窗是光和气的入口，理论与忌坐后靠门一样。化解方法：一是调整办公桌位置；二是选择一张有高靠背的坐椅。宜座后有靠山自风水学的角度来看，好风水的第一大原则是&ldquo;山环水抱&rdquo;，也就是说背后有山作依靠，来旺人，前面有水来环绕，来旺财。所以座位背后必须要有靠山才有利于工作者的事业，办公室里的所谓&ldquo;靠山&rdquo;就是一堵墙壁，座位要尽量靠着墙壁，墙壁与座位之间最好不要留太多的空间。合理选择办公桌现今办公桌的质量一般都以木质的为主，但如果对于命理上忌木的人使用木质的办公桌反而会出现不好之事。我们可以针对自己命理上的喜忌选择有利于自己的办公桌。如果质量上的选择不多，我们可以从颜色和款式上来加以利用和补救。
</p>
<p>
	     这一期办公桌椅摆放风水就讲到这里，我们下期再会。如果您对<b><a href="http://www.hongxin.com.cn" target="_blank">办公家具</a></b>感兴趣，我们24小时为您提供最优质的服务，服务热线：18207180110，咨询QQ：3296424667
</p>
<p>
	     展厅地址：武汉市洪山区光谷大道3号未来之光6号楼1楼红鑫家具
</p>
<p>
	     生产基地：武汉市汉口北大道CBD五百亩工业园
</p>
        </div>
        <!--分页-->
        <div id="setPage" class="g-page f-tc">
            <a id="up" class="u-pup" href="javascript:void(0)">上一页</a>
            <a id="qw" class="u-sa" href="javascript:void(0)">余下全文</a>
            <p id="pCount"><span class="u-pnum">1</span>/5</p>
            <a id="next" class="u-pne" href="javascript:void(0)">下一页</a>
        </div>
        <!--分享-->
        <div class="m-share">
                <div class="m-ico">
                    <span>分享到：</span>
                    <a href="http://www.jiathis.com/send/?webid=tsina&url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzydbffss.html&title=%e5%8a%9e%e5%85%ac%e6%a1%8c%e6%a4%85%e7%9a%84%e6%91%86%e6%94%be%e9%a3%8e%e6%b0%b4%ef%bc%88%e4%b8%8a%ef%bc%89" class="u-ico-1"></a>
                    <a href="http://ti.3g.qq.com/open/s?vt=5&aid=share&sbid=801389636&g_ut=3&msg=%e5%8a%9e%e5%85%ac%e6%a1%8c%e6%a4%85%e7%9a%84%e6%91%86%e6%94%be%e9%a3%8e%e6%b0%b4%ef%bc%88%e4%b8%8a%ef%bc%89http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzydbffss.html&return=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzydbffss.html" class="u-ico-2"></a>
                    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2fbgzydbffss.html&summary=%e5%8a%9e%e5%85%ac%e6%a1%8c%e6%a4%85%e7%9a%84%e6%91%86%e6%94%be%e9%a3%8e%e6%b0%b4%ef%bc%88%e4%b8%8a%ef%bc%89&title=%e5%8a%9e%e5%85%ac%e6%a1%8c%e6%a4%85%e7%9a%84%e6%91%86%e6%94%be%e9%a3%8e%e6%b0%b4%ef%bc%88%e4%b8%8a%ef%bc%89" class="u-ico-3"></a>
                    <div class="clear"></div>
                </div>
                
         </div>

        <!--关于手机的相关新闻-->
        <div class="m-about">
            <a href="#" class="s-wc"><h2 class="m-tit z-spe"><font>关于“</font><strong class="xg">武汉办公桌椅</strong><font>”的相关资讯</h2></a><p class="list"><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/hxbgjjtglz.html' title='红鑫办公家具通过了中国环境标志产品认证证书，十环认证'>红鑫办公家具通过了中国环境标志产品认证证书，十环认证</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whswcqhjwy.html' title='武汉市武昌区环建物业办公家具配置案例'>武汉市武昌区环建物业办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whqsxdhysq.html' title='武汉青山现代花园社区办公家具配置案例'>武汉青山现代花园社区办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/ggjrghjzxl.html' title='光谷金融港汇金中心联恒信科技办公家具配置案例'>光谷金融港汇金中心联恒信科技办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/fhgjsohocs.html' title='泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫'>泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫</a></p>
        </div>
     
        <!--推荐产品-->
        <div class="m-rec j-slide-np">
            <a href="#1" class="s-wc">
                <h2 class="m-tit z-spe"><span class="u-ico"></span>推荐产品</h2>
            </a>
            <div class="m-con">
                <div class="prev"></div>
                <div class="m-nowr">
                    <div class="m-box">
                        <p><a href='/mobile/MProducts/mtcsmdbt.html' title='明堂全实木大班台'><img src='/mobile/uploadfiles/pictures/product/jc/20161118103852_3062.jpg_130X94.jpg' width='130' height='94' alt='明堂全实木大班台' title='明堂全实木大班台'>明堂全实木大班台</a><a href='/mobile/MProducts/sskfszhgzw.html' title='时尚职员办公屏风卡座ED30+50-P111'><img src='/mobile/uploadfiles/pictures/product/20171111113107_5599.jpg_130X94.jpg' width='130' height='94' alt='时尚职员办公屏风卡座ED30+50-P111' title='时尚职员办公屏风卡座ED30+50-P111'>时尚职员办公屏风卡座ED30+50-P111</a></p><p><a href='/mobile/MProducts/sfbsygbgpf.html' title='索菲板式员工办公屏风'><img src='/mobile/uploadfiles/pictures/product/20161124171144_4006.jpg_130X94.jpg' width='130' height='94' alt='索菲板式员工办公屏风' title='索菲板式员工办公屏风'>索菲板式员工办公屏风</a><a href='/mobile/MProducts/bszysrgzw2.html' title='板式职员四人工作位21FAO0117'><img src='/mobile/uploadfiles/pictures/product/20161125105053_8034.jpg_130X94.jpg' width='130' height='94' alt='板式职员四人工作位21FAO0117' title='板式职员四人工作位21FAO0117'>板式职员四人工作位21FAO0117</a></p>
                    </div>
                </div>
                <div class="next"></div>
            </div>
        </div>
        <!--热点推荐-->
        <div class="m-about">
            <h2 class="m-tit z-spe s-wc">热点推荐</h2>
            <p class="list">
                <a href='http://www.hongxin.com.cn/mobile/MArticles/lqyx.html' target='_blank'>乐其游戏办公家具配置案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/ckxbgjjgca.html' target='_blank'>创客星办公家具工程案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/smbgjjwsmy.html' target='_blank'>实木办公家具为什么要留伸缩缝</a><a href='http://www.hongxin.com.cn/mobile/MArticles/xzbgjjdbdz.html' target='_blank'>选择办公家具的八点注意事项</a><a href='http://www.hongxin.com.cn/mobile/MArticles/whbgjjdzhy.html' target='_blank'>武汉办公家具定制行业分析</a>
            </p>
        </div>
    </div>
</div>
<!--底部开始-->
<footer class="g-ft">
    <p class="u-top"><a href="/mobile/"><span><img src="/mobile/css/Common/top1.gif" alt="返回首页"></span>返回首页</a><a href="/mobile/sitemap.html" title="网站地图"><span><img src="/mobile/css/Common/top2.gif" alt="网站地图"></span>网站地图</a></p>
    <p class="u-di">武汉红鑫家俱有限公司   版权所有</p>
    <p class="u-tel">咨询电话：<a href="tel:4006785198">400-678-5198</a></p>
    <div class="social_nav5">
      <ul>
        <li class="cur"><a ><em></em>办公家具分类 </a><i>
        	<a href="/dbtxl.html"><span><img src="/mobile/css/Common/f_ico1.png" ></span>大班台</a>
            <a href="/bgpfxl.html"><span><img src="/mobile/css/Common/f_ico2.png" ></span>办公屏风</a>
            <a href="/hyzxl.html"><span><img src="/mobile/css/Common/f_ico3.png" ></span>会议桌</a>
            <a href="/bgzxl.html"><span><img src="/mobile/css/Common/f_ico9.png" ></span>办公桌</a>
            <a href="/bgyxl.html"><span><img src="/mobile/css/Common/f_ico4.png" ></span>办公椅</a>
            <a href="/wjgxl.html"><span><img src="/mobile/css/Common/f_ico5.png" ></span>文件柜</a>
            <a href="/sfcjxl.html"><span><img src="/mobile/css/Common/f_ico6.png" ></span>沙发茶几</a>
            <a href="/bgqtxl.html"><span><img src="/mobile/css/Common/f_ico7.png" ></span>办公前台</a>
            <a href="/ggdxl.html"><span><img src="/mobile/css/Common/f_ico8.png" ></span>高隔断</a>
            <a href="/bgzsxl.html"><span><img src="/mobile/css/Common/f_ico10.png" ></span>办公装饰</a>
        </i></li>      
        <li><a href="/xxtyg.html"><em></em>线下体验馆</a></li>
        <li><a  href="http://p.qiao.baidu.com/cps/chat?siteId=3552126&userId=2186107" ><em></em>在线咨询</a> </li>
        <li><a href="tel:4006785198"><em></em>立即拨号</a> </li>
      </ul>
    </div>
  </footer></div>
<script type="text/javascript" key="jquery" src="http://www.hongxin.com.cn/mobile/js/Jquery.js"></script>
<script type="text/javascript" key="nsw_mobile" src="http://www.hongxin.com.cn/mobile/js/Nsw_mobile.js"></script>
<script type="text/javascript" key="tools" src="http://www.hongxin.com.cn/mobile/js/Tools.js"></script>
<!--<script>
    try {
        $("img").each(function () {

            var src = $(this);

            var src2 = $(this);

            var img = new Image;

            img.onload = function () {

                if (img.width > 310) {

                    src2.css("width", "100%");
                    src2.css("height", "auto");
                }
                else {
                    src2.css("width", "auto");
                }
            };

            img.src = src.attr("src");

        });


    } catch (e) { }
</script>-->
    <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?be518259b9bd320fa77e6e8ed06e09c7"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html> 
<script type="text/javascript">
    $(function (){       
        GetCommentById("reply", 3,98, "news");
        SetPageCount('news',98,1,'bgzydbffss.html');        
    });
</script>


