<!DOCTYPE HTML>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫|金融银行案例 - 武汉办公家具|办公桌椅生产厂家厂商报价直销|办公家具定制厂家|武汉红鑫办公家具厂</title>
    <meta name="keywords" content="武汉办公家具,武汉办公桌椅,办公家具定制厂家,办公前台,办公室办公沙发,武汉办公家具公司,办公家具定制厂家," />
    <meta name="description" content="武汉办公家具，武汉红鑫办公家具20年品质沉淀，主营办公家具、保密文件柜定做、办公桌椅、武汉大小型会议桌椅厂家、档案密集柜报价、钢制铁皮文件柜厂家、储物柜、洽谈桌、武汉办公桌椅、办公前台、大班台等、武汉办公家具定制：400-678-5198" />
        <link key="skins" href="http://www.hongxin.com.cn/mobile/css/skins.css" rel="stylesheet" type="text/css" />
        <link key="common" href="http://www.hongxin.com.cn/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon-precomposed" href="/mobile/images/common/touch-icon.png" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body id='Details_Page'>
<div>
<header class="g-hd" id="top" name="top"> <a href="/mobile/" name="logo" class="m-logo"> <img src="/mobile/images/web/grey.gif" data-src="/mobile/uploadfiles/common/20161114114757_3727.gif" /> </a>
<p class="m-tel">办公家具整体配套大型生产厂家</p>
<p class="m-menu"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</header>
<div class="g-hd-f">
    <p class="fixed"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</div>
<div class="g-back">
    <a href="javascript:history.go(-1);" class="u-bp f-fl"></a>
    <a href="/mobile/tools/ListNav.aspx?type=News" class="u-bl f-fr"></a>
    <a href="/mobile/" class="u-bh f-fr"></a>
</div><div class="g-se">
     <span class="u-bt" ></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
 
<link href="/mobile/css/news.css" rel="stylesheet" type="text/css" />
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3 class="m-btit">
    <a href="/mobile/">首页</a>
        <span></span><a href="http://www.hongxin.com.cn/jryxal.html" title="金融银行案例">金融银行案例</a>
    </h3>

    <div class="m-con">
        <!--新闻标题-->
        <div class="u-mtit f-tc">
            <h1 class="s-wc">泛海国际SOHO城杉德银卡通信息服务有限公司办公家具采购，经多方比较，选定红鑫</h1>
            <p>2017-12-26 14:37:07&nbsp;</p>
        </div>
        <!--新闻内容-->
        <div id="content" class="m-mcon">
            <p style="text-indent: 2em;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">杉德银卡通信息服务有限公司是杉德科技旗下一家专业为银行卡金融机构和其他发卡机构提供POS专业化服务的全国性的有限责任公司，公司成立于2003年2月，注册资金叁亿捌仟零肆拾贰万元，现有员工人数超过1800人，总部设立在上海。截至2009年底，公司已初步建立了全国性的金融POS网络平台，拥有分支机构25家，为全国超过80家金融机构分支机构提供POS专业化服务。杉德银卡通湖北分公司成立于2007年10月，现已在湖北省内的武汉、宜昌、黄石、襄樊开设营业部，大力开拓银行卡受理市场，建设金融POS网络平台，为支付客户提供全方位的解决方案，并提供银行卡特约商户开拓、金融POS终端投放、商户培训、POS安装、现场维修维护、耗材配送等相关POS专业化服务，为发卡机构和商户提供基于金融POS网络平台的增值服务。</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144104_4681.jpg_280.jpg" title="1" alt="1" />
</p>
<p style="text-align: center;">
	<br  />
</p>
<div style="text-align: left; text-indent: 2em;">
	<span style="font-family: " microsoft="" yahei";"=""><span style="line-height:2;">客户在网上看到我公司，来我们华南展厅看实物，后预约设计师上门量尺寸，出效果图及方案预算，客户对产品比</span><span style="line-height:2;">较认</span></span><span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">可，后经过跟进，客户来展厅现场签订合同。</span> 
</div>
<p>
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144140_7922.jpg_280.jpg" title="2" alt="2" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">进门前厅</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144153_8019.jpg_280.jpg" title="3" alt="3" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">总经理办公室，大气沉稳</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144203_9755.jpg_280.jpg" title="3-1" alt="3-1" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">配套文件柜，时尚美观</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144214_5191.jpg_280.jpg" title="4" alt="4" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">接待沙发</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144224_4047.jpg_280.jpg" title="5" alt="5" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">公共开放式办公区域</span> 
</p>
<p style="text-align: center;">
	<img src="/mobilehttp://hongxin.com.cn/uploadfiles/pictures/news/20171226144234_9263.jpg_280.jpg" title="6" alt="6" />
</p>
<p style="text-align: center;">
	<span style="font-family: " microsoft="" yahei";="" line-height:="" 2;"="">屏风式办公桌，私密性好</span> 
</p>
<p style="text-align: center;">
	<br  />
</p>
<p style="text-align: left;">
	<br  />
</p>
<p style="margin: 15px 0;text-indent: 0;padding: 0;line-height: 28px">
	<br  />
</p>
<p style=" text-indent: 2em;">
	<span style="font-family:" microsoft="" yahei";line-height:2"="">如果您对以上办公家具感兴趣或有疑问，请联系我们网页右侧24小时在线客服或电话预约到展厅实地考察，我们将提供免费接送服务哦。</span> 
</p>
<p>
	<span style="font-family:" microsoft="" yahei";line-height:2"=""><b>汉口展厅：武汉市江汉区发展大道华南国际广场A座26楼</b></span> 
</p>
<br />
<span style="font-family:" microsoft="" yahei";line-height:2"=""><b>光谷展厅：武汉市光谷大道未来之光6号楼1楼商铺</b></span><br />
<br />
<div style=" text-align: right;">
	<span style="font-family: " microsoft="" yahei";="" color:="" rgb(255,="" 0,="" 0);="" line-height:="" 2;"=""><b>红鑫办公家具&mdash;&mdash;您全程贴心的采购顾问！</b></span> 
</div>

        </div>
        <!--分页-->
        <div id="setPage" class="g-page f-tc">
            <a id="up" class="u-pup" href="javascript:void(0)">上一页</a>
            <a id="qw" class="u-sa" href="javascript:void(0)">余下全文</a>
            <p id="pCount"><span class="u-pnum">1</span>/5</p>
            <a id="next" class="u-pne" href="javascript:void(0)">下一页</a>
        </div>
        <!--分享-->
        <div class="m-share">
                <div class="m-ico">
                    <span>分享到：</span>
                    <a href="http://www.jiathis.com/send/?webid=tsina&url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2ffhgjsohocs.html&title=%e6%b3%9b%e6%b5%b7%e5%9b%bd%e9%99%85SOHO%e5%9f%8e%e6%9d%89%e5%be%b7%e9%93%b6%e5%8d%a1%e9%80%9a%e4%bf%a1%e6%81%af%e6%9c%8d%e5%8a%a1%e6%9c%89%e9%99%90%e5%85%ac%e5%8f%b8%e5%8a%9e%e5%85%ac%e5%ae%b6%e5%85%b7%e9%87%87%e8%b4%ad%ef%bc%8c%e7%bb%8f%e5%a4%9a%e6%96%b9%e6%af%94%e8%be%83%ef%bc%8c%e9%80%89%e5%ae%9a%e7%ba%a2%e9%91%ab" class="u-ico-1"></a>
                    <a href="http://ti.3g.qq.com/open/s?vt=5&aid=share&sbid=801389636&g_ut=3&msg=%e6%b3%9b%e6%b5%b7%e5%9b%bd%e9%99%85SOHO%e5%9f%8e%e6%9d%89%e5%be%b7%e9%93%b6%e5%8d%a1%e9%80%9a%e4%bf%a1%e6%81%af%e6%9c%8d%e5%8a%a1%e6%9c%89%e9%99%90%e5%85%ac%e5%8f%b8%e5%8a%9e%e5%85%ac%e5%ae%b6%e5%85%b7%e9%87%87%e8%b4%ad%ef%bc%8c%e7%bb%8f%e5%a4%9a%e6%96%b9%e6%af%94%e8%be%83%ef%bc%8c%e9%80%89%e5%ae%9a%e7%ba%a2%e9%91%abhttp%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2ffhgjsohocs.html&return=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2ffhgjsohocs.html" class="u-ico-2"></a>
                    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3a%2f%2fwww.hongxin.com.cn%2fMobile%2fmArticles%2ffhgjsohocs.html&summary=%e6%b3%9b%e6%b5%b7%e5%9b%bd%e9%99%85SOHO%e5%9f%8e%e6%9d%89%e5%be%b7%e9%93%b6%e5%8d%a1%e9%80%9a%e4%bf%a1%e6%81%af%e6%9c%8d%e5%8a%a1%e6%9c%89%e9%99%90%e5%85%ac%e5%8f%b8%e5%8a%9e%e5%85%ac%e5%ae%b6%e5%85%b7%e9%87%87%e8%b4%ad%ef%bc%8c%e7%bb%8f%e5%a4%9a%e6%96%b9%e6%af%94%e8%be%83%ef%bc%8c%e9%80%89%e5%ae%9a%e7%ba%a2%e9%91%ab&title=%e6%b3%9b%e6%b5%b7%e5%9b%bd%e9%99%85SOHO%e5%9f%8e%e6%9d%89%e5%be%b7%e9%93%b6%e5%8d%a1%e9%80%9a%e4%bf%a1%e6%81%af%e6%9c%8d%e5%8a%a1%e6%9c%89%e9%99%90%e5%85%ac%e5%8f%b8%e5%8a%9e%e5%85%ac%e5%ae%b6%e5%85%b7%e9%87%87%e8%b4%ad%ef%bc%8c%e7%bb%8f%e5%a4%9a%e6%96%b9%e6%af%94%e8%be%83%ef%bc%8c%e9%80%89%e5%ae%9a%e7%ba%a2%e9%91%ab" class="u-ico-3"></a>
                    <div class="clear"></div>
                </div>
                
         </div>

        <!--关于手机的相关新闻-->
        <div class="m-about">
            <a href="#" class="s-wc"><h2 class="m-tit z-spe"><font>关于“</font><strong class="xg">办公家具厂家直销,武汉办公桌椅,办公家具十大品牌</strong><font>”的相关资讯</h2></a><p class="list"><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/hxbgjjtglz.html' title='红鑫办公家具通过了中国环境标志产品认证证书，十环认证'>红鑫办公家具通过了中国环境标志产品认证证书，十环认证</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whswcqhjwy.html' title='武汉市武昌区环建物业办公家具配置案例'>武汉市武昌区环建物业办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/whqsxdhysq.html' title='武汉青山现代花园社区办公家具配置案例'>武汉青山现代花园社区办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/ggjrghjzxl.html' title='光谷金融港汇金中心联恒信科技办公家具配置案例'>光谷金融港汇金中心联恒信科技办公家具配置案例</a><a target='_blank' href='http://www.hongxin.com.cn/mobile/MArticles/hkmzjhxdlk.html' title='汉口民族街----红鑫的老客户，一次合作，终身朋友'>汉口民族街----红鑫的老客户，一次合作，终身朋友</a></p>
        </div>
     
        <!--推荐产品-->
        <div class="m-rec j-slide-np">
            <a href="#1" class="s-wc">
                <h2 class="m-tit z-spe"><span class="u-ico"></span>推荐产品</h2>
            </a>
            <div class="m-con">
                <div class="prev"></div>
                <div class="m-nowr">
                    <div class="m-box">
                        <p><a href='/mobile/MProducts/mtcsmdbt.html' title='明堂全实木大班台'><img src='/mobile/uploadfiles/pictures/product/jc/20161118103852_3062.jpg_130X94.jpg' width='130' height='94' alt='明堂全实木大班台' title='明堂全实木大班台'>明堂全实木大班台</a><a href='/mobile/MProducts/sskfszhgzw.html' title='时尚职员办公屏风卡座ED30+50-P111'><img src='/mobile/uploadfiles/pictures/product/20171111113107_5599.jpg_130X94.jpg' width='130' height='94' alt='时尚职员办公屏风卡座ED30+50-P111' title='时尚职员办公屏风卡座ED30+50-P111'>时尚职员办公屏风卡座ED30+50-P111</a></p><p><a href='/mobile/MProducts/sfbsygbgpf.html' title='索菲板式员工办公屏风'><img src='/mobile/uploadfiles/pictures/product/20161124171144_4006.jpg_130X94.jpg' width='130' height='94' alt='索菲板式员工办公屏风' title='索菲板式员工办公屏风'>索菲板式员工办公屏风</a><a href='/mobile/MProducts/bszysrgzw2.html' title='板式职员四人工作位21FAO0117'><img src='/mobile/uploadfiles/pictures/product/20161125105053_8034.jpg_130X94.jpg' width='130' height='94' alt='板式职员四人工作位21FAO0117' title='板式职员四人工作位21FAO0117'>板式职员四人工作位21FAO0117</a></p>
                    </div>
                </div>
                <div class="next"></div>
            </div>
        </div>
        <!--热点推荐-->
        <div class="m-about">
            <h2 class="m-tit z-spe s-wc">热点推荐</h2>
            <p class="list">
                <a href='http://www.hongxin.com.cn/mobile/MArticles/lqyx.html' target='_blank'>乐其游戏办公家具配置案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/ckxbgjjgca.html' target='_blank'>创客星办公家具工程案例</a><a href='http://www.hongxin.com.cn/mobile/MArticles/smbgjjwsmy.html' target='_blank'>实木办公家具为什么要留伸缩缝</a><a href='http://www.hongxin.com.cn/mobile/MArticles/xzbgjjdbdz.html' target='_blank'>选择办公家具的八点注意事项</a><a href='http://www.hongxin.com.cn/mobile/MArticles/whbgjjdzhy.html' target='_blank'>武汉办公家具定制行业分析</a>
            </p>
        </div>
    </div>
</div>
<!--底部开始-->
<footer class="g-ft">
    <p class="u-top"><a href="/mobile/"><span><img src="/mobile/css/Common/top1.gif" alt="返回首页"></span>返回首页</a><a href="/mobile/sitemap.html" title="网站地图"><span><img src="/mobile/css/Common/top2.gif" alt="网站地图"></span>网站地图</a></p>
    <p class="u-di">武汉红鑫家俱有限公司   版权所有</p>
    <p class="u-tel">咨询电话：<a href="tel:4006785198">400-678-5198</a></p>
    <div class="social_nav5">
      <ul>
        <li class="cur"><a ><em></em>办公家具分类 </a><i>
        	<a href="/dbtxl.html"><span><img src="/mobile/css/Common/f_ico1.png" ></span>大班台</a>
            <a href="/bgpfxl.html"><span><img src="/mobile/css/Common/f_ico2.png" ></span>办公屏风</a>
            <a href="/hyzxl.html"><span><img src="/mobile/css/Common/f_ico3.png" ></span>会议桌</a>
            <a href="/bgzxl.html"><span><img src="/mobile/css/Common/f_ico9.png" ></span>办公桌</a>
            <a href="/bgyxl.html"><span><img src="/mobile/css/Common/f_ico4.png" ></span>办公椅</a>
            <a href="/wjgxl.html"><span><img src="/mobile/css/Common/f_ico5.png" ></span>文件柜</a>
            <a href="/sfcjxl.html"><span><img src="/mobile/css/Common/f_ico6.png" ></span>沙发茶几</a>
            <a href="/bgqtxl.html"><span><img src="/mobile/css/Common/f_ico7.png" ></span>办公前台</a>
            <a href="/ggdxl.html"><span><img src="/mobile/css/Common/f_ico8.png" ></span>高隔断</a>
            <a href="/bgzsxl.html"><span><img src="/mobile/css/Common/f_ico10.png" ></span>办公装饰</a>
        </i></li>      
        <li><a href="/xxtyg.html"><em></em>线下体验馆</a></li>
        <li><a  href="http://p.qiao.baidu.com/cps/chat?siteId=3552126&userId=2186107" ><em></em>在线咨询</a> </li>
        <li><a href="tel:4006785198"><em></em>立即拨号</a> </li>
      </ul>
    </div>
  </footer></div>
<script type="text/javascript" key="jquery" src="http://www.hongxin.com.cn/mobile/js/Jquery.js"></script>
<script type="text/javascript" key="nsw_mobile" src="http://www.hongxin.com.cn/mobile/js/Nsw_mobile.js"></script>
<script type="text/javascript" key="tools" src="http://www.hongxin.com.cn/mobile/js/Tools.js"></script>
<!--<script>
    try {
        $("img").each(function () {

            var src = $(this);

            var src2 = $(this);

            var img = new Image;

            img.onload = function () {

                if (img.width > 310) {

                    src2.css("width", "100%");
                    src2.css("height", "auto");
                }
                else {
                    src2.css("width", "auto");
                }
            };

            img.src = src.attr("src");

        });


    } catch (e) { }
</script>-->
    <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?be518259b9bd320fa77e6e8ed06e09c7"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html> 
<script type="text/javascript">
    $(function (){       
        GetCommentById("reply", 3,198, "news");
        SetPageCount('news',198,1,'fhgjsohocs.html');        
    });
</script>


