form .editorTb td.titl{width:180px;}

.appmsg_content i{font-style:normal;}

.appmsg_content{border:1px solid #CCC;float:left; width:318px;}/*
.appmsg_content .appmsg_info{font-size: 13px;line-height: 20px;padding-bottom: 10px}
.cover_appmsg_item { position:relative;margin:0 14px 14px;}
.cover_appmsg_item .appmsg_edit_mask{line-height:160px;}
.appmsg_title {font-weight: 400;font-style: normal;font-size: 16px;line-height: 28px;max-height: 56px;overflow: hidden;word-wrap: break-word;word-break: break-all}
.appmsg_title a {display: block;color: #FFF;padding:8px;overflow:hidden;}
.cover_appmsg_item .appmsg_title{position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(0,0,0,0.6)!important;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000')}
.appmsg_thumb_wrp{height:160px;overflow:hidden;}
.appmsg_thumb{ width:100%;}
.editing .has_thumb .default{display:none;}
.appmsg_thumb.default {display: block;color: #c0c0c0;text-align: center;line-height: 160px;font-weight: 400;font-style: normal;background-color: #ececec;font-size: 16px}

.appmsg_item .appmsg_thumb.default{line-height:78px;}
.appmsg_edit_mask{display:none;position: absolute;top: 0;left: 0;width:100%;height:50px;background: rgba(229,229,229,0.85)!important;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9e5e5e5',endcolorstr = '#d9e5e5e5');text-align: center;padding-top:50px;}

.appmsg_edit_mask a{margin:0 8px;}
.icon18_common{ width: 18px;height: 18px;vertical-align: middle;display: inline-block;line-height: 100px;overflow: hidden;background:url(Img/base_wechat.png) no-repeat 0 -5432px;}
.icon18_common:hover{background-position-y:-5460px;}
.appmsg_item{position:relative;padding:20px 14px;border-top:1px solid #e7e7eb;}*/


.cover_appmsg_item:hover .appmsg_edit_mask{display:block;padding-top:60px;height:100px;}
.appmsg_item .appmsg_thumb{display:none;}
.has_thumb i.default{display:none;}



.media_edit_area{float:left;width:465px;margin-left:35px;/*background:#f4f5f9;*/padding:15px;border:1px solid #CCC;}
        
.appmsg_add{display:block;margin:20px auto;border:2px dotted #d9dadc; line-height:38px;font-size:0;height:38px; text-align:center;margin:20px 14px;}
.appmsg_add i{ font-style:normal;font-weight:bold;font-size:30px;color:#d9dadc;}
.appmsg_add:hover{border-color:#b3b3b3;text-decoration:none;}
.appmsg_add:hover i{color:#b3b3b3;}

.appmsg {
}

.appmsg_info {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px
}

.appmsg_date {
    font-weight: 400;
    font-style: normal
}
.appmsg_content {
    position: relative;
    *zoom: 1
}

.appmsg_title {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all
}

.appmsg_title a {
    display: block;
    color: #8d8d8d
}

.appmsg_thumb_wrp {
    height: 160px;
    overflow: hidden
}

.appmsg_thumb {
    width: 100%
}

.appmsg_desc {
    padding: 5px 0 10px;
    word-wrap: break-word;
    word-break: break-all
}

.appmsg_opr {
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7eb
}

.appmsg_opr ul {
    overflow: hidden;
    *zoom: 1
}

.appmsg_opr_item {
    float: left;
    line-height: 44px;
    height: 44px
}

.appmsg_opr_item a {
    display: block;
    border-right: 1px solid #e7e7eb;
    text-align: center;
    text-decoration: none
}

.appmsg_opr_item a:hover {
    text-decoration: none
}

.appmsg_opr_item a.no_extra {
    border-right-width: 0
}

.appmsg_item {
    *zoom: 1;
    position: relative;
    padding: 20px 14px;
    border-top: 1px solid #e7e7eb
}

.appmsg_item:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.appmsg_item .appmsg_title {
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    *zoom: 1;
    margin-top: 14px
}

.appmsg_item .appmsg_thumb {
    float: right;
    width: 78px;
    height: 78px;
    margin-left: 14px
}

.multi .appmsg_info {
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px
}

.multi .appmsg_content {
    padding: 0
}

.multi .appmsg_title {
    font-size: 14px;
    padding-top: 0
}

.cover_appmsg_item {
    position: relative;
    margin: 0 14px 14px
}

.cover_appmsg_item .appmsg_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000')
}

.cover_appmsg_item .appmsg_title a {
    padding:3px 8px;
    color: #fff
}

.appmsg_mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity = 60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    z-index: 1
}

.appmsg .icon_card_selected {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    line-height: 999em;
    overflow: hidden;
    z-index: 1
}

.dialog_wrp .appmsg:hover {
    cursor: pointer
}

.appmsg:hover .appmsg_mask {
    display: block
}

.appmsg.selected .appmsg_mask {
    display: block
}

.appmsg.selected .icon_card_selected {
    display: inline-block
}

.appmsg_thumb.default {
    display: block;
    color: #c0c0c0;
    text-align: center;
    line-height: 160px;
    font-weight: 400;
    font-style: normal;
    background-color: #ececec;
    font-size: 16px
}

.appmsg_item .appmsg_thumb.default {
    line-height: 78px;
    font-size: 14px
}

.appmsg_edit_mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(229,229,229,0.85)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9e5e5e5',endcolorstr = '#d9e5e5e5');
    text-align: center
}

.appmsg_item .appmsg_edit_mask {
    line-height: 118px
}

.cover_appmsg_item .appmsg_edit_mask {
    line-height: 160px
}

.appmsg_edit_mask a {
    margin-left: 8px;
    margin-right: 8px
}

.editing .cover_appmsg_item:hover .appmsg_edit_mask,.editing .appmsg_item:hover .appmsg_edit_mask {
    display: block
}

.editing .appmsg_thumb {
    display: none
}

.editing .appmsg_thumb.default {
    display: block
}

.editing .has_thumb .appmsg_thumb {
    display: block
}

.editing .has_thumb .appmsg_thumb.default {
    display: none
}

.editing .appmsg_content {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom-width: 0
}

.editing.multi .appmsg_content {
    border-bottom-width: 1px
}

.appmsg_add {
    margin: 20px 14px
}

.tab_content .appmsg {
    width: 320px
}

.appmsg_list {
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0;
    margin: 0 30px;
    letter-spacing: -4px
}

.appmsg_list:after {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    content: "."
}

.appmsg_list .tj_item {
    font-size: 14px;
    text-align: left;
    text-justify: auto
}

.appmsg_col {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 32%;
    font-size: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal
}



.icon18_common {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden
}

.icon18_common.woman_orange {
    background: url("Img/base_wechat.png") 0 -4564px no-repeat
}

.icon18_common.man_blue {
    background: url("Img/base_wechat.png") 0 -4592px no-repeat
}

.icon18_common.error {
    background: url("Img/base_wechat.png") 0 -4620px no-repeat
}

.icon18_common.add_blue {
    background: url("Img/base_wechat.png") 0 -4648px no-repeat
}

.selected .icon18_common.add_blue {
    background: url("Img/base_wechat.png") 0 -4676px no-repeat
}

.icon18_common.add_white {
    background: url("Img/base_wechat.png") 0 -4704px no-repeat
}

.icon18_common.del_blue {
    background: url("Img/base_wechat.png") 0 -4732px no-repeat
}

.icon18_common.del_blue:hover {
    background: url("Img/base_wechat.png") 0 -4760px no-repeat
}

.icon18_common.del_gray {
    background: url("Img/base_wechat.png") 0 -4788px no-repeat
}

a:hover .icon18_common.del_gray,.icon18_common.del_gray:hover {
    background: url("Img/base_wechat.png") 0 -4816px no-repeat
}

.icon18_common.link_gray {
    background: url("Img/base_wechat.png") 0 -4844px no-repeat
}

.icon18_common.link_gray:hover,.hover .icon18_common.link_gray,a:hover .icon18_common.link_gray {
    background: url("Img/base_wechat.png") 0 -4872px no-repeat
}

.icon18_common.download_blue {
    background: url("Img/base_wechat.png") 0 -4900px no-repeat
}

.icon18_common.download_blue:hover {
    background: url("Img/base_wechat.png") 0 -4928px no-repeat
}

.icon18_common.upload_gray {
    background: url("Img/base_wechat.png") 0 -4956px no-repeat
}

.icon18_common.upload_gray:hover {
    background: url("Img/base_wechat.png") 0 -4984px no-repeat
}

.icon18_common.download_simple_gray {
    background: url("Img/base_wechat.png") 0 -5012px no-repeat
}

.icon18_common.download_simple_gray:hover,a:hover .icon18_common.download_simple_gray {
    background: url("Img/base_wechat.png") 0 -5040px no-repeat
}

.icon18_common.download_gray {
    background: url("Img/base_wechat.png") 0 -5068px no-repeat
}

.icon18_common.download_gray:hover,a:hover .icon18_common.download_gray {
    background: url("Img/base_wechat.png") 0 -5096px no-repeat
}

.icon18_common.reply_gray {
    background: url("Img/base_wechat.png") 0 -5124px no-repeat
}

.icon18_common.reply_gray:hover {
    background: url("Img/base_wechat.png") 0 -5152px no-repeat
}

.icon18_common.star_gray {
    background: url("Img/base_wechat.png") 0 -5180px no-repeat
}

.icon18_common.star_gray:hover {
    background: url("Img/base_wechat.png") 0 -5208px no-repeat
}

.icon18_common.save_gray {
    background: url("Img/base_wechat.png") 0 -5236px no-repeat
}

.icon18_common.save_gray:hover {
    background: url("Img/base_wechat.png") 0 -5264px no-repeat
}

.icon18_common.edit_blue {
    background: url("Img/base_wechat.png") 0 -5292px no-repeat
}

.icon18_common.edit_blue:hover {
    background: url("Img/base_wechat.png") 0 -5320px no-repeat
}

.selected .icon18_common.edit_blue {
    background: url("Img/base_wechat.png") 0 -5348px no-repeat
}

.icon18_common.zoomout_gray {
    background: url("Img/base_wechat.png") 0 -5376px no-repeat
}

.icon18_common.zoomout_gray:hover,a:hover .icon18_common.zoomout_gray {
    background: url("Img/base_wechat.png") 0 -5404px no-repeat
}

.icon18_common.edit_gray {
    background: url("Img/base_wechat.png") 0 -5432px no-repeat
}

.icon18_common.edit_gray:hover,a:hover .icon18_common.edit_gray {
    background: url("Img/base_wechat.png") 0 -5460px no-repeat
}

.icon18_common.star_orange {
    background: url("Img/base_wechat.png") 0 -5488px no-repeat
}

.icon18_common.save_blue {
    background: url("Img/base_wechat.png") 0 -5516px no-repeat
}

.icon18_common.save_blue:hover {
    background: url("Img/base_wechat.png") 0 -5544px no-repeat
}

.icon18_common.qrcode_gray {
    background: url("Img/base_wechat.png") 0 -5572px no-repeat
}

.icon18_common.qrcode_gray:hover,a:hover .icon18_common.qrcode_gray {
    background: url("Img/base_wechat.png") 0 -5600px no-repeat
}

.appmsg_content .appmsg_error{ border:1px solid #F00;}


.appmsg_edit_item {display:block;margin:3px 0;}
.appmsg_edit_item .frm_label{ display:block;margin:3px 0;height:30px;line-height:30px;font-weight:400;font-size:14px;}
.frm_label strong{ float:left;}
.frm_label .itips{padding-left:8px;float :left;color:#8d8d8d;}
.othertip{display:none;}
.frm_input_box{ display:block; width:80%; line-height:27px;}
.frm_input_box span{ width:100%;}
.appmsg_edit_item .frm_input{width:500px; line-height:22px;}
.appmsg_edit_item .mltxt{ width:500px;}

.appmsg_itemmain .appmsg_thumb_wrp .appmsg_thumb{float:none;width:100%;height:auto;margin:0;line-height:160px;font-size:16px;}

.edui-editor-bottomContainer{display:none;}
.appmsg_view{width:120px;padding:0 10px;height:30px;line-height:30px;background:#FFF;border:1px solid #CCC;cursor:pointer; display:none;}
.appmsg_view:hover{background:#e8e8e8;}

.appmsg_item .arrow_in,.appmsg_itemmain .arrow_in
{
    display:none;width: 0;height: 0;
    border-width: 15px;border-style: dashed;border-color: transparent;border-right-width: 0;border-left-color: #f08300;border-left-style: solid;
    top: 44px;right:-16px;position:absolute;                                
}
.current .arrow_in,.current .arrow_in{display:inline-block;}
.appmsg_itemmain.current .arrow_in{display:inline-block;right:-44px;}
.appmsg_content textarea{display:none;}


