{$HeaderHtml$}
<script type="text/javascript">
    var OBJ_TITLE = "{$title$}";
    var OBJ_ID = "{$ID$}";
    var SID = "{$SID$}";
</script>
{$AuthorityLayer$}
<div class="topadcs">{$detailed_ad$}</div>
<!--content:start-->
<div class="content">
    <div class="plc2 pro_curmbs"><span class="red_x">当前位置</span>：{$Loc$}</div>
    <div class="left2">
        <div class="left2_main">
            <div class="n_info_con" id="printableview">
                <h1>{$title$}</h1>
                <div class="info_con_tit">
                    <div class="info_con_tit">
                        <div class="n_tit">
                            <span class="fr" style="margin:0px;"><a href="{$ColumnURL$}" title="返回列表" target="_blank"><img src="{$temppath$}img/common/article_btn.gif" alt="返回列表" /></a></span>
                            <span>来源：{$rename$}</span>
                            {$mobileinfo$}
                            <span>浏览：<span id="cntrHits">-</span></span>
                            <span>发布日期：{$InputTime$}【<a href="javascript:;" onclick="ChangeFontSize(this,'16px')">大</a> <a class="cur" href="javascript:;" onclick="ChangeFontSize(this,'14px')">中</a> <a href="javascript:;" onclick="ChangeFontSize(this,'12px')">小</a>】</span>
                        </div>
                    </div>
                </div>
                <div id="cntrBody">{$Content$}</div>
                <div class="clear"></div>
                <div class="gduo" id="gduo">
                    <span>下一篇：<a title="{$nextTitle$}" href="{$nextUrl$}">{$nextTitle$}</a></span>
                    上一篇：<a title="{$backTilte$}" href="{$backUrl$}">{$backTilte$}</a>
                </div>  
            </div>
            
            <div class="n_info_con2">
                <h4 class="t04"><b>“</b>推荐阅读<b>”</b></h4>
                <div class="info_b">
                    <ul class="p_list_ul">{$RelevantArticle$}</ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="info_key">
                <span>【本文标签】：</span>{$keywords$}<br />
                <span>【责任编辑】：</span>{$rename$}<em></em>版权所有：<a href="{$sitedomain$}/" target="_blank" title="{$sitedomain$}/">{$sitedomain$}</a>转载请注明出处
            </div>
            </div>
        </div>
        <div class="left2bot"></div>
    </div>
    <div class="right2">
        <div class="right2_main">          
            <h4 class="t03 new_two"><a href="{$ColumnURL$}" title="{$ColumnName$}">{$ColumnName$}</a></h4>
            <ul class="n_rt_ul">{$cntrSimilarArticle$}</ul>
            <h4 class="t03 new_third"><a href="/news">最新资讯文章</a></h4>
            <ul class="n_rt_ul" id="cntrLastArticle">
                #set($keyvalues = "%{selectcount=10,orderby='ShowTime Desc',sid='0001,0027,0028'}")
                #foreach($row in $nt.GetDetailed($columntypes.news,$keyvalues).rows)
                <li><a href="$sitedomain$row.PageUrl" title="$row.title" target="_blank">$row.title</a></li>
                #end
            </ul>
            $c2.leftLx
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    {$type$}Load();   
    $(document).ready(function () {
        $(".n_rt_ul").find("li:lt(3)").addClass("cur");
    });

    $(document).ready(function () {
        $(window).scroll(function (a) {
            var LastArticleHeight = $("#cntrLastArticle").height();
            var LastArticleoffsetTop = $("#cntrLastArticle").offset().top;
            if ($(this).scrollTop() > (LastArticleHeight + LastArticleoffsetTop)) {
                $(".leiblx").addClass("fixeds");
            } else {
                $(".leiblx").removeClass("fixeds");
            }
        }).scroll();
    });

</script>
<!--content:end-->
{$FooterHtml$}