<!DOCTYPE HTML>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>中国环境标志产品认证证书(CEC2018ELP04206021)</title>
    <meta name="keywords" content="环境标志产品认证证书" />
    <meta name="description" content="【官网】红鑫办公家具定制获ISO质量管理认证、健康安全认证等,专注高档办公家具批发.红鑫办公家具批发包括木制类、胶板屏风类、软体类、钢制类办公家具.服务热线：400-678-5198" />
        <link key="skins" href="http://www.hongxin.com.cn/mobile/css/skins.css" rel="stylesheet" type="text/css" />
        <link key="common" href="http://www.hongxin.com.cn/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon-precomposed" href="/mobile/images/common/touch-icon.png" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body id='Details_Page'>
<div>
<header class="g-hd" id="top" name="top"> <a href="/mobile/" name="logo" class="m-logo"> <img src="/mobile/images/web/grey.gif" data-src="/mobile/uploadfiles/common/20161114114757_3727.gif" /> </a>
<p class="m-tel">办公家具整体配套大型生产厂家</p>
<p class="m-menu"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</header>
<div class="g-hd-f">
    <p class="fixed"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/mobile/Mhelps/contactus.html">联系</a></p>
</div>
<div class="g-back">
    <a href="javascript:history.go(-1);" class="u-bp f-fl"></a>
    <a href="/mobile/tools/ListNav.aspx?type=Help" class="u-bl f-fr"></a>
    <a href="/mobile/" class="u-bh f-fr"></a>
</div><div class="g-se">
     <span class="u-bt" ></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
  
<link href="/mobile/css/help.css" rel="stylesheet" type="text/css" />
<!--新闻详细页-->
<div class="g-bd">
    <!--新闻导航-->
    <h3  class="m-btit"><a href="/mobile/">首页</a><span></span><a href="/mobile/Mhelp/">帮助中心</a><span></span>中国环境标志产品认证证书(CEC2018ELP04206022)</h3>
    <div class="m-con">
        <!--新闻标题-->
        <div class="u-mtit f-tc s-wc">
            <h2>中国环境标志产品认证证书(CEC2018ELP04206022)</h2>
        </div>
        <!--新闻内容-->
        <div id="content" class="m-mcon">
            <p>
	<br  />
</p>
<p>
	<img src="/mobile/uploadfiles/pictures/help/20200110143039_8703.jpg_280.jpg" title="(CEC2018ELP04206022)" alt="(CEC2018ELP04206022)" />
</p>
        </div>
        <!--分页-->

        <!--联系我们-->
        <div class="m-cont">
            <h2 class="m-tit z-spe"><a href="###"  class="s-wc">联系武汉红鑫家俱有限公司</a><a href='tel:4006785198' class="u-ttel s-wc">400-678-5198</a></h2>
            <div class="m-con-2">
               <div class="m-nav">
                    <a href="tel:4006785198">
                        <dl class="nav">
                            <dt>
                                <img src="/mobile/css/Web/help1.png" width="65" height="65"></dt>
                            <dd class="s-wc">电话咨询</dd>
                        </dl>
                    </a>
                    <a href="/mobile/Tools/fx.aspx">
                        <dl class="nav">
                            <dt>
                                <img src="/mobile/css/Web/help5.png" width="65" height="65"></dt>
                            <dd class="s-wc">分享</dd>
                        </dl>
                    </a>
                     <a href="http://m.weibo.cn/">
                        <dl class="nav">
                            <dt>
                                <img src="/mobile/css/Web/help6.png" width="65" height="65"></dt>
                            <dd class="s-wc">企业微博</dd>
                        </dl>
                    </a>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!--底部开始-->
<footer class="g-ft">
    <p class="u-top"><a href="/mobile/"><span><img src="/mobile/css/Common/top1.gif" alt="返回首页"></span>返回首页</a><a href="/mobile/sitemap.html" title="网站地图"><span><img src="/mobile/css/Common/top2.gif" alt="网站地图"></span>网站地图</a></p>
    <p class="u-di">武汉红鑫家俱有限公司   版权所有</p>
    <p class="u-tel">咨询电话：<a href="tel:4006785198">400-678-5198</a></p>
    <div class="social_nav5">
      <ul>
        <li class="cur"><a ><em></em>办公家具分类 </a><i>
        	<a href="/dbtxl.html"><span><img src="/mobile/css/Common/f_ico1.png" ></span>大班台</a>
            <a href="/bgpfxl.html"><span><img src="/mobile/css/Common/f_ico2.png" ></span>办公屏风</a>
            <a href="/hyzxl.html"><span><img src="/mobile/css/Common/f_ico3.png" ></span>会议桌</a>
            <a href="/bgzxl.html"><span><img src="/mobile/css/Common/f_ico9.png" ></span>办公桌</a>
            <a href="/bgyxl.html"><span><img src="/mobile/css/Common/f_ico4.png" ></span>办公椅</a>
            <a href="/wjgxl.html"><span><img src="/mobile/css/Common/f_ico5.png" ></span>文件柜</a>
            <a href="/sfcjxl.html"><span><img src="/mobile/css/Common/f_ico6.png" ></span>沙发茶几</a>
            <a href="/bgqtxl.html"><span><img src="/mobile/css/Common/f_ico7.png" ></span>办公前台</a>
            <a href="/ggdxl.html"><span><img src="/mobile/css/Common/f_ico8.png" ></span>高隔断</a>
            <a href="/bgzsxl.html"><span><img src="/mobile/css/Common/f_ico10.png" ></span>办公装饰</a>
        </i></li>      
        <li><a href="/xxtyg.html"><em></em>线下体验馆</a></li>
        <li><a  href="http://p.qiao.baidu.com/cps/chat?siteId=3552126&userId=2186107" ><em></em>在线咨询</a> </li>
        <li><a href="tel:4006785198"><em></em>立即拨号</a> </li>
      </ul>
    </div>
  </footer></div>
<script type="text/javascript" key="jquery" src="http://www.hongxin.com.cn/mobile/js/Jquery.js"></script>
<script type="text/javascript" key="nsw_mobile" src="http://www.hongxin.com.cn/mobile/js/Nsw_mobile.js"></script>
<script type="text/javascript" key="tools" src="http://www.hongxin.com.cn/mobile/js/Tools.js"></script>
<!--<script>
    try {
        $("img").each(function () {

            var src = $(this);

            var src2 = $(this);

            var img = new Image;

            img.onload = function () {

                if (img.width > 310) {

                    src2.css("width", "100%");
                    src2.css("height", "auto");
                }
                else {
                    src2.css("width", "auto");
                }
            };

            img.src = src.attr("src");

        });


    } catch (e) { }
</script>-->
    <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?be518259b9bd320fa77e6e8ed06e09c7"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html> 