/*leaveword02*/
.temp_on_inp { height:284px; overflow:hidden; padding-top:90px; }
.temp_on_inp dl { width:418px; height:284px; float:left; overflow:hidden; float:left; position:relative; }
.temp_on_inp dt { width:418px; height:284px; }
.temp_on_inp dt img { width:418px; height:284px; }
.temp_on_inp dd { width:176px; height:100px; background:url(Img/Leaveword/tm55.png); position:absolute; top:146px; right:38px; text-align:center; }
.temp_on_inp dd span { display:block; font:14px "Microsoft YaHei"; color:#333; line-height:24px; height:24px; padding-top:10px; }
.temp_on_inp dd p { font:22px Impact; color:#009b57; line-height:24px; height:30px; }
.temp_on_inp dd em { width:144px; height:25px; background:#ff9900; font:14px "Microsoft YaHei"; color:#fff; line-height:25px; text-align:center; display:block; margin:0 auto; }
.temp_on_inp dd em a { color:#fff; }
.temp_on_con { width:544px; overflow:hidden; }
.temp_on_con h3 { height:30px; font:18px "Microsoft YaHei"; font-weight:bold; color:#009b57; line-height:18px; }
.temp_on_con h3 span { font:16px Arial; font-weight:normal; color:#8b8b8b; line-height:16px; text-transform:uppercase; }
.temp_on_con h3 a { color:#009b57; }
.temp_on_con li { height:34px; width:250px; float:left; margin:0 0 10px 0px; font:12px "Microsoft YaHei"; color:#ff0000; line-height:34px; overflow:hidden; background:url(Img/Leaveword/on_t1.jpg) no-repeat left top; }
.temp_on_con li span { font:12px "Microsoft YaHei"; color:#676767; line-height:34px; float:left; padding-left:10px; display:inline-block; }
.temp_on_con li input { width:184px; height:34px; border:0; background:none; font:14px "Microsoft YaHei"; color:#999; line-height:34px; float:left; margin-right:10px; }
.temp_on_con .inp1 { margin-right:44px; }
.temp_on_con .inp2 { width:544px; background:url(Img/Leaveword/on_t2.jpg) no-repeat left top; }
.temp_on_con .inp2 input { width:478px; outline:none; }
.temp_on_con .inp3 { width:544px; height:68px; background:url(Img/Leaveword/on_t3.jpg) no-repeat left top; }
.temp_on_con .inp3 textarea { width:478px; height:58px; background:none; resize:none; overflow:auto; outline:none; border:0; font:12px "Microsoft YaHei"; color:#999; line-height:18px; float:left; padding-top:8px; margin-right:10px; }
.temp_on_con .inp4 { width:330px; margin-bottom:14px; }
.temp_on_con .inp4 input { width:174px; margin-right:10px; }
.temp_on_con .inp4 img { width:64xp; height:24px; float:right; margin-top:4px; }
.temp_on_con .inp5 { background:none; height:32px; }
.temp_on_con .inp5 input { width:104px; height:32px; margin-right:16px; cursor:pointer; cursor:pointer; }
.temp_on_con .inp5 .onb1 { background:url(Img/Leaveword/on_b2.jpg) no-repeat center top; }
.temp_on_con .inp5 .onb2 { background:url(Img/Leaveword/on_b1.jpg) no-repeat center top; }
