@charset "utf-8";
html{color:#000;background:#FFF; }
body { color:#666;font:12px/1.231 arial,helvetica,clean,sans-serif,"Microsoft Yahei";} /*网站字体颜色*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;} 
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input,select{vertical-align:middle;}
body{font:12px/1.231 arial,helvetica,clean,sans-serif; font-family:'Microsoft YaHei','微软雅黑';}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%; border-collapse:collapse;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/*title*/
h1 { font-size:32px;}
h2 { font-size:26px;}
h3 { font-size:20px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:10px;}

.mt10{ margin-top:10px;}

.clear { clear:both; line-height:0px; overflow:hidden; zoom:1; font-size:0px; content:'.';}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
a { color:#666; text-decoration:none;}  /*for ie f6n.net*/
a:focus{outline:0;} /*for ff f6n.net*/
a:hover {text-decoration:none;cursor: pointer;}
.vam { vertical-align:middle;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
p{ word-spacing:-1.5px;}
.tr { text-align:right;}
.tl { text-align:left;}
.center { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.pa{ position:absolute;}
.pr{ position:relative}
/* -- 购物车外部框架 -- */
.cart_header , .cart_content , .cart_footer { width:760px; margin:0 auto;}

.cart_content{ margin-top:15px; margin-bottom:15px;}

/* -- 页面整体布局 -- */
.header , .content , .footer { width:1000px; margin:0 auto;  }
.left,.leftr{ width:216px; float:left; overflow:hidden;}
.leftr{ float:left;}
.left2 { width:700px; float:left; overflow:hidden; margin-top:15px;}
.left3 { width:754px; float:left; overflow:hidden; color:#666;}
.lefttop {height:0px; font-size:0; overflow:hidden; margin-top:10px;}
.leftbot { height:0px; font-size:0; overflow:hidden;  margin-bottom:10px;}
.left2bot { height:0px; font-size:0; overflow:hidden; margin-bottom:10px; }

.right,.rightl{ width:760px; float:right; display:inline;overflow:hidden;}
.rightl{ float:right;}
.right2 { width:275px;  float:right; overflow:hidden;margin-top:15px;}
.right3 { width:201px; float:right; overflow:hidden; color:#666;}
.rightbot { height:0px; font-size:0; overflow:hidden; margin-bottom:10px;}
.right2bot { height:0px; font-size:0; overflow:hidden; margin-bottom:10px;}

.right_main { width:760px; overflow:hidden; }
.right2_main { width:273px;overflow:hidden;}
.left2_main { width:700px;overflow:hidden;}

.h_nav li a:-webkit-any-link{ display:block;}
i,em{ font-style:normal;}







/*头部开始*/
.g-top{height: 202px;background: url(Img/Common/th_03.jpg) repeat-x;position:relative;z-index:9999999}
.header{width: 1000px;position: relative;}
.nav { height:30px; font:12px "Microsoft YaHei"; color:#9b9b9b; line-height:30px;}
.nav p a{ color:#999999;padding: 0 7px;}
.nav p a:hover{ color:#E60012}
.nav p .nones { background:none}

.top{ height:122px; overflow:hidden;}
.logo { float:left; font-size:0; line-height:0; padding-top:40px;width: 334px;}
.zi1 { float:left;margin-top: 45px;margin-left: 20px; font:20px "Microsoft YaHei"; color:#333333;}
.zi1 p{font:16px  "Microsoft YaHei"; color:#333333;font-weight: bold;margin-top: 4px;}
.zi1 span{color: #e70012}

.tel{ padding-left:40px; margin-top:45px; background:url(Img/Common/yu_03.jpg) no-repeat 0;float:right;}
.tel span {display:block; font:24px "Arial"; color:#e60012;font-weight: bold;}
.tel p{margin-left: 10px;  font:14px "Microsoft YaHei"; color:#333333; float:right;float: left;display: inline;}
.lb a{display: block; background:url(Img/Common/top_20.jpg) no-repeat left center;padding-left: 30px; font:14px "Microsoft YaHei"; color:#ff0000;font-weight: bold; position: absolute;left:490px;top:5px;}

.menu{width: 1000px; }
.menu li{ float: left;background:url(Img/Common/top_30.jpg) no-repeat right center; position: relative;}
.menu .none{background: none}
.menu li a{font:16px "Microsoft YaHei";color: #333333; line-height: 47px;text-align: center;display: inline-block;height: 47px;padding: 0 23px;}
.menu li a:hover,.menu .cur a{text-decoration: none;color: #e60012}
.menu li.ts a{background:url(Img/Common/top_28.jpg) no-repeat 84px 5px;}
.menu .tfs{ width:134px;}
.menu .tfs:hover,.menu .cur .tfs {background: #e60012 url(Img/Common/top_34.jpg) no-repeat 5px 18px;color: #fff;}
.menu .tfs:hover a,.menu .cur .tfs a{ color:#fff}


.menu .erji{ position: absolute;left: 0px;top:47px;width:100%;background: #fff;box-shadow:0 2px 6px #ccc; z-index:1000; border-top:3px solid #E60012; display:none}
.menu .erji span{display: block;width: 100%;height: 39px;}
.menu .erji span a{padding: 0; display: block;border-bottom: 1px solid #e1e1e1;text-align: left; font:14px "Microsoft YaHei";color: #333333;line-height: 39px;height: 39px;}
.menu .erji span.cur a.sp_a,.menu .erji span a.sp_a:hover{background: #fed8bf;color: #333;}
.menu .erji span a img{vertical-align: middle;padding: 0 5px 0 16px;}

.menu .sanji{position: absolute;left:100%;top:0px;background: #fff;box-shadow:0 0 6px #ccc;width: 600px;padding: 0px; display:none;height: 100%;}
.menu .sanji em{display: block;width: 252px;float: left;margin: 0px 8px;}
.menu .sanji em a{ background:none;font:14px "Microsoft YaHei";color: #333;height: 38px;border-bottom: 1px dashed #c7c7c7;line-height: 38px;padding:0;text-align:center;display: block;}
.menu .sanji em a:hover,.menu .sanji em a.cur{background: none;color: #e70012;}
.menu .sanji b{width: 331px;float: left;height: 238px;}
.menu .sanji b img{display: block;width: 311px;height: 218px;}
.menu .sanji i{font-style: normal;padding-right: 20px;}
.menu .sanji a:hover i,.menu .sanji a.cur i{font-style: normal;background: url(Img/Common/ic_06.jpg) no-repeat right center;display: inline-block;}
.menu .sanji b a:hover{background: none;border: 0px;}
.menu .sanji b a{border: 0px;text-align: left; display:none; padding:0}
.menu .sanji b a img{padding: 10px;}
/*头部结束*



.gc_padding {
	padding-top: 70px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



.gc_phone {
	width: 50%;
	float: right;
}

.gc_phone ul li {
	float: right;
	margin-left: 20px;
	line-height: 20px;
	width: 80px;
	text-align: center;
}

.gc_phone ul li a {
	color: #666;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
}







/*底部开始*/
.g-bot{height: 340px;background: url(Img/Common/cif.jpg) repeat-x;}
.bot-t{height: 50px;}
.bot-t a{background:url(Img/Common/bot_07.jpg) no-repeat right center; font:16px "Microsoft YaHei";color: #fff; line-height: 50px;text-align: center;display: inline-block;height: 50px;padding: 0; width:122px}
.bot-t a.none{background: none}
.bot-t a:hover{text-decoration: none;background: url(Img/Common/bot_05.jpg) no-repeat center;}

.bot-c{height: 200px;border-bottom: 1px solid #d2d2d2;position: relative;width: 1000px;}
.bot-c ul{padding-top: 75px;float: left;}
.bot-c li{width: 465px;float: left;font:12px "Microsoft YaHei";color: #666666;padding-bottom: 13px;}
.bot-c li img{vertical-align: middle;padding-right: 5px;}
.bot-c li b{font-style: normal;display: inline-block;padding-left: 15px;font-weight: normal;}
.bot-c li b a:hover{ color:#E60012}
.bot-c em{display: block;position: absolute;left: 0px;top:23px;}
.bot-c span.spanewm{display: block;position: absolute;right: 0px;top:26px;width: 128px;}
.bot-c span.spanewm img{display: block;width: 106px;height: 124px;padding: 10px;border: 1px solid #dcdcdc;}


.link p{padding-top: 25px;width: 100px;float: left;}
.link p .a1{font:18px "Microsoft YaHei"; color:#e60012;display: block;font-weight: bold;}
.link p .a2{font:12px "Microsoft YaHei"; color:#666666;padding-top: 5px;display: block;}
.link span{display: inline-block;width: 870px;float: right;padding-top: 25px;}
.link span a{font:12px "Microsoft YaHei"; color:#666666;padding: 0 30px;display: inline-block;line-height: 24px;float: left;}
.link a:hover{ color:#E60012}
.link p .a2:hover{ font-weight:bold;}
/*底部结束*/

.pfb{ display:none;height: 48px;background: url(Img/Common/pfbj_01.png) no-repeat center 0;position:fixed;top:0;_bottom:auto;z-index:10000;_position:absolute;overflow:visible;_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); width:100%;
position:fixed;right:0;top:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.8));}
.fb ul{float: left;display: inline-block;font:16px "Microsoft YaHei"; color:#fff;padding-left: 112px;}
.fb ul li{ float:left; position:relative}
.fb ul li a{font:16px "Microsoft YaHei"; color:#fff;padding: 0 15px;display: inline-block;height: 39px;line-height: 39px;}
.fb ul li a.fb_a_f{ padding:0 30px}
.fb ul li:hover a.fb_a,.fb ul li.cur a.fb_a{background: #4b4a4a}
.fb ul li a.ts{background: url(Img/Common/top_07.jpg) no-repeat right 0;}
.fsr{float: left;margin-top: 6px;padding-left: 15px;}
.fsr .inp01s{border: 0px;color: #666666;font-size: 12px; font-family:'Microsoft YaHei';float: left;height:25px;width:123px;padding-left: 30px; line-height:25px;}
.fsr .inp02s{width:56px;cursor: pointer; height:25px;float: left;border: 0px;background: url(Img/Common/top_13.jpg) no-repeat;}
.pfb em{font:20px "Arial"; color:#fff;font-weight: bold;float: right;font-style: normal;padding-right: 23px;padding-top: 5px;}

.pfb .erji{ position: absolute;left: 0px;top:40px;width:100%;background: #fff;box-shadow:0 2px 6px #ccc; z-index:1000; border-top:3px solid #E60012; display:none;}
.pfb .erji span{display: block;width: 100%;height: 39px;}
.pfb .erji span a{padding: 0; display: block;border-bottom: 1px solid #e1e1e1;text-align: left; font:14px "Microsoft YaHei";color: #333333;line-height: 39px;height: 39px;}
.pfb .erji span.cur a.sp_a,.pfb .erji span a.sp_a:hover{background: #fed8bf;color: #333;}
.pfb .erji span a img{vertical-align: middle;padding: 0 5px 0 15px;}

.pfb .sanji{position: absolute;left:100%;top:0px;background: #fff;box-shadow:0 0 6px #ccc;width: 487px;padding: 0px; display:none;height: 100%;}
.pfb .sanji em{display: block;width: 140px;float: left;margin: 0px 8px; padding:0;}
.pfb .sanji em a{ background:none;font:14px "Microsoft YaHei";color: #333;height: 38px;border-bottom: 1px dashed #c7c7c7;line-height: 38px; padding:0;text-align: center;display: block;}
.pfb .sanji em a:hover,.pfb .sanji em a.cur{background: none;color: #e70012;}
.pfb .sanji b{width: 331px;float: left;height: 238px;}
.pfb .sanji b img{display: block;width: 311px;height: 218px;}
.pfb .sanji i{font-style: normal;padding-right: 20px;}
.pfb .sanji a:hover i,.pfb .sanji a.cur i{font-style: normal;background: url(Img/Common/ic_06.jpg) no-repeat right center;display: inline-block;}
.pfb .sanji b a:hover{background: none;border: 0px;}
.pfb .sanji b a{border: 0px;text-align: left; color:#333; display:none; padding:0}
.pfb .sanji b a img{padding: 10px;}
/**/
.ban-ss{height: 55px;background: #f4f4f4;}
.banan-t p{color: #666666;font-size: 12px;font-family:'Microsoft YaHei';float: left;}
.banan-t p b{font-family:'Microsoft YaHei';font-weight: normal; float: left;line-height: 55px; display: inline-block;color: #666666;font-size: 12px;}
.banan-t a{color: #666666;font-size: 12px;font-family:'Microsoft YaHei';line-height: 55px;padding-right: 8px;}

.banan-tr{float: right;height: 30px;margin-top: 12px;}
.banan-tr .inp01s{border: 0px;color: #666666;font-size: 12px; font-family:'Microsoft YaHei';float: left;height:28px;width:124px;padding-left: 20px; line-height:28px;border: 1px solid #c9c9c9}
.banan-tr .inp02s{width:92px;cursor: pointer; height:30px;float: left;border: 0px;background: url(Img/Index/ban_07.jpg) no-repeat;}
.banan-tr span{display: inline-block;width: 99px;height: 30px;float: left;line-height: 30px;padding-left: 0;margin: 0 5px;}
.banan-tr span .tag_select{ white-space:nowrap; text-overflow:ellipsis; }
.banan-tr span .tag_select_hover{ white-space:nowrap;}
.banan-tr span .select_box{ width:99px;}
.banan-tr span .select_box{height:26px; text-indent:10px; font: 12px "Microsoft YaHei";color: #221815;height: 32px;background: url(Img/Index/ban_05.jpg) no-repeat;line-height: 30px;z-index: 999;}
.banan-tr span .select_box .tag_options{ background:#EFF4F7; width:97px;border: 1px solid #ccc;border-top: 0;}
.banan-tr span .select_box .tag_options .open{ border-bottom:1px solid #f1f1f1;}
.banan-tr span .select_box .tag_options .open_hover{ background:#fff;}
.banan-tr span .select_box .tag_options .open_selected{ background:#fff; color:#0072A6;}


a.gf {padding-left: 0; position: relative;}
.m_wx { background: #fff none repeat scroll 0 0; border: 1px dashed #ccc; color: #333; display: none; left: -127px; position: absolute; text-align: center; top: -10px; width: 120px;}
.m_wx img { height: 120px; width: 120px;}


/*下拉框*/
.header .erj{position: absolute;top: 124px;left:0;width: 100%;display: none;z-index: 100;}
.header .erj li{background: none;height: 38px; float:left; width:100%; border-bottom:1px solid #EEEFEA;}
.header .erj li a{margin-top: 0; line-height:38px;text-align: center;width:100%; padding:0;background: #DDD1C3; color:#333}
.header .erj li:hover a{background: #E70012;color:#fff;}
 /*temp.css*/
#nodata { padding:80px; padding-left:150px; border:solid 1px #eee;margin:10px 0; background:url(img/nodata.gif) no-repeat 20px 20px;}
/* -- 弹出窗口 -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:398px;border:1px solid #ccc;background:#fff; padding-bottom:20px;}
#mesbook1_c div, #mesbook1 div{ border:1px solid #E4E3E3; background:#EBECEB;height:18px; padding:4px .5em 0; margin-bottom:10px;}
#mesbook1_c dl.b1, #mesbook1 dl.b1 { width:370px; margin:0 auto;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt { float:left; width:105px; overflow:hidden; }
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:265px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}
#mesbook1_c #mesbook1_cBtns input, #mesbook1 #mesbook1Btns input {margin-right:20px;}
/*rollup.css*/
#roll_top,#fall,#ct{position:relative;cursor:pointer;height:72px;width:26px}
#roll_top{background:url(/Skins/Default/Img/top.gif) no-repeat}
#fall{background:url(/Skins/Default/Img/top.gif) no-repeat 0 -80px}
#ct{background:url(/Skins/Default/Img/top.gif) no-repeat 0 -40px}
#roll{display:block;width:15px;margin-right:-520px;position:fixed;right:50%;top:80%;_margin-right:-520px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.8)); z-index:100;}

.ImTable *{padding:0px;margin:0px}
.ImTable{border-collapse:collapse;border:none;background:url(/UserControls/im/kefu/bg.gif)}
.ImTable h2{font-size:14px;font-weight:bold;margin-top:5px}
.ImHeader{height:165px;background:url(/UserControls/im/kefu/im_01.gif)}
.ImRow0{background:url(/UserControls/im/kefu/ico_item1.gif) no-repeat;margin:10px 10px 0;height:24px;padding-left:10px;padding-top:4px; }
.ImRow1{background:url(/UserControls/im/kefu/ico_item1.gif) no-repeat;margin:10px 10px 0;height:24px;padding-left:10px;padding-top:4px;}
a.im,a:hover.im{text-decoration:none;height:35px;color:#333; font-size:14px;}
.ImFooter{height:90px;background:url(/UserControls/im/kefu/im_04.jpg) no-repeat; display:inline-block; width:150px;font-family:Arial,Helvetica,sans-serif;}
.ImFooter h5{font-size:14px;font-weight:normal; color:#fff;text-align:center;margin:15px 0 0;font-family:'Microsoft Yahei';}
.ImFooter p{font-size:20px;font-weight:bold;  color:#fff;text-align:center;margin:10px 0;}



/* -- 当前位置 -- */
.topadcs{width:100%; overflow:hidden; text-align:center;margin:0 auto; margin-bottom:0;}
.topadcs a img{ width:100%; height:auto; display:block;}
.topadcs a{display:block;margin:0 auto;}
.topadcs a.fullad{ height:300px;}

.plc,.plc2{ background:url(Img/logo_03.png) no-repeat 2px 6px;height:32px;line-height:32px;padding:7px 8px 8px 42px; position:relative; color:#666; overflow:hidden; font-size:16px; border-bottom:1px solid #ececec; padding-bottom:8px; font-family:"Microsoft Yahei","微软雅黑";}
.plc span {}
.plc i,.plc2 i,.plc a{ font-style:normal; font-size:16px; color:#666;}
.red_x { color:#E70012; display:inline; font-family:"Microsoft YaHei"; font-size:16px;}
.plc .red_x,.plc2 .red_x,.plc span{ color:#E70012; font-weight:bold; font-size:16px;}
.red_x1 { color:#f00; display:inline; font-family:"Microsoft YaHei"; font-size:16px;}
.plc a:hover,.plc2 a:hover{ text-decoration:none; color:#E70012}
