<header class="g-hd" id="top" name="top"> <a href="/Mobile/" name="logo" class="m-logo"> <img src="/mobile/images/web/grey.gif" data-src="$mc.MLogo" /> </a>
<p class="m-tel">办公家具整体配套大型生产厂家</p>
<p class="m-menu"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/Mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/Mobile/Mhelps/contactus.html">联系</a></p>
</header>
<div class="g-hd-f">
    <p class="fixed"><a href="/mobile/">首页</a><a href="/cgal.html">案例</a><a href="/Mobile/Mhelps/dzfw.html">定制</a><a href="/gcsl.html">实力</a><a href="/Mobile/Mhelps/contactus.html">联系</a></p>
</div>
