@charset "utf-8";
/* CSS Document */
/*common*/
.mb10 { margin-bottom:10px;}
.ml10 { margin-left:10px;}
.bg { background:#FFF;}
body{ font-family:"Microsoft YaHei";}
/*ban*/
.ban{margin:0 auto;}
.ban a{ display:block;height:339px; overflow:hidden; background:url(Img/pub/ban1.jpg) center top no-repeat;}


.pb_tu{ line-height:60px;height:60px; overflow:hidden; background:#f8f1e9; color:#958e95;}
.pb_tu a{ color:#958e95;margin:0 3px;}
.pb_h{ padding:0 6px 0 0;display:inline-block; line-height:41px;height:41px; border-top:3px #7a6550 solid; border-bottom:1px #7a6550 solid;}
.pb_h a{ font-size:26px; color:#493826;margin:0 10px 0 0;}
.pb_h i{ font-style:normal; text-transform:uppercase; font-family:Arial; font-size:16px; color:#958e95;}


.dep{height:340px;padding:25px 25px 0; overflow:hidden; background:#f8f1e9;}
.dep1{margin:0 0 50px;height:340px;padding:25px 25px 0; overflow:hidden; background:#f8f1e9;}
.dep_l{padding:33px 22px 0 25px;height:277px;width:204px; overflow:hidden; color:#fff;background:url(Img/Index/dep1.jpg) left top no-repeat;}
.dep_l h4{ line-height:59px; border-bottom:1px #fff solid;height:59px; overflow:hidden; font-size:32px;}
.dep_l span{ display:block;padding:14px 0 0; line-height:28px; font-size:20px; text-indent:1em;height:70px; overflow:hidden;}
.dep_l p{ line-height:24px; font-size:16px;}
.dep_l p b{ display:block; line-height:28px; font-family:Arial; font-size:20px;}
.dep_r{width:655px; overflow:hidden;padding:0 28px 0 0;}
.dep_r h4{ line-height:24px; border-bottom:1px #dfd5cb solid;height:36px; overflow:hidden; font-size:20px;}
.dep_r h4 a{ color:#7a644f;}
.dep_r dd{ float:right;width:407px; overflow:hidden;}
.dep_r p{padding:10px 0 0; line-height:26px; font-size:14px; color:#7a644f;height:235px; overflow:hidden;}
.dep_r dd span{}
.dep_r dd span a{ display:inline-block; text-align:center;width:85px; line-height:24px;height:24px; overflow:hidden; color:#fff; font-size:14px; background:#7a6550;}
.dep_r dd span .ic2{ color:#493826;width:126px;
background:url(Img/Index/dep_r_ic.gif) left top no-repeat;}
.dep_r dt{width:211px; overflow:hidden; line-height:0; font-size:0;}
.dep_r dt img{margin:0 0 21px;}

.pb_h1{margin:51px 0 32px;}


/*产品详细页1*/       
.pb_h2{ background:url(Img/pub/pb_h2.jpg) no-repeat; display:block; border:0; height:45px; line-height:45px;}
.pb_h3{background:url(Img/pub/pb_h3.jpg) no-repeat;padding:0}
.cpx1{ margin:58px 0 0;height:482px; overflow:hidden;}
.cpx1 dt{ float:left; line-height:0; font-size:0;width:565px; overflow:hidden;height:396px;padding:15px 20px 15px 15px; border:1px #e1d9d1 solid; position:relative;}
.cpx1 dt em img{width:569px;height:396px; overflow:hidden;}
.cpx1 dt i,.cpx1 dt b{ top:182px; z-index:3;position:absolute; display:inline-block;width:58px;height:58px; overflow:hidden;}
.cpx1 dt i{left:27px;}
.cpx1 dt b{right:27px;}
.cpx1 dd{width:364px; height:416px;overflow:hidden;padding:10px 0 0 35px; border:1px #e1d9d1 solid; border-left:none; float:right;}
.cpx1 dd h4{ border-bottom:1px #e1d9d1 solid;font-weight:100; line-height:52px;height:52px; overflow:hidden;}
.cpx1 dd h4 a{ font-size:26px; color:#493826;}
.cpx1 dd h5{font-weight:100;padding:6px 0 0 29px; line-height:46px;height:46px; overflow:hidden;background:url(Img/pub/lb_ic3.gif) left 21px no-repeat; color:#493826; font-size:16px;}
.cpx1 dd p{overflow:hidden; line-height:26px; color:#7a644f; font-size:14px;}
.cpx1 dd span a{margin:30px 0 0; display:inline-block;width:105px;padding:0 0 0 106px; line-height:24px;height:24px; overflow:hidden;background:url(Img/pub/cxx1.gif) left top no-repeat; font-size:14px; color:#493826;}

.cpx2w{ padding:55px 0;}
.cpx2{padding:0 57px 0 0;height:535px; overflow:hidden; background:#fff;}
.cpx2 img{width:632px;height:473px; overflow:hidden; display:block;}
.cpx2 dd{width:225px; overflow:hidden;padding:6px 0 0;}
.cpx2 dd h4{ text-align:center; color:#fff;width:140px; font-size:26px;line-height:62px;height:62px; overflow:hidden; background:#de6f54;}
.cpx2 dd p{padding:22px 0 0 32px;}
.cpx2 dd p b{ display:block; line-height:28px;height:28px; overflow:hidden; color:#de6f54; font-size:16px;}
.cpx2 dd p span{ display:block; font-size:14px; color:#958e95; line-height:26px;}
.cpx3{ clear:both;height:865px; overflow:hidden;}
.cpx3 dd h4{padding:9px 0 0 23px;height:168px; overflow:hidden; color:#f8f1e9; background:#de6f54;}
.cpx3 dd h4 b{ display:inline-block; font-size:44px; font-family:"宋体";padding:0 40px 0 0;background:url(Img/pub/cpx3_ic.gif) right 13px no-repeat; }
.cpx3 dd h4 i{ display:block; font-style:normal; font-weight:bold; font-size:16px; height:37px; line-height:25px;color:#fff;}
.cpx3 dd h4 span{ font-weight:100; display:block; font-size:16px; line-height:26px;}
.cpx3 dd p{padding:16px 50px 0 23px;height:136px; overflow:hidden; text-transform:uppercase; line-height:20px; color:#b2aea9; font-size:12px; font-family:Arial;}
.cpx3 dd em a{ font-style:normal;margin:0 0 0 25px; display:inline-block;width:105px;padding:0 0 0 106px; line-height:24px;height:24px; overflow:hidden;background:url(Img/pub/cxx1.gif) left top no-repeat; font-size:14px; color:#493826;}
.cpx3 .cpx3a dt{ float:left; line-height:0; font-size:0;}
.cpx3 .cpx3a{height:460px; overflow:hidden;}
.cpx3 .cpx3a dd{ float:right;width:314px;height:461px; background:#fff;}
.cpx3 .cpx3b{ position:relative;width:501px;height:335px; overflow:hidden; float:left;}
.cpx3 .cpx3b dd{  background:#de6f54;position:absolute;width:314px;height:177px;padding:10px 0 0;right:0;top:0; z-index:3;}
.cpx3 .cpx3c{ position:relative;width:501px;height:335px;overflow:hidden;float:left;}
.cpx3 .cpx3c dd{ background:#de6f54; position:absolute;width:314px;height:177px;padding:10px 0 0;right:0;bottom:0; z-index:3;}
.cpx3 dd a:hover{ text-decoration:none;}
.dep1{margin-top:32px;}
.cpx4{padding:14px;border:2px #dfd5cb solid; clear:both;margin:50px 0;}
.cpx4 b{ border:1px #e9e2da solid; text-align:center; font-size:20px; color:#7a6550;display:block; line-height:82px;height:82px;}
.cpx4 a{margin:0 auto;padding:0 46px 0 0; color:#7a6550; display:inline-block; line-height:82px;height:82px;background:url(Img/pub/cpx_odic.gif) right 29px no-repeat; vertical-align:top;}

.pb_h3 span{ float:right; padding-top:13px; line-height:0}
.pb_h3 a { margin:0; padding-right:8px;}
.pb_h3 span a { padding-right:0}
.pb_h3 img { padding-left:12px;}
.cpx_anl{ height:348px; overflow:hidden}
.cpx_anl dl { float:left; width:315px; padding:39px 28px 0 0}
.cpx_anl dt { font-size:0; line-height:0}
.cpx_anl dt img { width:315px; height:220px;}
.cpx_anl dd { height:41px; border-bottom:3px solid #efdcc6; background:#f8f1e9; text-align:center; line-height:41px;}
.cpx_anl dd a { font:14px "Microsoft YaHei"; color:#493826; line-height:41px; background:url(Img/pub/ico1.png) no-repeat right; padding-right:30px; display:inline-block}
.cpx_anl .nones { padding:39px 0 0}

.list1 { background:#f8f1e9; height:478px; padding-top:41px; margin-top:40px;}
.cpx_dg{ height:430px; background:#fff; width:945px; margin:0 auto; padding:31px 29px 0 28px;}
.biaod { float:left; width:588px; padding-top:38px;}
.biaod li{ padding-bottom:11px; color:#6b5d4f}
.biaod li span { width:104px; display:inline-block; text-align:right; padding-right:6px;}
.k1, .k2 {border:1px solid #dfd5cb; line-height:27px; margin-right:10px; width:438px;}
.k1 { height:27px; }
.k2 { height:91px; vertical-align:top}
.anniu1 { padding:14px 0 0 113px;}
.anniu1 img { margin-right:29px;}
.dg_fr{ padding:34px 0 0 58px; width:266px; float:left}
.tel { padding-left:72px; background:url(Img/pub/ico2.jpg) no-repeat 8px 0; font:14px "Microsoft YaHei"; color:#493826}
.tel span { display:block; font:30px Arial; color:#dc5737;}
.tixing{ background:url(Img/pub/ico3.jpg) no-repeat; width:221px; height:117px; padding:21px 10px 0 28px; font:12px "Microsoft YaHei"; color:#493826; color:#493826; line-height:24px; margin-top:24px;}
.tixing span { display:block;}

.cpx_tj{ width:1002px; margin:0 auto; padding:46px 0 54px; height:397px;}
.pb_h4 { background:url(Img/pub/ico4.jpg) no-repeat;}
.tj_fl { float:left; width:549px; padding-top:40px;}
.tj_fl dt { font-size:0; line-height:0}
.tj_fl dt img { width:549px; height:237px}
.tj_fl dd { padding:12px 16px 0 16px; height:61px; border:1px solid #d2d2d2; color:#656565;}
.tj_fl dd p { font:18px "Microsoft YaHei"; color:#493826; padding-bottom:8px}
.tj_fl dd span a { float:right;}
.tj_fr { float:right; width:426px; padding-top:138px;}
.tj_fr li { float:left; text-align:center; padding-top:16px; height:87px;font:14px "Microsoft YaHei"; margin:4px 0 0 4px; display:inline}
.tj_fr li a {  color:#fff; font-weight:bold; display:block; padding-top:5px;}
.cpx_tj .a1,
.cpx_tj .a2 { width:208px;}
.cpx_tj .a3,.cpx_tj .a4,.cpx_tj .a5,.cpx_tj .a6 { width:102px;}
.cpx_tj .a1,.cpx_tj .a3 { background:#6e4d34;}
.cpx_tj .a2, .cpx_tj .a4 { background:#7f5b40}
.cpx_tj .a5{ background:#a17655}
.cpx_tj .a6 { background:#c0926f}


/*产品详细页2*/
.cpxq2 dd {padding:0 65px 0 35px; width:299px; height:426px;}
.cpxq2 dd p { padding:42px 0 44px; font-size:14px; color:#6d6d6d; line-height:24px;}

.intro{ padding:33px 25px 0 31px; width:676px; background:#f0f0f0; height:1360px; margin-bottom:26px; overflow:hidden;}
.hh1 a{ display:block; font:28px "Microsoft Yahei"; height:53px; line-height:53px; color:#333132; overflow:hidden; background:url(Img/pub/line.gif) no-repeat left bottom;}
.intro01{ height:565px; overflow:hidden;} 
.intro01 p{ padding-right:30px; font:14px "Microsoft Yahei"; color:#333132; line-height:30px;}
.intro01 p em{ padding:0 36px;}
.intro01 .p01{ margin-top:40px;}
.intro01 dl{ height:291px; overflow:hidden; margin-top:30px;}
.intro01 dt{ height:291px; width:410px; overflow:hidden; float:left;}
.intro01 dt img{ width:406px; height:287px; border:2px solid #fff;}
.intro01 dd{ width:261px; float:right; overflow:hidden;}
.intro01 dd img{ width:257px; height:139px; border:2px solid #fff; display:block; margin-bottom:5px;}

.gy{ height:305px; overflow:hidden;}
.gy ul{ margin-top:28px;}
.gy li{ width:159px; float:left; margin-right:13px; overflow:hidden;}
.gy li img{ width:159px; height:159px;}
.gy li span{ display:block; font:18px "Microsoft Yahei"; height:36px; line-height:36px; text-align:center; color:#333132; overflow:hidden;}
.gy .nones{ margin-right:0;}

.pic{ height:450px; overflow:hidden;}
.pic dl{ height:348px; overflow:hidden; margin-top:40px; padding-right:5px;}
.pic dt{ height:348px; width:292px; overflow:hidden; float:left;}
.pic dt img{ width:292px; height:348px;}
.pic dd{ width:374px; float:right; overflow:hidden;}
.pic dd img{ width:374px; height:171px;display:block; margin-bottom:5px;}

.cpx_fenl{ float:right; width:236px}
.cpx_fenl h4 { background:url(Img/pub/ico6.jpg) repeat-x; height:82px; font:16px Arial; color:#d8d7d8; font-weight:bold; line-height:75px; text-align:center; text-transform:uppercase; margin-bottom:10px;}
.cpx_fenl h4 a { font:20px "Microsoft YaHei"; color:#ffffff; font-weight:bold; padding-right:6px;}
.cpx_fenl li a{ display:block; height:51px; padding-left:22px; font:16px "Microsoft YaHei"; color:#424242; background:#f0f0f0 url(Img/pub/ico7.png) no-repeat 197px 20px; line-height:51px; margin-top:1px;}
.cpx_fenl li a:Hover, .cpx_fenl .cur a { background:#2ea5a9 url(Img/pub/ico7_h.png) no-repeat 197px 20px; display:block; color:#fff; text-decoration:none}
.sin { padding-top:14px;}
.sin p { position:relative; width:236px; height:111px; overflow:hidden; margin-bottom:6px;}
.sin span { position:absolute; left:39px; top:48px; font:18px "Microsoft YaHei"; color:#2ea5a9;}
.sin span em { background:url(Img/pub/ico8.png) no-repeat; width:28px; height:27px; text-align:center; line-height:27px; color:#fff; margin-right:7px; display:inline-block; font-size:12px}
.dianh { background:#2ea5a9; width:218px; height:61px; padding:16px 0 0 18px; font:16px "Microsoft YaHei"; color:#fff; margin-top:6px;}
.dianh span { display:block; font-size:30px;}

.content{ width:1002px;}

/*rd*/
.rd{padding:24px 0 0;height:246px; overflow:hidden; background:#dfd5cb;}
.rd h3{ line-height:57px;height:57px; overflow:hidden; padding:0 0 0 46px;font-size:30px;}
.rd h3 a{ color:#493826;}
.rd ul{padding:0 0 0 48px;width:910px; overflow:hidden;}
.rd ul li{ line-height:41px;height:42px; overflow:hidden; clear:both;}
.rd ul li b{ float:left; font-weight:100;}
.rd ul li b a{ font-size:16px; color:#493826;}
.rd ul li p{width:808px; float:right; overflow:hidden; border-bottom:1px #cec4ba solid;}
.rd ul li p a{ font-size:14px; color:#7a644f;margin:0 30px 0 0;}
.rd ul .lst p{ border:none;}
.rd .content{padding:0 0 30px;background:url(img/common/rd_l.gif) center 29px no-repeat;}

.shortdesc_div{overflow:hidden; line-height:26px; color:#7a644f; font-size:14px;height:286px;}