<!DOCTYPE HTML>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" name="viewport" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>日康mc</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!--<link href="/mobile/css/skins.css"  rel="stylesheet" type="text/css" />-->
        <link href="/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/mobile/css/index.css" rel="stylesheet" type="text/css" />
        <!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    <!--<script type="text/javascript"> function a(){ alert(document.body.clientWidth);}</script>
 onLoad="a()"
-->
    <body>
        <div class="wrap">
            <header class="g-hd">
                <a href="/mobile/index.html" name="logo" class="m-logo">
                    <img src="/mobile/images/web/grey.gif" data-src="/mobile/images/common/logo.gif" alt="" title="" />
                </a>
                <p class="m-tel">办公家具整体配套大型生产厂家</p>
                <p class="m-menu">
                    <a href="">首页</a>
                    <a href="">案例</a>
                    <a href="">定制</a>
                    <a href="">实力</a>
                    <a href="">联系</a>
                </p>
            </header>
            <section class="g-bd">
                <!--广告滚动1-->
                <div class="g-adv j-slide-auto">
                    <ul class="m-box">
                        <li>
                            <a href="Mproduct/listnav.html">
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/ban1.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="/mobile/Mproduct/listnav.html">
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/ban1.jpg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="/mobile/Mproduct/listnav.html">
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/ban1.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <!---->
                <div class="g-ss">
                    <input class="inp01" type="text" value="武汉办公家具厂 ">
                    <span class="scl_fri">
						<a href="#">
							<img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/s_s.gif" alt="">
						</a>
					</span>
                    <input class="u-in" type="button">
                </div>
                <!---->
                <div class="g-show j-slide-not">
                    <ul class="m-cnt">
                        <li>高管办公家具</li>
                        <li>职员办公家具 </li>
                        <li>公共办公家具</li>
                        <li>会议培训家具</li>
                        <li>办公配套饰品</li>
                        <a href="" class="mor">更多</a>
                    </ul>
                    <div class="m-box">
                        <div class="con">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img11.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img12.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img13.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img14.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                            </ul>
                        </div>
                        <div class="con">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img11.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img12.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img13.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img14.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                            </ul>
                        </div>
                        <div class="con">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img11.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img12.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img13.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img14.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                            </ul>
                        </div>
                        <div class="con">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img11.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img12.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img13.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img14.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                            </ul>
                        </div>
                        <div class="con">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img11.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img12.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img13.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/img14.jpg" alt="">
                                    </a>
                                    <span>
										<a href="#">
											<i>冠臣新发现板式大班台</i>冠臣新发现板式大班台
										</a>
									</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="g-case">
                    <a href="">
                        <h3>
                            <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/c_h3.jpg" alt="">
                        </h3>
                    </a>
                    <h2>
						<span>
							<a href="">查看更多+</a>
						</span>
                        <a href="">
                            <i>工程案例</i>
                        </a>
                    </h2>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/c_img1.jpg" alt="">
                            </dt>
                            <dd>
                                <h4>省职工科技文化中心</h4>
                                <p>省职工科技文化中心负责这个项目的是一位对产品有着严格要求的客户，在网上了解我们的产品后......</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/c_img2.jpg" alt="">
                            </dt>
                            <dd>
                                <h4>省职工科技文化中心</h4>
                                <p>省职工科技文化中心负责这个项目的是一位对产品有着严格要求的客户，在网上了解我们的产品后......</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/c_img3.jpg" alt="">
                            </dt>
                            <dd>
                                <h4>省职工科技文化中心</h4>
                                <p>省职工科技文化中心负责这个项目的是一位对产品有着严格要求的客户，在网上了解我们的产品后......</p>
                            </dd>
                        </a>
                    </dl>
                </div>
                <!---->
                <div class="g-ys">
                    <a href="">
                        <h3>
                            <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/y_h3.gif" alt="">
                        </h3>
                    </a>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/y_img1.png" alt="">
                            </dt>
                            <dd>
                                <h4>
                                    <span>01</span>价格优势
                                </h4>
                                <p>自建工厂，配备顶级生产设备和稳定技术人员，自产直销，自己配送和安装，缩减成本，价格比同行业低20%</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/y_img2.png" alt="">
                            </dt>
                            <dd>
                                <h4>
                                    <span>02</span>产品优势
                                </h4>
                                <p>有木质类、胶板屏风类，软体类、钢制类四大类别办公家具，秉承人性化设计理念，有现代风、传统风、古典实木众多风格家具</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/y_img3.png" alt="">
                            </dt>
                            <dd>
                                <h4>
                                    <span>03</span>专属定制
                                </h4>
                                <p>专业团队上门勘测，提供多空间风格选择，款式自由搭配，量身定制个性空间量身定做</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/y_img4.png" alt="">
                            </dt>
                            <dd>
                                <h4>
                                    <span>04</span>服务优势
                                </h4>
                                <p>O2O一站式体验，免费上门量尺，免费出3D效果图，免费制作配套方案，全程一对一对接服务，24小时无忧售后</p>
                            </dd>
                        </a>
                    </dl>
                </div>
                <!---->
                <div class="g-case2 g-case">
                    <h2>
						<span>
							<a href="">查看更多+</a>
						</span>
                        <a href="">
                            <i>行业资讯</i>
                        </a>
                    </h2>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/n_img1.jpg" alt="">
                            </dt>
                            <dd>
                                <p>根据最近几年的办公家具行业的数据分析，办公家具行业的越来越倾向于个性化发展，随着80后90后新生......</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/n_img2.jpg" alt="">
                            </dt>
                            <dd>
                                <p>根据最近几年的办公家具行业的数据分析，办公家具行业的越来越倾向于个性化发展，随着80后90后新生......</p>
                            </dd>
                        </a>
                    </dl>
                    <dl>
                        <a href="">
                            <dt>
                                <img src="/mobile/images/web/grey.gif" data-src="/mobile/css/Index/n_img3.jpg" alt="">
                            </dt>
                            <dd>
                                <p>根据最近几年的办公家具行业的数据分析，办公家具行业的越来越倾向于个性化发展，随着80后90后新生......</p>
                            </dd>
                        </a>
                    </dl>
                </div>
                <!---->
            </section>
            <footer class="g-ft">
                <p class="u-top">
                    <a href="#">
						<span>
							<img src="/mobile/css/Common/top1.gif" alt="">
						</span>返回首页
                    </a>
                    <a href="#">
						<span>
							<img src="/mobile/css/Common/top2.gif" alt="">
						</span>网站地图
                    </a>
                </p>
                <p class="u-di">武汉红鑫家俱有限公司 版权所有</p>
                <div class="social_nav5">
                    <ul>
                        <li class="cur">
                            <a href="tel:0317-3777566">
                                <em>
                                    <img src="/mobile/css/Common/ic1.png" alt="">
                                </em>办公家具分类
                            </a>
                            <i>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico1.png" alt="">
									</span>大班台
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico2.png" alt="">
									</span>办公屏风
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico3.png" alt="">
									</span>会议桌
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico4.png" alt="">
									</span>办公椅
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico5.png" alt="">
									</span>文件柜
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico6.png" alt="">
									</span>沙发茶几
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico7.png" alt="">
									</span>办公前台
                                </a>
                                <a href="">
									<span>
										<img src="/mobile/css/Common/f_ico8.png" alt="">
									</span>高隔断
                                </a>
                            </i>
                        </li>
                        <li>
                            <a href="#">
                                <em>
                                    <img src="/mobile/css/Common/ic2.png" alt="">
                                </em>工程案例
                            </a>
                            <i></i>
                        </li>
                        <li>
                            <a href="#">
                                <em>
                                    <img src="/mobile/css/Common/ic3.png" alt="">
                                </em>线下体验馆
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em>
                                    <img src="/mobile/css/Common/ic4.png" alt="">
                                </em>关于我们
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="f_kfu">
                    <a href="#">
                        <img src="/mobile/css/Common/tel1.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/mobile/css/Common/tel2.png" alt="">
                    </a>
                </div>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="/mobile/js/Jquery.js"></script>
    <script type="text/javascript" src="/mobile/js/nsw_mobile.js"></script>
</html>