#parses("$mtemppath/Common/Header.html?cssname=main")
#parses("$mtemppath/Common/BackPreviousControl.html?curtype=$!columntype")
#includes("$mtemppath/Common/SearchControl.html")
#parses("$mtemppath/Common/locl.html")
<div class="g-bd">
    <div class="max_bg" id="max_bg">
        <div id="contapic_bg" class="contapic_bg" style="display:inline;"></div>
        <div class="right" id="right" style="display:inline;">
            <p>您访问的页面无效！</p>
            <p><a href="/Mobile/" class="blue">回到首页</a></p>
        </div>
    </div>
</div>
#parses("$mtemppath/Common/Footer.html")
