<appSettings>
  <add key="width" value="0" />
  <add key="height" value="0" />
  <add key="lianxfangs" value="" />
  <add key="Enlablelx" value="True" />
  <add key="leftlx" value="&lt;div class=&quot;leiblx&quot;&gt;&#xD;&#xA;                &lt;div class=&quot;tit&quot;&gt;&#xD;&#xA;                    联系红鑫家具&lt;/div&gt;&#xD;&#xA;                &lt;div class=&quot;leftlx&quot;&gt;&#xD;&#xA;                    &lt;div class=&quot;dianh&quot;&gt;&#xD;&#xA;                        &lt;div class=&quot;dianhua&quot;&gt;&#xD;&#xA;                            咨询热线：&lt;span&gt;400-678-5198&lt;/span&gt;&#xD;&#xA;                        &lt;/div&gt;&#xD;&#xA;&lt;p&gt;座机：027-8393-9586 &lt;/p&gt;&#xD;&#xA;&lt;p&gt;手机：182-0718-0190&lt;/p&gt;&#xD;&#xA;&lt;p&gt;邮箱：hongxin@hongxin.com.cn&lt;/p&gt;&#xD;&#xA;&lt;p&gt;光谷展厅：武汉市洪山区光谷大道未来之光6号楼1-3楼&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;&lt;p&gt;汉口展厅：武汉市汉口北大道家具CBD五百亩工业园内红鑫家具&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;                    &lt;/div&gt;&#xD;&#xA;                &lt;/div&gt;&#xD;&#xA;            &lt;/div&gt;" />
  <add key="ExpressLane" value="" />
  <add key="extendnavigate" value="" />
  <add key="EnableAbsolutePath" value="true" />
  <add key="EnableHttpCompress" value="true" />
  <add key="EnableExpandURL" value="true" />
  <add key="NewsColumnFormatURL" value="/{0}{1}.html" />
  <add key="NewsColumnFormatURLStoped" value="false" />
  <add key="ProductColumnFormatURL" value="/{0}.html" />
  <add key="ProductColumnFormatURLStoped" value="false" />
  <add key="ProjectColumnFormatURL" value="/{0}.html" />
  <add key="ProjectColumnFormatURLStoped" value="True" />
  <!--帮助副导航信息-->
  <add key="helpcateinfo" value="红鑫帮助中心" />
  <!--产品副导航信息-->
  <add key="productcateinfo" value="红鑫产品中心" />
  <!--方案副导航信息-->
  <add key="projectcateinfo" value="红鑫方案中心" />
  <!--新闻副导航信息-->
  <add key="newscateinfo" value="红鑫新闻中心" />
  <!--加盟副导航信息-->
  <add key="agentcateinfo" value="红鑫加盟中心" />
  <!--加盟副导航信息-->
  <add key="downloadcateinfo" value="红鑫下载中心" />
  <!--招聘导航信息-->
  <add key="jobcateinfo" value="红鑫人才招聘" />
  <!--OranChinaRegion-->
  <add key="ChinaRegionXmlFolderPath" value="/Component/oran/regions" />
  <!--管理员:start-->
  <!--最大每页显示记录数-->
  <add key="AdminMaxPageSize" value="100" />
  <!--是否记录管理员操作日志-->
  <add key="AdminTakeLog" value="yes" />
  <!--默认每页显示记录数-->
  <add key="AdminDefaultPageSize" value="20" />
  <!--yes - 允许管理员自助找回密码-->
  <add key="AdminFindPin" value="yes" />
  <!--后台管理允许上传的文件类型(基于安全考虑，该参数只能在编辑本文件进行修改)-->
  <add key="AdminUploadFileTypes" value=".ico|.jpg|.gif|.png|.bmp|.swf|.wmv|.wav|.mp3|.rm|.rmvb|.avi|.doc|.xls|.txt|.pdf|.rar|.zip|.ppt|.xlsx" />
  <!--管理员:end-->
  <!-- FCKEditor配置 -->
  <add key="FCKeditor:BasePath" value="/NSW.FCKeditor/" />
  <add key="FCKeditor:UserFilesPath" value="/UploadFiles/FCK/" />
  <!--资讯相关附件保存目录-->
  <add key="UploadedFolderNews" value="/UploadFiles/News/" />
  <!--产品相关附件保存目录-->
  <add key="UploadedFolderProduct" value="/UploadFiles/Product/" />
  <!--解决方案相关附件保存目录-->
  <add key="UploadedFolderProject" value="/UploadFiles/Project/" />
  <!--帮助相关附件保存目录-->
  <add key="UploadedFolderHelp" value="/UploadFiles/Help/" />
  <!--招商加盟相关附件保存目录-->
  <add key="UploadedFolderAgent" value="/UploadFiles/Agent/" />
  <!--其它相关附件保存目录-->
  <add key="UploadedFolderOthers" value="/UploadFiles/Others/" />
  <!--后台系统相关附件保存目录-->
  <add key="UploadedFolderSystem" value="/UploadFiles/System/" />
  <!--会员头像附件保存目录-->
  <add key="UploadedFolderAvatar" value="/UploadFiles/Avatar/" />
  <!--源文件保存目录-->
  <add key="UploadedFolderSource" value="/UploadFiles/Source/" />
  <add key="xInfoForClosing" value="false" />
  <!-- 电子邮件发送账号设置:start -->
  <add key="SmtpSender" value="nswmail02@126.com" />
  <add key="DisplayName" value="红鑫家具" />
  <add key="SmtpUsername" value="nswmail02@126.com" />
  <add key="SmtpPin" value="nsw88.cxb.com" />
  <add key="SmtpServer" value="smtp.126.com" />
  <!-- 电子邮件发送是否需要认证设置，0代表不需要SMTP认证[SMTP_UserName和SMTP_UserPassword项可以设置为空],1代表服务器需要SMTP认证 -->
  <add key="SMTPAuthentication" value="yes" />
  <add key="SmtpPort" value="25" />
  <!-- 电子邮件发送账号设置:end -->
  <!--URLReWrite扩展名-->
  <add key="ReWriteUrlExt" value=".html" />
  <!--***********************错误处理:start*************************-->
  <!--是否发送错误报告 yes|no-->
  <add key="SendErrorReport" value="no" />
  <!--报告类型 mail|log|mailandlog-->
  <add key="ErrorReportType" value="mail_log" />
  <!--错误报告日志文件相对路径-->
  <add key="ErrorReportLog" value="~\app_data\log.txt" />
  <!--报告收件人-->
  <add key="ErrorReportAddressee" value="ioran@foxmail.com" />
  <!--***********************错误处理:end*************************-->
  <!--***********************静态页生成设置:start*************************-->
  <!--招商加盟前台模板路径-->
  <add key="AgentTemplatePath" value="agent01" />
  <!--招商加盟生成的静态页保存目录-->
  <add key="AgentHtmlTargetPath" value="/Agents/" />
  <!--新闻详细页前台模板路径-->
  <add key="NewsTemplatePath" value="news01" />
  <!--新闻详细页生成的静态页保存目录-->
  <add key="NewsHtmlTargetPath" value="/Article/" />
  <!--帮助中心前台模板路径-->
  <add key="HelpTemplatePath" value="help01" />
  <!--帮助中心生成的静态页保存目录-->
  <add key="HelpHtmlTargetPath" value="/Helps/" />
  <!--方案服务中心前台模板路径-->
  <add key="ProjectTemplatePath" value="project01" />
  <!--方案服务中心生成的静态页保存目录-->
  <add key="ProjectHtmlTargetPath" value="/Projects/" />
  <!--产品中心前台模板路径-->
  <add key="ProductTemplatePath" value="product01" />
  <!--产品中心生成的静态页保存目录-->
  <add key="ProductHtmlTargetPath" value="/Products/" />
  <!--下载中心前台模板路径-->
  <add key="DownLoadTemplatePath" value="download01" />
  <!--下载中心生成的静态页保存目录-->
  <add key="DownLoadHtmlTargetPath" value="/Downloads/" />
  <!--通用网站地图模板路径-->
  <add key="SiteMapTemplatePath" value="/Template/SiteMap.html" />
  <!--网站地图静态页存放目录-->
  <add key="SiteMapHtmlTargetPath" value="/" />
  <!--GOOGLE地图模板路径-->
  <add key="SiteMapTemplateXMLPath" value="/Template/SiteMap.xml" />
  <!--静态页文件集-->
  <add key="HtmlPathes" value="/product/index.html||/index.html||/help/index.html||/news/index.html" />
  <!--+++++++++++++++++++++++++++++++++++++++招商加盟:start   {{{{{{  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--+++++++++++++++++++++++++++++++++++++++   }}}} 招商加盟:end++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--***********************静态页生成设置:end*************************-->
  <!--通信密码（干扰串）-->
  <add key="SignalCode" value="9039DKSDYBSD8934NSDY8" />
  <!--以cookie保存session，0表示不应用cookie-->
  <add key="CookForSession" value="2000" />
  <!--站点域名，结尾不含/-->
  <add key="SiteDomain" value="http://www.hongxin.com.cn" />
  <add key="PCImageDomain" value="" />
  <add key="MCImageDomain" value="" />
  <!--皮肤路径（相对路径，以 / 结束）-->
  <add key="Skin" value="/Skins/default/" />
  <!--频道首页静态页页面与时间-->
  <add key="ChannelHomepage" value="/help/index.html$$300||/product/index.html$$310||/agent/index.html$$320||/index.html$$200" />
  <!--*************************会员API:start****************************-->
  <!--是否启用会员同步接口-->
  <add key="EnableUserAPI" value="no" />
  <!--会员同步接口密钥-->
  <add key="UserAPIKey" value="API__TEST" />
  <!--同步的网站系统地址-->
  <add key="UserAPIUrls" value="博客@@http://localhost:10004/API/API_Response.asp" />
  <!--是否启用分站关键词替换-->
  <add key="IsSubSite" value="true" />
  <add key="IsCheckSafe" value="true" />
  <add key="IsOut" value="/manager/" />
  <!--*************************会员API:end****************************-->
  <!--是否启用后台重写路径-->
  <add key="isoverridemanagerpath" value="False" />
  <!--后台重写路径-->
  <add key="overridemanagerpath" value="manager" />
  <!--TopOffSet  在线客服高度-->
  <add key="imtopoffset" value="100" />
  <!--TopOffSet  在线客服显示位置  左边(False)还是右边(True)-->
  <add key="imposition" value="True" />
  <!--备案号-->
  <add key="beian" value="鄂ICP备12004884号" />
  <!--网站导航前缀：比如 ***帮助中心  ***新闻中心  ***产品中心 的 ***-->
  <add key="rename" value="红鑫" />
  <!--是否启用新编辑器  即百度编辑器-->
  <add key="editor" value="False" />
  <!--新浪微博-->
  <add key="sinaweibo" value="http://www.weibo.com/" />
  <!--腾讯微博-->
  <add key="txweibo" value="http://t.qq.com/" />
  <!--其统计工具：百度 cnzz 51啦等等-->
  <add key="tongji" value="&lt;script type=&quot;text/javascript&quot;&gt;var cnzz_protocol = ((&quot;https:&quot; == document.location.protocol) ? &quot; https://&quot; : &quot; http://&quot;);document.write(unescape(&quot;%3Cspan id='cnzz_stat_icon_1260852450'%3E%3C/span%3E%3Cscript src='&quot; + cnzz_protocol + &quot;s95.cnzz.com/z_stat.php%3Fid%3D1260852450%26show%3Dpic' type='text/javascript'%3E%3C/script%3E&quot;));&lt;/script&gt;&lt;meta name=&quot;baidu-site-verification&quot; content=&quot;rsU7PwgDP3&quot; /&gt;" />
  <!--在线客服 如Talk99 EC 51客服等等-->
  <add key="kefu" value="&lt;script type=&quot;text/javascript&quot; src=&quot;http://p.qiao.baidu.com/cps/chat?siteId=3552126&amp;userId=2186107&quot; defer=&quot;defer&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;http://lead.soperson.com/3552126/2186107.js&quot; defer=&quot;defer&quot; style=&quot;display:none;&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;http://lead.soperson.com/3552126/2186107.js&quot; &gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;http://lead.soperson.com/3552126/2186107.js&quot;&gt;&lt;/script&gt;" />
  <!--上传缩略图的大小 单位：M-->
  <add key="smallsize" value="11" />
  <!--上传大图的大小 单位：M-->
  <add key="bigsize" value="15" />
  <!--编辑器的大小 单位：M-->
  <add key="editsize" value="21" />
  <!--方案图片大小：宽-->
  <add key="pjwidth" value="0" />
  <!--方案图片大小：高-->
  <add key="pjheight" value="0" />
  <!--网站后台LOGO-->
  <add key="managerlogo" value="Skins/Fresh/Img/logo.png" />
  <!--网站后台背景-->
  <add key="managerbg" value="" />
  <!--是否启用全站配置目录级-->
  <add key="isdirectorylevel" value="False" />
  <!--网站地图参数 分类之前用|分隔,产品|新闻|帮助|方案|加盟,如果没有相对应的分类的话就写0,但个数一定要是5个分类-->
  <add key="sitemapcolumn" value="3|4|5|8|9" />
  <!--网站地图参数 看帮助是生成分类(True)还是生成单篇(False)-->
  <add key="sitemaphelpcolumntype" value="True" />
  <!--是否启用手机网站静态跳转文件-->
  <add key="ismobileactivepath" value="True" />
  <!--手机网站静态跳转文件 外部js路径可修改    默认用{$mobilepage$}来替换手机网站页面-->
  <add key="mobileactiveconfig" value="&lt;script src=&quot;/JS/MobileRewrite.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;&lt;script  type=&quot;text/javascript&quot;&gt;uaredirect(&quot;{$mobilepage$}&quot;);&lt;/script&gt;" />
  <!--加盟列表页默认大小-->
  <add key="agentpagesizedefault" value="20" />
  <!--帮助列表页默认大小-->
  <add key="helppagesizedefault" value="20" />
  <!--产品详细页右侧信息-->
  <!--标题||默认时候读取的文件||key值，如果key值存在的话，会替换详细页模版的里面的{$key$}替换成内容，不会在详细页切换里面显示,如果不存在就会在切换那里显示-->
  <add key="productshortdescextend" value="" />
  <!--关键词查询数量-->
  <add key="keywordselectcount" value="10" />
  <!--*************************Talk99:start****************************-->
  <!--Talk99  链接公式http://lc.talk99.cn/chat/chat/p.do?c=公司ID&f=探头ID&g=分组ID&n=客服ID-->
  <!--是否启用Talk99-->
  <add key="isenabletalk99" value="True" />
  <!--Talk99ID-->
  <add key="talk99id" value="3552126" />
  <!--探头ID-->
  <add key="tantouid" value="2186107" />
  <!--分组ID-->
  <add key="groupid" value="" />
  <!--客服ID-->
  <add key="kefuid" value="" />
  <!--CallPhone-->
  <add key="callphone" value="" />
  <!--Talk99图片-->
  <add key="talk99imagepath" value="" />
  <add key="guid" value="5F9862F6-3B29-4CD5-99CD-B7A4596173A1" />
  <!--*************************Talk99:end****************************-->
  <!--售后客服qq和电话-->
  <add key="kefuqq" value="" />
  <add key="kefuqqs" value="" />
  <add key="kefutel" value="" />
  <!--牛商学堂信息-->
  <add key="xtuser" value="" />
  <add key="xtpass" value="" />
  <add key="xtaddress" value="http://kfb.nsw88.net.cn/user/login.aspx" />
  <add key="otherlinks" value="" />
  <!--********************************以下参数只能用于NVelocity模版*****************************************-->
  <!--模版市场信息-->
  <add key="mbuser" value="admin" />
  <add key="mbpass" value="123456" />
  <add key="mbaddress" value="http://mb.nsw88.com:88/WebService.asmx" />
  <add key="temppath" value="/template" />
  <!--初始划对象-->
  <add key="velocitycontextset" value="site;NSW.BLL.Site,columntypes;NSW.Web.API.ColumnType,nvcontrolstools;NVEngine.Directive.NVControlsTools,nt;NVTools.Tools,mt;MyTool,c2;NSW.OConfig2.SMTP,sc;NSW.Web.API.SysCommon,g;NSW.OConfig.GlobalConfig" />
  <!--初始化一些特别参数，如枚举，true,false-->
  <add key="velocitycontextkeyvalue" value="sitedomain;NSW.OConfig.Common.SiteDomain,logo;NSW.OConfig.GlobalConfig.Logo,sitename;NSW.OConfig.GlobalConfig.SiteName,temppath;NSW.OConfig2.PrivateSet.temppath,thistrue;(System.Boolean)true,thisfalse;(System.Boolean)false" />
  <!--自定义指令，例如#tab()-->
  <add key="userdirective" value="NVEngine.Directive.ImportDirective;NVEngine,NVEngine.Directive.TabDirective;NVEngine,NVEngine.Directive.ClearDirective;NVEngine,NVEngine.Directive.UserControlDirective;NVEngine,NVEngine.Directive.CacheDirective;NVEngine,NVEngine.Directive.NVControlsDirective;NVEngine,NVEngine.Directive.PagingDirective;NVEngine,NVEngine.Directive.ParsesDirective;NVEngine,NVEngine.Directive.IncludesDirective;NVEngine" />
  <!--缓存级别,0部分缓存，2为缓存界面-->
  <add key="cache" value="0" />
  <!--SQL查询最大缓存数量-->
  <add key="MaxCacheData" value="50" />
  <!--没设定查询数量时默认查询数量，防止全部查询出来，数据太大了-->
  <add key="DefaultTop" value="30" />
  <!--数据缓存和界面缓存时间-->
  <add key="CacheTimes" value="1200" />
  <!--加载控件时，根据那些条件缓存,使用LoadUserControl时有用-->
  <add key="LoadUserControlCacheKey" value="" />
  <!--产品和方案默认模版-->
  <add key="productdiretorie" value="product01" />
  <add key="projectdiretorie" value="project01" />
  <!--中心页模版设置-->
  <add key="agentindex" value="" />
  <add key="newsindex" value="vnews31" />
  <add key="helpindex" value="help03" />
  <add key="productindex" value="" />
  <add key="projectindex" value="" />
  <!--模版后缀-->
  <add key="templateSuffix" value="html" />
  <!--列表查询列-->
  <add key="AgentShowedFields" value="ID,Enable,InputTime,OrderID,Title,ColumnName,PageURL,ShortDesc,sid,PhotoPath,ShowTime" />
  <add key="NewsShowedFields" value="ID,Enable,InputTime,OrderID,Title,ColumnName,PageURL,ShortDesc,sid,PhotoPath,ShowTime,ShortTitle,content,CustomFields01" />
  <add key="HelpShowedFields" value="ID,Enable,InputTime,OrderID,Title,ColumnName,PageURL,ShortDesc,sid,PhotoPath,ShowTime,content,CustomFields01,MsgProductIDs" />
  <add key="ProductShowedFields" value="ColumnID,ID,Enable,InputTime,OrderID,Title,ColumnName,PageURL,ShortDesc,sid,PhotoPath,CustomFields01" />
  <add key="ProjectShowedFields" value="ID,Enable,InputTime,OrderID,Title,ColumnName,PageURL,ShortDesc,sid,PhotoPath" />
  <!--详细页模版样式-->
  <add key="DetailedPageDefaultStyle" value="/Skins/Default/resetcommon.css,/Skins/Default/Style.css" />
  <!--详细页模版目录-->
  <add key="DetailedPageTemp" value="/Skins/Default/Template" />
  <!--#parses执行后，清除的项，防止被其他对象引用-->
  <add key="ClearParameter" value="cursid,curtype,currow,columnname,columnurl,keyvalues,selectcount,currows" />
  <!--是否启用调试-->
  <add key="Debugging" value="false" />
  <!--********************************以下参数只能用于NVelocity模版 End*****************************************-->
  <add key="DefaultCache" value="false" />
  <add key="EntitieLastUpdataTime" value="635823441364062500" />
  <add key="BottomLogo" value="/uploadfiles/pictures/setting/20161024153608_7175.jpg" />
  <add key="BottomCode" value="/uploadfiles/pictures/setting/20161201103707_8253.png" />
  <!--请添加这几个配置-->
  <add key="CurVersion" value="1.3666" />
  <add key="automaticupdata" value="av1.1,2015.10.16_11:51:45" />
  <add key="Dynamic_ContextSets" value="my;MyTools_" />
  <add key="LastUpdata" value="635836074960000000" />
  <!--模板更多是否(False)开启(True)-->
  <add key="ShowMoreTemplates" value="true" />
  <add key="gu" value="true;1:true;2:true;3:true;4:true" />
  <!--去掉面包屑的xx中心-->
  <add key="ShowColumnTitle" value="false" />
  <!--单独录了SEO不加后缀-->
  <add key="AddTitlePostfix" value="false" />
  <!--标题默认公司名-->
  <add key="CreateHtmlAddTitlePostfix" value="true" />
  <add key="updatemuneoid" value="true" />
  <!--资讯扩展字段-->
  <add key="news_othercolumns" value="CustomFields01" />
  <add key="ProductAttriValueInitialize" value="true" />
  <add key="ProductAttriColumnInitialize" value="true" />
</appSettings>