<?xml version="1.0" encoding="utf-8"?>
<configs>
  <!--****************基本配置:start***********************-->
  <!--网站名称``-->
  <config key="SiteName">武汉红鑫家俱有限公司</config>
  <!--网页标题后缀``-->
  <config key="TitlePostfix">武汉办公家具|办公桌椅生产厂家厂商报价直销|办公家具定制厂家|武汉红鑫办公家具厂</config>
  <!--默认 Meta Keywords-->
  <config key="DefaultMetaKwd">武汉办公家具,武汉办公桌椅,办公家具定制厂家,办公前台,办公室办公沙发,武汉办公家具公司,办公家具定制厂家,</config>
  <!--默认 Meta Description-->
  <config key="DefaultMetaDesp">武汉办公家具，武汉红鑫办公家具20年品质沉淀，主营办公家具、保密文件柜定做、办公桌椅、武汉大小型会议桌椅厂家、档案密集柜报价、钢制铁皮文件柜厂家、储物柜、洽谈桌、武汉办公桌椅、办公前台、大班台等、武汉办公家具定制：400-678-5198</config>
  <!--关闭网站-->
  <config key="Closed">no</config>
  <!--网站关闭公告-->
  <config key="InfoForClosing">例行维护</config>
  <!--关闭网站-->
  <config key="xClosed">no</config>
  <!--网站关闭公告-->
  <config key="xInfoForClosing">请核实您网站的合法性！！！</config>
  <!--是否自动添加网页标题后缀-->
  <config key="AddTitlePostfix">yes</config>
  <!--是否启用邮件订阅-->
  <config key="EnableEmailSubscription">no</config>
  <!--启用验证码-->
  <config key="EnableVerifyCode">yes</config>
  <!--可注册会员-->
  <config key="MembershipSignabled">no</config>
  <!--会员注册是否需要激活-->
  <config key="NeedActiveMembership">no</config>
  <!--是否显示在线客服浮动-->
  <config key="ShowIM">no</config>
  <!--是否显示详细页面在线客服浮动-->
  <config key="ShowIMDetail">no</config>
  <!--允许评论-->
  <config key="Commentabled">yes</config>
  <!--是否审核评论-->
  <config key="CheckComment">yes</config>
  <!--全局数据提交间隔时间-->
  <config key="GlobalSubmitDataInterval">15</config>
  <!--禁止访问本站的IP-->
  <config key="ForbiddenIPs">
  </config>
  <!--禁止提交数据的IP-->
  <config key="BlockToSubmitIPs">
  </config>
  <!--网站Logo-->
  <config key="Logo">/uploadfiles/pictures/setting/20161024153605_3011.jpg</config>
  <!--底部友情链接显示数目-->
  <config key="LinkCount">10</config>
  <!--通用消息框默认延时时长-->
  <config key="CommonMessageDefaultDelay">9</config>
  <!--会员头象文件大小-->
  <config key="AvatarFileSize">0</config>
  <!--会员头象文件类型-->
  <config key="AvatarFormattings">.jpg|.gif|.png</config>
  <!--找回密码服务电话-->
  <config key="FindPinServiceTel">400-678-5198</config>
  <!--招聘信息默认是否展示-->
  <config key="ExtendJobInfo">no</config>
  <!--人力资源部电话号码-->
  <config key="HRPhoneNo">
  </config>
  <!--人力资源部电子邮箱地址-->
  <config key="HREmailAddress">
  </config>
  <!--产品中心首页轮播图片-->
  <config key="ProductHomeGallery">
  </config>
  <!--****************基本配置:end***********************-->
  <!--****************邮件通知:start***********************-->
  <!--新会员注册成功：主题-->
  <config key="RegisterNotifySubject">恭喜您成功注册成为「红鑫家具」会员</config>
  <!--会员找回密码：主题-->
  <config key="FindingPinNotifySubject">找回「红鑫家具」会员密码</config>
  <!--资讯推荐：主题-->
  <config key="MailingNewsSubject">您的朋友从「红鑫家具」推荐一篇资讯给您。</config>
  <!--产品推荐：主题-->
  <config key="MailingProductSubject">您的朋友从「红鑫家具」推荐一个不错的产品给您。</config>
  <!--邮件订阅：主题-->
  <config key="MailSubscriptionSubject">邮件订阅。</config>
  <!--请求取消邮件订阅：主题-->
  <config key="ConfirmCancelMailSubscriptionSubject">取消邮件订阅确认。</config>
  <!--已取消邮件订阅：主题-->
  <config key="CancelMailSubscriptionSubject">您订阅的邮件已成功取消。</config>
  <!--订单已创建：主题-->
  <config key="OrderBuiltSubject">您在「红鑫家具」提交了一新订单。</config>
  <!--邀请注册：主题-->
  <config key="InitationRegisterSubject">{$username$} 邀请您成为「红鑫家具」网站会员，请您确认</config>
  <!--返回邀请注册通知：主题-->
  <config key="ReturnInitationRegisterSubject">{$username$} 已接受了您的「红鑫家具」网站会员注册邀请</config>
  <!--留言的电子邮件通知（致管理员）：主题-->
  <config key="LeavewordMailNotifySubject">{$contact$}在您的网站提交了在线留言,请您保管此内容，以便做好回访与跟进。</config>
  <!--留言的电子邮件通知（给发布者）：主题-->
  <config key="LeavewordMailNotifyToPosterSubject">您在「红鑫家具」网站提交了在线留言,我方人员正在跟进，请您保存这个邮件，以便做好回访与跟进。</config>
  <!--通过电子邮箱重设密码：主题-->
  <config key="ResetPasswordByMailSubject">您在「红鑫家具」网站提交了返回密码申请,请您确认</config>
  <!--订单生成邮件通知（致管理员）：主题-->
  <config key="OrderBuiltMailSubjectToAdmin">订单 {$order_no$} 已生成</config>
  <!--订单已付款：主题-->
  <config key="OrderPaidSubject">您的订单 {$order_sn$} 已付款。</config>
  <!--订单已发货：主题-->
  <config key="OrderDeliveried">您的订单 {$order_sn$} 已发货，请注意查收。</config>
  <!--订单已取消：主题-->
  <config key="OrderCanceled">您的订单 {$order_sn$} 已取消。</config>
  <!--报告：主题-->
  <config key="ReportsSubject">网站收到一个报告。</config>
  <!--+++++++++++++++++++++++++++++++++++++++招商加盟:start   {{{{{{  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--在线申请加盟意向：主题-->
  <config key="AgencyApplicationSubject">您在「牛商网」网站提交了代理申请,我们会尽快安排工作人员与您取得联系。</config>
  <!--+++++++++++++++++++++++++++++++++++++++   }}}} 招商加盟:end++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--****************邮件通知:end***********************-->
  <!--****************EC短信设置:start***********************-->
  <!--EC短信登陆的用户名-->
  <config key="EcUserName">13026693403</config>
  <!--EC短信登陆的密码-->
  <config key="EcPwd">8888</config>
  <!--EC短信发送的编码-->
  <config key="EcCode">utf-8</config>
  <!--EC短信的密码是否加密-->
  <config key="EcMD5">yes</config>
  <!--EC会员注册是否开启短信通知-->
  <config key="EcEnabled">yes</config>
  <!--EC会员注册时的短信通知话语-->
  <config key="EcRegContent">会员注册时的短信提醒通知</config>
  <!--EC给会员发的推广短信-->
  <config key="EcUserContent">会员推广短信</config>
  <!-- EC短信模板话语-定单状态：待审核-->
  <config key="EcOrderVerificationBefore">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},请耐心等候,如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-定单状态：正在审核-->
  <config key="EcOrderVerificationNow">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},请耐心等候,如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-定单状态：已发货-->
  <config key="EcOrderPost">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},请耐心等候,如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-定单状态：已结束-->
  <config key="EcOrderOver">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},请注意及时查收,如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-定单状态：废弃定单-->
  <config key="EcOrderAbandoned">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-定单状态：已取消-->
  <config key="EcOrderCancle">您好，您在{$SiteDomain$}提交的定单{$OrderID$},产品是{$ProductTitle$},现在为{$OrderState$},如有疑问可直接拨打我公司的客服热线。</config>
  <!-- EC短信模板话语-用户定单确认支付-->
  <config key="PayOrder">您好！您在{$SiteDomain$}网站下了一个订单，订单号码为：{$OrderID$}，我们正在审核您的订单，请保留您的订单号码，如有问题，请联系我们的客服，我们的电话：400-12-1234，感谢您对{$SiteDomain$}网站的支持！</config>
  <!-- EC短信模板话语-用户直接支付成功-->
  <config key="PayDirect">您好！您在{$SiteDomain$}网站上直接给我司{$UserName$}支付了{$Price$}元，订单号码为：{$OrderID$}，请保留您的订单号码，如有问题，请联系我们的客服，我们的电话：400-12-1234，感谢您对{$SiteDomain$}网站的支持！</config>
  <!-- EC短信模板话语-用户确认收货-->
  <config key="EndConfirm">我是{$UserName$},我在{$SiteDomain$}网站购买到令我非常之满意的产品,我想你也会喜欢的,我推荐这个网站给你,网址是{$SiteUrl$},你在此网站一定会找到满意的产品.请把此手机短信转发给您的朋友光临我店，感谢您的支持！</config>
  <!-- EC短信用户申请加盟时的短信回复内容-->
  <config key="EcAgentContent">您在{$SiteDomain$}网站提交了代理申请，我们会尽快安排工作人员与您取得联系。您可以直拨0755-82149158与我们招商部门取得联系，感谢您对我们网站的支持！</config>
  <!-- EC短信用户推荐产品给朋友时的短信内容-->
  <config key="EcProductToFriends">我是{$UserName$},我在{$SiteDomain$}网站上看到一个不错的产品,产品名称为:{$ProductTitle$}，我强烈建议你去看一下,你可以访问以下网址查看:{$SiteUrl$}</config>
  <!--****************EC短信设置:end***********************-->
  <!--****************产品参数配置:start***********************-->
  <!--默认显示的产品分类ID（一级）-->
  <config key="DefaultProductColumnID">
  </config>
  <!--显示默认产品分类下级分类的条数-->
  <config key="DefaultProductColumnChildColumn">
  </config>
  <!--产品首页显示的分类列表-->
  <config key="ProductColumnList">
  </config>
  <!--销售热线-->
  <config key="SalesHotLine">400-678-5198</config>
  <!--客服QQ-->
  <config key="ServiceQQ1">2604094661</config>
  <config key="ServiceQQ2">
  </config>
  <!--价格区间-->
  <config key="PriceRange">
  </config>
  <!--折扣区间-->
  <config key="DiscountRange">
  </config>
  <!--是否启用加码销售-->
  <config key="SalesPromotionEnabled">yes</config>
  <!--加码销售的产品分类ID-->
  <config key="SalesPromotionProductColumnID">25</config>
  <!--加码销售的最低产品金额-->
  <config key="SalesPromotionLowerAmount">500.00</config>
  <!--是否启用联想销售-->
  <config key="EnableRelevantProduct">yes</config>
  <!--是否开启产品套餐功能yes|no-->
  <config key="EnableCombo" value="yes">yes</config>
  <!--****************产品参数配置:end***********************-->
  <!--****************扩展配置:start***********************-->
  <!--帮助中心默认文案ID-->
  <config key="HelpDefaultID">17</config>
  <!--****************扩展配置:end***********************-->
  <!--****************页大小设置:start***********************-->
  <!--产品列表默认页大小-->
  <config key="ProductPageSizeDefault">21</config>
  <!--最大产品列表页大小-->
  <config key="ProductPageSizeMax">60</config>
  <!--资讯列表页默认大小-->
  <config key="NewsPageSizeDefault">9</config>
  <!--帮助列表页默认大小-->
  <config key="HelpPageSizeDefault">20</config>
  <!--招商加盟默认大小-->
  <config key="AgentPageSizeDefault">0</config>
  <!--方案默认大小-->
  <config key="ProjectPageSizeDefault">20</config>
  <!--资讯详细页显示评论记录数-->
  <config key="NewsDetailCommentPageSize">5</config>
  <!--产品详细页显示评论记录数-->
  <config key="ProductDetailCommentPageSize">5</config>
  <!--底部友情链接记录数-->
  <config key="FriendLinkCount">5</config>
  <!--搜索页面默认页大小-->
  <config key="SearchingPageSizeDefault">20</config>
  <!--企业招聘页面默认页大小-->
  <config key="JobPageSizeDefault">0</config>
  <!--收货人容量-->
  <config key="MyAddressCapacity">0</config>
  <!--收藏夹容量-->
  <config key="FavoriteCapacity">0</config>
  <!--****************页大小设置:end***********************-->
  <!--邮件退订原因-->
  <config key="CancelSubscriptionReason">内容不够吸引$$内容不符！$$不想订阅$$其他原因</config>
  <!--留言，提问问题归类-->
  <config key="LeavewordCategories">其它问题</config>
  <!--是否发送留言的电子邮件通知-->
  <config key="SendingLeavewordMailNotify">no</config>
  <!--接收留言的电子邮箱地址-->
  <config key="ReceivingLeavewordMailAddress">hongxin@hongxin.com.cn</config>
  <!--是否发送留言的手机短信通知-->
  <config key="SendingLeavewordSMS">yes</config>
  <!--接收留言的手机号码（短信形式）-->
  <config key="ReceivingLeavewordSMSMobileNo">18888888888</config>
  <!--是否发送订单生成电子邮件通知（至管理员）-->
  <config key="SendingOrderBuiltMailNotifyToAdmin">no</config>
  <!--是否发送订单生成手机短信通知（致管理员）-->
  <config key="SendingOrderBuiltSMSToAdmin">no</config>
  <!--接收订单生成邮件通知的电子邮箱地址-->
  <config key="ReceivingOrderBuiltMailAddress">hongxin@hongxin.com.cn</config>
  <!--接收订单生成手机短信通知的手机号码（短信形式）-->
  <config key="ReceivingOrderBuiltSMSMobileNo">13800138000</config>
  <!--****************图片水印设置:start***********************-->
  <!--是否给图片加水印-->
  <config key="ToggleWatermark">yes</config>
  <!--水印类型（0-图片，1-文字）-->
  <config key="WatermarkType">0</config>
  <!--水印位置-->
  <config key="WatermarkPosition">6</config>
  <!--文字水印文本-->
  <config key="TextWatermarkText">红鑫家具</config>
  <!--文字水印样式-->
  <config key="TextWatermarkFontFamily">微软雅黑</config>
  <!--字体颜色-->
  <config key="FontColor">#bf5f00</config>
  <!--字体大小-->
  <config key="FontSize">8</config>
  <!--字体透明度-->
  <config key="FontOpacity">100</config>
  <!--字体阴影颜色-->
  <config key="FontShadowColor">#0000ff</config>
  <!--添加字体阴影-->
  <config key="DrawFontShadow">yes</config>
  <!--图片水印文件路径-->
  <config key="ImageWatermarkFilepath">/uploadfiles/pictures/qt/20200102145128_1069.png</config>
  <!--图片水印透明度-->
  <config key="ImageWatermarkOpacity">50</config>
  <!--****************图片水印设置:end***********************-->
  <!--****************积分设置:start***********************-->
  <!--注册赠送积分-->
  <config key="PointRegister">2</config>
  <!--登录赠送积分-->
  <config key="PointLogin">1</config>
  <!--发表评论奖励积分-->
  <config key="PointPostingProductComment">2</config>
  <!--介绍人积分-->
  <config key="CUserPremiumPoint">2</config>
  <!--产品推广积分-->
  <config key="PointProductPromotion">2</config>
  <!--下载推广积分-->
  <config key="PointDownloadPromotion">2</config>
  <!--填充个人资料积分-->
  <config key="PointUserProfile">6</config>
  <!--订阅积分-->
  <config key="PointMailSubscription">6</config>
  <!--****************积分设置:end***********************-->
  <!--+++++++++++++++++++++++++++++++++++++++招商加盟:start   {{{{{{  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--招商加盟默认文案ID-->
  <config key="AgentDefaultID">-1</config>
  <!--招商加盟热线-->
  <config key="AgencyHotLine">
  </config>
  <!--招商加盟传真-->
  <config key="AgencyFax">
  </config>
  <!--招商加盟申请表单下载-->
  <config key="AgencyApplicationForm">
  </config>
  <!--是否发送加盟申请的电子邮件通知-->
  <config key="SendingAgentApplicationMailNotifyToAdmin">no</config>
  <!--接收加盟申请的电子邮箱地址-->
  <config key="ReceivingAgentApplicationMailAddressForAdmin">88888888@gmail.com</config>
  <!--是否发送加盟申请的手机短信通知-->
  <config key="SendingAgentApplicationSMSToAdmin">yes</config>
  <!--接收加盟申请的手机号码（短信形式）-->
  <config key="ReceivingAgentApplicationSMSMobileNoForAdmin">13800138000</config>
  <!--+++++++++++++++++++++++++++++++++++++++   }}}} 招商加盟:end++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--联系方式收集默认标题-->
  <config key="CollectingUserInfoDefaultTitle">如果你要得到更多的资讯或者帮助，请您留下您的联系方式，我们在收到您的请求之后，会在第一时间与您取得联系，马上提交。</config>
  <!--联系方式收集默认成功提交提示语-->
  <config key="CollectingUserInfoDefaultSuccessMessage">我们已经收到您的提交信息，谢谢您的关注！</config>
  <!--联系方式收集输入框提示语-->
  <config key="CollectingUserInfoInputTooltips">想得到「牛商网」更多的支持吗？请留下{$input_title$},方便我们更好为您服务。</config>
  <!--屏蔽词语-->
  <config key="ForbiddenWord">你妈的||你**$$你娘的||你**</config>
  <!--举报类型-->
  <config key="ReportCategories">内容内容$$违法内容$$情色内容$$不文明内容</config>
  <!--是否发送报告电子邮件通知（至管理员）-->
  <config key="SendingReportsMailNotifyToAdmin">yes</config>
  <!--是否发送报告手机短信通知（致管理员）-->
  <config key="SendingReportsSMSToAdmin">no</config>
  <!--接收订报告通知的电子邮箱地址-->
  <config key="ReceivingReportsMailAddress">likecode@qq.com</config>
  <!--接收报告手机短信通知的手机号码（短信形式）-->
  <config key="ReceivingReportsSMSMobileNo">18888888888</config>
  <!--产品首页默认显示方式-->
  <config key="ProductIndexShowMode">3</config>
  <!--产品列表页默认显示方式-->
  <config key="ProductShowMode">2</config>
  <!--+++++++++++++++++++++++++++++++++++++++方案服务中心:start ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--方案服务中心首页轮播图片-->
  <config key="ProjectHomeGallery">
  </config>
  <!--方案服务列表页默认显示方式-->
  <config key="ProjectShowMode">2</config>
  <!--接收方案服务订单生成邮件通知的电子邮箱地址-->
  <config key="ReceivingProjectOrderBuiltMailAddress">
  </config>
  <!--是否发送方案服务订单生成电子邮件通知（至管理员）-->
  <config key="SendingProjectOrderBuiltMailNotifyToAdmin">no</config>
  <!--+++++++++++++++++++++++++++++++++++++++方案服务中心:end  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--+++++++++++++++++++++++++++++++++++++++后台案例说明文档填充:start ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--
	后台案例说明文档填充类型方式
	//第一种显示方式图片问号显示
	ShowOneHelpsMsg
	//第二种显示省略方式显示
	ShowTwoHelpsMsg
	//第三种显示显示全部显示
	ShowThreeHelpsMsg
	//全部类型显示
	默认为空则
	-->
  <config key="HelpMsgType">ShowOneHelpsMsg</config>
  <!--+++++++++++++++++++++++++++++++++++++++后台案例说明文档填充:end  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <config key="Version">1.0</config>
</configs>