<?xml version="1.0" encoding="utf-8" ?>
<Rewrites>
	<Rewrite>
		<Url>/aaaaaaaaaaa.html</Url>
		<PcTo>
			<Url>/OtherPage/page01.aspx</Url>
			<IsHtml>false</IsHtml>
			<!--rewritepath,redirect,transfer-->
			<Mode>rewritepath</Mode>
			<OtherTemp>aaa</OtherTemp>
			<TempIndex>1</TempIndex>
			<Styles>/skins/default/resetcommon.css,/skins/default/Style.css</Styles>
			<Jss>/JS/NSW_DetailsPro.js</Jss>
			<Cache>true</Cache>
		</PcTo>
		
		<McTo>
			<Url>/Mobiel/OtherPage/page01.aspx</Url>
			<IsHtml>false</IsHtml>
			<!--rewritepath,redirect,transfer-->
			<Mode>rewritepath</Mode>
			<OtherTemp>FriendLink</OtherTemp>
			<TempIndex>1</TempIndex>
			<Styles>/mobile/css/skins.css,/mobile/css/newslist.css,/mobile/css/common.css</Styles>
			<Jss>/mobile/js/Jquery.js,/mobile/js/nsw_mobile.js,/mobile/js/Tools.js</Jss>
			<Cache>true</Cache>
		</McTo>
		
		<DefaultTitle>测试</DefaultTitle>
		<DefaultMetaKeyword>测试</DefaultMetaKeyword>
		<DefaultMetaDescription>测试</DefaultMetaDescription>
		
		<AddTitlePostfix>true</AddTitlePostfix>
		<AddDefaultMetaKeyword>true</AddDefaultMetaKeyword>
		<AddDefaultMetaDescription>true</AddDefaultMetaDescription>
	</Rewrite>
</Rewrites>