<?xml version="1.0" encoding="utf-8" ?>
<rewriteRules>

  <!-- 注册动作解析器 -->
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.MyRewriteActionParser, VMoom.Framework" />

  <!-- 注册条件解析器 -->
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.MyConditionParser, VMoom.Framework" />
  <register parser="VMoom.Framework.HttpModules.UrlRewriter.TheftproofParser, VMoom.Framework" />

  <!-- 注册自定义转换器 -->
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.MyRewriteTransform, VMoom.Framework" />
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.XXTEAEncodeTransform, VMoom.Framework" />
  <register transform="VMoom.Framework.HttpModules.UrlRewriter.XXTEADecodeTransform, VMoom.Framework" />

  <!-- 注册日志监视器 -->
  <register logger="Intelligencia.UrlRewriter.Logging.DebugLogger, Intelligencia.UrlRewriter" />

  <!--+++++++++++++++++++++++++++++++++++++++招商加盟:start   {{{{{{  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--查看所有分页-->
	<rewrite url="^~/agent/(\d+)\.html$" to="~/agent/index.aspx?page=$1" processing="stop" />
  <rewrite url="^~/agent/agent-(\d+(,\d+)*)\.html$" to="~/agent/List.aspx?sid=$1" processing="stop" />
  <rewrite url="^~/agent/agent-(\d+(,\d+)*)-(\d+)\.html$" to="~/agent/List.aspx?sid=$1&amp;page=$3" processing="stop" />
  <rewrite url="^~/agent/apply.html$" to="~/agent/apply.aspx" processing="stop" />
  <!--+++++++++++++++++++++++++++++++++++++++   }}}} 招商加盟:end++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

  <!--帮助中心-->
	<rewrite url="^~/help/(\d+)\.html$" to="~/help/index.aspx?page=$1" processing="stop" />
  <rewrite url="^~/help/help-(\d+(,\d+)*)\.html$" to="~/Help/List.aspx?sid=$1" processing="stop" />
  <rewrite url="^~/help/help-(\d+(,\d+)*)-(\d+)\.html$" to="~/Help/List.aspx?sid=$1&amp;page=$3" processing="stop" />
  <rewrite url="^~/Help/leaveword-(\d+)\.html$" to="~/Help/leaveword.aspx?page=$1" processing="stop" />
  <rewrite url="^~/Help/leaveword.html$" to="~/Help/leaveword.aspx" processing="stop" />

  <!--***********************资讯中心:start***********************-->
  <!--查看所有分页-->
  <rewrite url="^~/news/(\d+)\.html$" to="~/news/index.aspx?page=$1" processing="stop" />
  <!--分类查看-->
  <rewrite url="^~/news/news-(\d+(,\d+)*)\.html$" to="~/News/List.aspx?sid=$1" processing="stop" />
  <!--分类分页查看-->
  <rewrite url="^~/news/news-(\d+(,\d+)*)-(\d+)\.html$" to="~/News/List.aspx?sid=$1&amp;page=$3" processing="stop" />
  <!--***********************资讯中心:end***********************-->

  <!--***********************产品中心:start***********************-->
  <rewrite url="^~/product/(\d+)\.html$" to="~/Product/index.aspx?page=$1" processing="stop" />
  <rewrite url="^~/product/list-(\d+)\.html$" to="~/Product/List.aspx?page=$1" processing="stop" />
  <!--分类查看-->
  <rewrite url="^~/product/product-(\d+(,\d+)*)\.html$" to="~/Product/List.aspx?sid=$1" processing="stop" />
  <!--分类分页查看-->
  <rewrite url="^~/product/product-(\d+(,\d+)*)-(\d+)\.html$" to="~/Product/List.aspx?sid=$1&amp;page=$3" processing="stop" />
  <!--***********************产品中心:end***********************-->

  <!--***********************方案服务中心:start***********************-->
  <rewrite url="^~/Project/(\d+)\.html$" to="~/Project/index.aspx?page=$1" processing="stop" />
  <rewrite url="^~/Project/list-(\d+)\.html$" to="~/Project/List.aspx?page=$1" processing="stop" />
  <!--分类查看-->
  <rewrite url="^~/Project/Project-(\d+(,\d+)*)\.html$" to="~/Project/List.aspx?sid=$1" processing="stop" />
  <!--分类分页查看-->
  <rewrite url="^~/Project/Project-(\d+(,\d+)*)-(\d+)\.html$" to="~/Project/List.aspx?sid=$1&amp;page=$3" processing="stop" />
  <!--***********************方案服务中心:end***********************-->

  <!--***********************下载中心:start***********************-->
  <rewrite url="^~/download/list-(\d+)\.html$" to="~/Download/List.aspx?page=$1" processing="stop" />
  <!--分类查看-->
  <rewrite url="^~/download/list-(\d+(,\d+)*)\.html$" to="~/Download/List.aspx?sid=$1" processing="stop" />
  <!--分类分页查看-->
  <rewrite url="^~/download/list-(\d+(,\d+)*)-(\d+)\.html$" to="~/Download/List.aspx?sid=$1&amp;page=$3" processing="stop" />

<rewrite url="^~/download/(\d+)\.html$" to="~/download/index.aspx?page=$1" processing="stop" />
  <!--***********************下载中心:end***********************-->


  <!--***********************企业招聘:start***********************-->
  <!--分类查看第一页-->
  <rewrite url="^~/job/job-(\d+)\.html$" to="~/Job/index.aspx?oid=$1" processing="stop" />
  <!--分类查看分页-->
  <rewrite url="^~/job/job-(\d+)-(\d+)\.html$" to="~/Job/index.aspx?oid=$1&amp;page=$2" processing="stop" />
  <!--查看所有分页-->
  <rewrite url="^~/job/(\d+)\.html$" to="~/Job/index.aspx?page=$1" processing="stop" />
  <!--***********************企业招聘:end***********************-->

	<rewrite url="^~/survey-(\d+)\.html$" to="~/help/survey.aspx?oid=$1" processing="stop" />
  <rewrite url="^~/survey-(\d+)-(\d+)\.html$" to="~/help/survey.aspx?oid=$1&amp;temp=$2" processing="stop" />
</rewriteRules>