<?xml version="1.0" encoding="utf-8"?>
<configs>
  <!--订阅内容设置-->
  <config key="SubscribeContent">
  </config>
  <!--Token-->
  <config key="Token">lsasfdvxasbp1399231575</config>
  <!--AppId-->
  <config key="AppId">wx94asdf22293743dc8asf14b</config>
  <!--AppSecret-->
  <config key="AppSecret">
  </config>
  <!--站内关键词回复信息  product||news||help||agent||project  五种类型-->
  <config key="ZhanNei">product||news||help||agent||project</config>
  <config key="AddUserCount">3</config>
</configs>