<?xml version="1.0" encoding="utf-8"?>
<configs>
  <!--手机网站域名（无手机网站value为空）-->
  <config key="MSiteDomain">
  </config>
  <!--网站盈利模式-->
  <config key="MWebType">Product</config>
  <!--网站首页模板-->
  <config key="MWebModel">model1</config>
  <!--网站皮肤风格-->
  <config key="MWebSkins">blue</config>
  <!--企业微信-->
  <config key="MWeiXin">
  </config>
  <!--企业新浪微博-->
  <config key="MWeiBo">
  </config>
  <!--企业腾讯微博-->
  <config key="MQQWeiBo">
  </config>
  <!-- 企业传真 -->
  <config key="MFax">400-123-1234</config>
  <!--企业地址-->
  <config key="MAddress">
  </config>
  <!--商品导航显示模式-->
  <config key="ProNavType">1</config>
  <!--是否显示商品导航三级子导航-->
  <config key="ProNavSanji">1</config>
  <!--商品导航显示列数-->
  <config key="ProNavCount">1</config>
  <!--资讯导航显示列数-->
  <config key="NewsNavCount">1</config>
  <!--网站手机LOGO -->
  <config key="MLogo">/mobile/uploadfiles/common/20161114114757_3727.gif</config>
  <!--网站手机二维码 -->
  <config key="MCode">
  </config>
  <!--网站备案 -->
  <config key="MRecord">
  </config>
  <!--图片规格 产品列表宽 -->
  <config key="MProductListW">130</config>
  <!--图片规格 产品列表高 -->
  <config key="MProductListH">94</config>
  <!--图片规格 产品详细宽 -->
  <config key="MProductDetailW">250</config>
  <!--图片规格 产品详细高 -->
  <config key="MProductDetailH">167</config>
  <!--图片规格 资讯列表宽 -->
  <config key="MNewsListW">130</config>
  <!--图片规格 资讯列表高 -->
  <config key="MNewsListH">105</config>
  <!--图片规格 资讯荣誉资质宽 -->
  <config key="MNewsHonorW">240</config>
  <!--图片规格 资讯荣誉资质高 -->
  <config key="MNewsHonorH">160</config>
  <!--图片规格 资讯合作伙伴宽 -->
  <config key="MNewsPartnerW">88</config>
  <!--图片规格 资讯合作伙伴高 -->
  <config key="MNewsPartnerH">48</config>
  <!--图片规格 帮助列表宽 -->
  <config key="MHelpListW">130</config>
  <!--图片规格 帮助列表高 -->
  <config key="MHelpListH">130</config>
  <!--图片规格 招商加盟列表宽 -->
  <config key="MAgentListW">130</config>
  <!--图片规格 招商加盟列表高 -->
  <config key="MAgentListH">130</config>
  <!--图片规格 方案列表宽 -->
  <config key="MProjectListW">130</config>
  <!--图片规格 方案列表高 -->
  <config key="MProjectListH">130</config>
  <!--图片规格 方案详细宽 -->
  <config key="MProjectDetailW">180</config>
  <!--图片规格 方案详细高 -->
  <config key="MProjectDetailH">180</config>
  <!--是否开启手机网站 -->
  <config key="MEnableMobile">true</config>
  <!--动态显示客户选择的在线客服控件 -->
  <config key="MSelectIM">Kefu2</config>
  <!--手机网站图片清晰度 0:流畅版 1：标清 2:高清-->
  <config key="MImageFlag">2</config>
  <!--控制业务组ID 解决（判断地址栏后的电话是否是有效的业务员电话）-->
  <config key="ControlSalesManId">
  </config>
  <!--公司地图的精度 -->
  <config key="Mlng">114.360409</config>
  <!--公司地图的纬度 -->
  <config key="Mlat">30.626646</config>
  <!--短信发送的手机号码设置 -->
  <config key="MMessage">18207180188</config>
  <config key="wenzi">长按添加关注<b>企业微信</b></config>
  <!--控制业务员的数量   -->
  <config key="ControlSalesManNum">10</config>
  <!--超出规定业务员数量的提示信息   -->
  <config key="SalesManShowMsg">只能添加10个业务员</config>
  <config key="MCustomAgent">
  </config>
  <config key="MUnCustomAgent">
  </config>
  <!--中心页模板-->
  <config key="agentindex">agent01</config>
  <config key="newsindex">news01</config>
  <config key="helpindex">help01</config>
  <config key="productindex">product01</config>
  <config key="projectindex">project01</config>
  <!--列表页查询字段-->
  <config key="AgentShowedFields">ID,Title,PhotoName,PhotoPath,ShortDesc,MPageURL,MobilePath</config>
  <config key="NewsShowedFields">ID,Title,PhotoName,PhotoPath,ShortDesc,MPageURL,MobilePath</config>
  <config key="HelpShowedFields">ID,Title,PhotoName,PhotoPath,ShortDesc,MPageURL,MobilePath</config>
  <config key="ProductShowedFields">ID,Title,PhotoName,PhotoPath,ShortDesc,MPageURL,MobilePath</config>
  <config key="ProjectShowedFields">ID,Title,PhotoName,PhotoPath,ShortDesc,MPageURL,MobilePath</config>
  <!--设置-->
  <config key="velocitycontextset">mc;NSW.Mobile.MobileConfig,mbt;NVTools.MobileTools</config>
  <config key="velocitycontextkeyvalue">mtemppath;'/mobile/template'</config>
  <config key="MobileTempPath">/mobile/template</config>
  <config key="MobileDetailedTempPath">/mobile/DetailedTemp</config>
  <!--栏目标题-->
  <config key="helpcateinfo">帮助中心</config>
  <config key="productcateinfo">产品中心</config>
  <config key="projectcateinfo">方案中心</config>
  <config key="newscateinfo">资讯中心</config>
  <config key="agentcateinfo">加盟中心</config>
  <config key="DetailedPageDefaultStyle">/Mobile/css/skins.css,/Mobile/Css/common.css</config>
  <config key="DetailedPageDefaultScript">/Mobile/js/Jquery.js,/Mobile/js/Nsw_mobile.js,/Mobile/JS/Tools.js</config>
</configs>