.zs {
    background: #f7f7f7;
    font-family: "Microsoft YaHei", serif;
    overflow: hidden;
}

.zs h3 {;
}

.fm li input {
    border: 1px solid #000;
}

.zs ul {;
}

.input {
    border: 1px solid #000;
}

.zs li {
    width: 50%;
    float: left;
}

.zs li a {
    display: block;
    padding: 27px 0 0 0px;
}

.zs li em {
    display: block;;
}

.zs li p {;
    margin: 0;
    font-size: 16px;
    color: #131418;
    padding-top: 10px;
    text-align: center;
}

.zs li p span {
    display: block;
    font: 15px "宋体";
    color: #636363;
    margin-top: 5px;
}

.zs li a:hover, .zs li .cur {
    background: #dfdfdf;
}

/**/
.fs {
    background: url(/res/images/dzxq.jpg) no-repeat;
    overflow: hidden;
    background-size: 100% auto;
}

.fs ul {
    padding-top: 161px;
}

.fs li {;
    text-align: center;
    width: 50%;
    float: left;
}

.fs li a {
    font-size: 16px;
    color: #131418;
}

.fs li img {
    display: block;
}

.fs h3 {
    background: url("/res/images/fsx.jpg") no-repeat;
    font-weight: normal;
    background-size: 100% 100%;
    height: 100%;
}

.fs h3 em {
    display: block;;
    font-size: 16px;
    color: #131418;
    padding-top: 11px;
}

.fs h3 em span {
    color: #e70012;
    font-weight: bold;
}

.fs h3 p {
    background: url("/res/images/fsk.jpg") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 32px;
    margin-top: 10px;
    color: #fff;
}

/**/
.qs {
    margin: 0 auto;
    background: #f7f7f7;
    font-family: "Microsoft YaHei";
}

.qs-l {
    margin-top: 5px;
    padding: 0px 0px 25px 0px;
    background: #fff;
    position: relative;
}

.qs-l h4 {
    top: -55px;
    left: 32px;
}

.qs-l p {
    display: block;
    padding-bottom: 17px;
    border-bottom: 1px solid #a59cad;
    color: #444444;
    font-size: 17px;
    line-height: 21px;
}

.qs-l p i {
    font-style: normal;
    color: #fff;
    background: #e70012;
    display: inline-block;
    text-align: center;
}

.qs-l ul li {
    margin-top: 12px;
    color: #444444;
    font-size: 15px;
    line-height: 19px
}

.qs-l ul li i {
    font-style: normal;
    color: #e70012
}

.qs-l h5 {
    position: absolute;
    bottom: -34px;
    left: 120px;
    display: block;
}

.qs-l input {
    background: url("/res/images/qs.png") no-repeat;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border: none;
    line-height: 40px;
    letter-spacing: 4px;
    font-family: "Microsoft YaHei";
}

.qs-r {
    background: #fff;
    position: relative;
}

.qs-r h4 {
    height: 86px;
    background: #e70012;
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 35px;
    line-height: 86px;
    margin-bottom: 42px
}

.qs-r ul li {
    padding-left: 77px;
    color: #3c3c3c;
    font-size: 15px;
    margin-bottom: 14px;
    line-height: 27px;
}

.qs-r ul li span {
    display: block;
}

.qs-r ul li input {;
    padding: 0 5px;
    border: 1px solid #d4d4d4;
    line-height: 25px
}

.qs-r ul li.warp_3 {
    padding-left: 77px;
    color: #3c3c3c;
    font-size: 15px;
    margin-bottom: 14px;
    line-height: 27px;
}

.qs-r ul li.warp_3 input {
    width: 84px;
    padding: 0;
    text-align: center;
}

.qs-r ul li.warp_7 {
    padding-left: 77px;
    color: #3c3c3c;
    font-size: 15px;
    margin-bottom: 14px;
    line-height: 27px;
}

.qs-r ul li.warp_7 span {
    display: block;
}

.qs-r ul li.warp_7 input {
    width: 84px;
    padding: 0;
    text-align: center;
}

.qs-r ul li label {;
    padding: 0 12px;
    font-size: 14px;
    font-style: normal;
}

.qs-r ul li.warp_4 input {
    width: 12px;
    padding: 0;
    margin-top: 8px
}

.qs-r ul li.warp_4 label {
    padding: 0 8px;
}

.qs-r ul li.qs3 {
    padding-left: 129px
}

.qs-r ul li.qs3 .inp1 {
    width: 12px;
    padding: 0;
    margin: 9px 9px 0 0
}

.qs-r ul li.qs3 input {
    width: 60px;
    padding: 0;
    text-align: center;
}

.qs-r h5 {
    position: absolute;
    bottom: -34px;
    left: 120px;
    display: block;
}

.qs-r h5 input {
    background: url("/res/images/qs.png") no-repeat;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border: none;
    line-height: 40px;
    letter-spacing: 4px;
    font-family: "Microsoft YaHei";
}

/**/
.pk {
    font-family: "Microsoft YaHei";
    font-family: "Microsoft YaHei";
}

.pk h2 {
    text-align: center;
    font-weight: normal;
    color: #131418;
    font-size: 35px
}

.pk h2 span {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}

.pk h2 em {
    font-style: normal;
    color: #e70012
}

.pk-l {
}

.pk-l h1 {
    text-align: center;
}

.pk-l h1 {
    height: 80px
}

.pk-l ul li {
    font-size: 0;
    line-height: 0;
}

.pk-l ul li img {
    display: block;
    margin-bottom: 8px;
    border: 1px solid #e6e6f9;
}

.pk-l ul li em {;
    font-style: normal;
    font-style: normal;
    background: #e70012;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    width: 20%;
    display: block;
    margin: auto;
}

.pk-l ul li span {
    display: block;
    padding-left: 8px;
    color: #444444;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.pk-l ul li.l1 {
}

.pk-c {
    position: relative;
}

.pk-k {
    position: absolute;
    top: -17px;
    left: 410px;
    background: url("/res/images/pk_03.jpg") no-repeat;
    padding-top: 184px
}

.pk-k ul li {
    text-align: center;
    color: #e70012;
    font-size: 22px
}

/**/
/**/
.xz {
    font-family: "Microsoft YaHei";
}

.xz h2 {
    text-align: center;
    font-weight: normal;
    color: #131418;
    font-size: 35px
}

.xz h2 span {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}

.xz h2 em {
    font-style: normal;
    color: #e70012
}

.xz p img {
    width: 1000px;
}

.xz p {
    position: relative;
}

#content img {
    max-width: initial;
    min-width: initial;
    width: auto;
    display: block;
    margin: 0 auto;
    height: auto;
}

.xz p a {
    position: absolute;
    right: 8px;
    bottom: -1px;
    display: block;
    text-align: center;
    line-height: 194px;
    color: #999;
    font-family: 宋体;
    letter-spacing: 1px;
}