.wrap img{ width:100%;}	
@media screen and (min-width:320px) {  html { font-size:75%;}}
@media screen and (min-width:360px) {  html { font-size:87%;}}
@media screen and (min-width:480px) {  html { font-size:112%;}}
@media screen and (min-width:568px) {  html { font-size:131%;}}
@media screen and (min-width:639px) {  html { font-size:150%;}}
/*通栏广告*/
.g-adv{overflow: hidden; font-size:0; margin-bottom:1.4rem; position:relative;}
.g-adv .m-cnt{ position:absolute; left:35%; bottom:1rem; width:60%;}
.g-adv .m-cnt li { float:left; width:17%; height:0.35rem; margin-right:0.5rem; background:#4a3f38;}
.g-adv .m-cnt li.z-on{ background:#e70012 ;}

/*搜索*/
.g-ss{overflow:hidden; position:relative; height:2.4rem; margin:0 3.1% 1.3rem; border:1px solid #b5b5b5; border-radius:0.35rem;}
.g-ss p{ text-align:center; color:#d2251f; font-size:1.17rem; height:1.9rem;}
.inp01{color:#999; float:left; font-size:1rem; line-height:2.4rem; padding:0 0 0 2.5%; width:88%; height:2.4rem;}
.u-in{ background:none; display:block; height:2.4rem; font-size:0.92rem; position:absolute; right:0%; top:0%; width:10%; cursor: pointer;}
.g-ss .scl_fri { display:block; float:left; background:#fff;height:1.9rem; font-size:1rem; width:5.6%;}
/**/
.g-show{overflow:hidden; position:relative; padding-bottom:1.25rem;}
.g-show .m-cnt{ font-size:1rem; height:7rem;text-align:center; position:relative; overflow:hidden; background:#404144; position:relative; margin-bottom:0.9rem;}
.g-show .m-cnt:before{ content:""; position:absolute;height:1px;width:100%;left:0;top:50%; background:#666769;}
.g-show .m-cnt:after{ content:""; position:absolute;height:1px;width:100%;left:0;top:50%; background:#3a3b3d; margin-top:1px;}
.g-show .m-cnt li{ width:33.33%;float:left; position:relative; color:#fff;font-size:1rem;line-height:3.54rem; box-sizing:border-box; border-right:1px solid #666769;border-left:1px solid #3a3b3d;box-sizing:border-box;}
.g-show .m-cnt li.z-on{background:#e60012; color:#fff;}
.g-show .m-cnt .mor{ position:absolute; display:inline-block;width:33.33%; right:0; bottom:0;line-height:3.5rem; color:#fff;}
.g-show .m-box .con{ display:inline; float:left;}
.g-show .con ul{ overflow:hidden; margin:0 3.1%;}
.g-show .con ul li{ width:49.25%;float:left;position:relative; font-size:0; margin-bottom:0.3rem;}
.g-show .con ul li:nth-child(2n){ float:right;}
.g-show .con ul li span{ display:block; text-align:center; width:100%; border:1px solid #d5d5d6; box-sizing:border-box; border-top:none; line-height:1.88rem; padding-bottom:0.25rem;}
.g-show .con ul li span a{ color:#7e7e7e; font-size:0.92rem;}
.g-show .con ul li span i{ display:block; font-size:1rem; color:#333; border-bottom:1px dashed #ccc;overflow: hidden;height: 2rem;}
/**/
.g-case{ overflow:hidden; padding-bottom:1rem;}
.g-case h3{ font-size:0; margin-bottom:1.1rem;}
.g-case h2{height:2.2rem; line-height:2.2rem;background:url(/mobile/images/index/c_h3.gif) no-repeat; background-size:100% 2.2rem; padding:0 3.1%; box-sizing:border-box;}
.g-case h2 a{ font-size:1rem; font-weight:bold; color:#fff;}
.g-case h2 i{ font-weight:bold; padding-left:6%;}
.g-case h2 span{ display:inline-block; float:right;}
.g-case h2 span a{ color:#999; font-size:1rem; font-weight:normal;}
.g-case dl{ padding:0.7rem 0; margin:0 3.1%; overflow:hidden; border-bottom:1px dashed #ccc; clear:both;}
.g-case dl dt{ float:left; width:29%;}
.g-case dl dd{ width:66.5%; float:right;}
.g-case dl dd h4{ color:#333; font-size:1rem;}
.g-case dl dd p{ font-size:0.92rem; color:#666; padding-top:0.5rem;}
.g-case dl:last-child{ border-bottom:none;}
.g-case2 dl dd p{ color:#333;}
/**/
.g-ys{ overflow:hidden; height:49.7rem;background:url(/mobile/images/index/y_bg.gif) no-repeat center bottom; background-size:100% 44.375rem; margin-bottom:1.6rem;}
.g-ys h3{ margin-bottom:1.2rem;}
.g-ys dl{ overflow:hidden; margin:0 4.5%; height:10.65rem;}
.g-ys dl dt{ float: right; width:38%;}
.g-ys dl dd{ float:left; width:56%;}
.g-ys dl dd h4{ color:#e60012; font-size:1.08rem; font-weight:bold; line-height:2rem; margin-bottom:0.35rem;}
.g-ys dl dd h4 span{ display:inline-block; height:1.8rem; width:1.8rem; border:0.2rem solid #e60012; border-radius:1.2rem; text-align:center; font-family:Impact; font-size:1.17rem; font-weight:normal; margin-right:0.4rem;}
.g-ys dl dd p{ color:#222; font-size:0.92rem;}
.g-ys dl:nth-child(2n+1) dt{ float:left;}.g-ys dl:nth-child(2n+1) dd{ float:right;}
/**/
/**/
/**/
/**/
/**/