/*解决方案*/
.m-proje{ margin:15px 10px 20px 10px; border-radius:5px; border:1px solid #e0e0e0; box-shadow:0 0 2px #c7c4c4;position:relative;}
.m-proje h2{ height:42px; line-height:42px; font-size:15px; color:#666; padding-left:12px; position:relative; }
.m-proje h2:before{ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);content: "";height: 5px;left: 0; position: absolute; top: 37px; width: 100%; z-index: 0;}
.m-proje .ico{display: block;height: 12px;position: absolute;right:15px; top: 15px;width: 12px;}
.m-proje .ico:before{ content:""; position:absolute; background:#8f8f8f; width:12px; height:12px;
-moz-transform: rotate(45deg);-o-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg);} 
.m-proje .ico:after{ content:""; position:absolute; background:#f9f9f9; width:12px; height:12px; right:1px;
-moz-transform: rotate(45deg);-o-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg);} 	
.pimg p{ margin:10px auto; width:280px;}
.m-proje dl{padding:13px 17px 10px 10px; position:relative; }
.m-proje dl p {  font-size: 12px;  height: 65px;  line-height: 22px;  margin: 5px;  margin-right: 3%;  overflow: hidden;}
.m-proje dl:before{    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); content: ""; height: 5px; left: 0; position: absolute; top: -5px; width: 100%; z-index: 0;}
.m-proje dt { float:left;display:block;border:1px solid #ccc; margin-right:11px; }
.m-proje dt img { display:block; float:left;border:1px solid #e2e2e2;}
.m-proje dd{ color:#b2b2b2; font-size:12px;}
.m-proje dd p{ height:40px; overflow:  hidden; line-height:20px;}
.m-proje dl h3{ font-size:14px;  height:24px; line-height:24px; overflow:hidden;}


/*飘浮样式*/
.g-float{ width:42px; background:#fff; border-radius:10px 0 0 10px;opacity:0.8; height:80px; position:absolute; top:250px; right:0; z-index:999; border:1px solid #eaeaea; border-right:none; text-align:center;}
.g-float a{ text-align:center; height:26px; border-bottom:1px solid #e8e8e8; display:block; padding-top:12px;}
.g-float a:last-child{ border-bottom:none;}

/*解决方案弹出隐藏层*/
.table{ background:#f2f2f2; width:200px; position:absolute; z-index:88;  right:0; height:100%; }
.table h2{ border-bottom:1px solid #d9d9d9; height:44px; line-height:44px; font-size:15px; color:#333; padding-left:15px; position:relative;}
.table .menu a{ width:185px; border-bottom:1px solid #e8e8e8; height:42px; line-height:42px; margin-left:15px; float:left; position:relative;}
.table .menu a:before{content:""; position:absolute; background:#c3c3c3; width:12px; height:12px; right:10px; top:15px;
-moz-transform: rotate(45deg);-o-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.table .menu a:after{ content:""; position:absolute; background:#f2f2f2; width:12px; height:12px; right:14px; top:15px;
-moz-transform: rotate(45deg);-o-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg);} 	
.close{border: 1px solid #CCCCCC;border-radius: 85px 85px 85px 85px; font-size: 16px;height: 22px;width: 22px; float:right; margin:10px 5px 0 0; position:relative; }
.close:before{width:1px; height:12px; content:""; position:absolute; background:#c2c2c2; -moz-transform: rotate(45deg);-o-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform:rotate(45deg); top:5px; left:11px; }
.close:after{ width:1px; height:12px; content:""; position:absolute;background:#c2c2c2; -moz-transform: rotate(135deg);-o-transform: rotate(135deg);  -webkit-transform: rotate(135deg); transform:rotate(135deg); top:5px; left:11px;}
.black_overlay{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 150%;background-color: black;z-index:1001;opacity:0;pointer-events: none;}
.white_content {position: absolute;top: 10%;width: 200px;height: 40%; min-height:200px;background-color: white;z-index:1002; display:none;}




/*方案二首页样式*/
.m-proje .u-more{height:40px; line-height:40px; background:#f2f2f2; display:block; font-size:14px; color:#666; text-align:center;}
.m-proje .u-line{border-bottom:1px solid #666}












