/*模块内容样式*/
.modelnr{ width:98%; margin:10px auto;overflow:hidden; line-height:24px; border:1px solid #ccc; font-size:14px; color:#585858;}
.modeltab{ width:98%;margin:5px auto; border-color:#ccc;}

.modeltab td{ font-size:14px; line-height:24px; border-color:#ccc; vertical-align:top; padding:5px 4px 5px 4px;}
.model25{ width:25%;}
.model75{ width:75%;}
.model33{ width:33%;}
.model66{ width:66%;}
.model40{ width:40%;}
.model60{ width:60%;}
.model20{ width:25%;}
.model50{ width:50%;}


/* 在线咨询/反馈/加盟申请  */
.m-con-4 { padding:0 15px 0 19px; }
.m-wt { padding-bottom:20px; }
.m-con-4 p { line-height:24px; }
.m-con-4 .ly { border-radius: 5px 5px 5px 5px; -webkit-border-radius:5px; padding-top:12px; margin-top:10px; height: 100px; line-height: 20px; text-indent: 8px; width:100%; font-size:13px; }
.m-con-4 .name { height:28px; border-radius:5px; -webkit-border-radius:5px; text-indent:8px; width:100%; margin-bottom:15px; }
.m-con-4 .u-tel { padding:13px 0 10px 3px; }
.m-con-4 .show_more, xgmmbox .show_more, orderbox .show_more { height:30px; margin-bottom:28px; }
.m-con-4 .show_more .u-co-bt, .xgmmbox .show_more .u-co-bt,.show_more .u-co-bt { border-radius: 4px 4px 4px 4px; height: 26px; line-height:26px; width:100%; display: inline-block; vertical-align: middle; padding-top:1px; }
.m-con-4.z-use{ padding:0;}
.m-con-4.z-use .con_wrap{ padding:10px 15px;}

/* 控制中间编辑部分样式  */
.miniweb_con{ margin-bottom:15px; line-height:26px; width: 93.75%; padding: 0 3.125%;word-break:break-all; overflow:hidden;}
.miniweb_con h1{ font-size:32px; line-height:32px;}
.miniweb_con h2{ font-size:24px;line-height:26px;}
.miniweb_con h3{ font-size:20px;line-height:26px;}
.miniweb_con h4{ font-size:18px;line-height:26px;}
.miniweb_con h5{ font-size:16px;line-height:26px;}
.miniweb_con h6{ font-size:14px;line-height:26px;}
.miniweb_con em{ font-style:oblique;}