<!DOCTYPE HTML>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>q|产品中心|深圳市牛商网络股份有限公司</title>
    <meta name="keywords" content="深圳市牛商网络股份有限公司" />
    <meta name="description" content="深圳市牛商网络股份有限公司" />
        <link key="skins" href="/mobile/css/skins.css" rel="stylesheet" type="text/css" />
        <link key="common" href="/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon-precomposed" href="/mobile/images/common/touch-icon.png" />
<!-- hongxin.com.cn/Mobile Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?25e431cff63a206eb286efd246de5f2d";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body id='Details_Page'>
<div>
<header class="g-hd" id="top" name="top">
	<a href="tel:40071686381">
        <div class="m-tel"><span>订购热线：<b>40071686381</b></span></div>
    </a>
    <div class="m-hd clearfix">
        <div class="m-logo f-fl">
            <a href="/mobile/" title="一科重工"><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/Common/logo.png" alt="一科重工" /></a>
            <strong>农机设备专业生产厂家</strong>
        </div>
        <h1>
            <b>省电   耐用   还补贴</b>
            秸秆打包机全国一流生产厂家
        </h1>
    </div>
</header>
<div class="g-back">
    <a href="javascript:history.go(-1);" class="u-bp f-fl"></a>
    <a href="/mobile/tools/ListNav.aspx?type=Product" class="u-bl f-fr"></a>
    <a href="/mobile/" class="u-bh f-fr"></a>
</div><div class="g-se">
     <span class="u-bt" ></span>
    <input type="button" class="u-in">
    <div class="m-ipt">
        <input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">
    </div>
    <div class="clear"></div>
</div>
 
<link href="/mobile/css/product.css" rel="stylesheet" type="text/css" />
<!--产品详细页-->
<p class="u-empty"></p>
<div class="g-bd">
    <!--产品导航-->
    <h3 class="m-btit">
    <a href="/mobile/">首页</a>
        <span></span><a href="/mobile/mproduct/" title="根分类">根分类</a>
    </h3>

    <div class="m-con">
        <!--产品标题-->
        <div class="u-mtit f-tc s-wc">
            <h1>q</h1>
        </div>
        <!--产品内容-->
        <div class="m-slicon">
            <div class="pro_gd j-slide-np">
                <div class="m-nowra">
                    <div class="prev"></div>
                    <div class="no_ov">
                        <div class="m-box">
                            <img src='' width="240" height="178" alt="q"title="q" /> 
                        </div>
                    </div>
                    <div class="next"></div>
                </div>
            </div>
        </div>

        <div class="contactus"></div>

        <!--产品简介-->
        <div class="m-abpro">
            <h2 class="m-tit z-spe s-wc ">产品简介</h2>
            <div class="m-con">
                
            </div>
        </div>
        <!--产品详情-->
        <div class="m-abpro">
            <h2 class="m-tit z-spe s-wc">产品详情</h2>
            <div id="content" class="m-con">
                
                <div class="clear"></div>
            </div>
        </div>
        
        <!--分页-->
        <div id="setPage" class="g-page f-tc">
            <a id="up" class="u-pup" href="javascript:void(0)">上一页</a>
            <a id="qw" class="u-sa" href="javascript:void(0)">余下全文</a>
            <p id="pCount"><span class="u-pnum">1</span>/5</p>
            <a id="next" class="u-pne" href="javascript:void(0)">下一页</a>
        </div>
        <!--分享-->
         <div class="m-share">
            <div class="m-ico">
                <span>分享到：</span>
                <a href="http://www.jiathis.com/send/?webid=tsina&url=http%3a%2f%2f%2fMobile%2fmProducts%2fq.html&title=q" class="u-ico-1"></a>
                <a href="http://ti.3g.qq.com/open/s?vt=5&aid=share&sbid=801389636&g_ut=3&msg=qhttp%3a%2f%2f%2fMobile%2fmProducts%2fq.html&return=http%3a%2f%2f%2fMobile%2fmProducts%2fq.html" class="u-ico-2"></a>
                <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3a%2f%2f%2fMobile%2fmProducts%2fq.html&summary=q&title=q" class="u-ico-3"></a>
                <div class="clear"></div>
            </div>
         </div>
        <!--留言-->
        <div>
            <h2 class="m-tit s-wc z-spe"><span class="u-ico"></span>我要下单</h2>
            <ul class="leave">
                <li>
                    <span>姓名</span><div class="input_wrap">
                        <input id="UserName" class="name clear_word" type="text" value="请输入姓名" name="">
                    </div>
                </li>
                <li>
                    <span>手机</span><div class="input_wrap">
                        <input id="Phone" class="name clear_word" type="text" value="请输入手机号" name="">
                    </div>
                </li>
                <li>
                    <span>留言</span><div class="input_wrap">
                        <textarea id="OrderInfo" name="" cols="" rows="" class="ly clear_word">请输入留言</textarea>
                    </div>
                </li>
            </ul>
            <p id="ErrorInfo" class="red pl10"></p>
            <p class="show_more2">
                <input id="submitOrder" class="u-co-bt fr" type="button" value="提 交" name="" onclick='submitOrder("UserName","Phone","OrderInfo",12)'>
            </p>
        </div>
        <!--关于"手机"的相关产品-->
        <div class="m-rec j-slide-np">
            	
        </div>
        <!--关于手机的相关新闻-->
        <div class="m-about">
             <h2 class="m-tit z-spe s-wc ">热点推荐</h2><p class="list"><a href='/mobile/MArticles/cfzxqgl.html' target='_blank' title='厨房装修全攻略' class="first">厨房装修全攻略</a><a href='/mobile/MArticles/dlxjtzxsq5.html' target='_blank' title='大荔县家庭装修省钱5秘笈 不看亏大' class="first">大荔县家庭装修省钱5秘笈 不看亏大</a><a href='/mobile/MArticles/snzxxqmrxf.html' target='_blank' title='室内装修小窍门，让新房永不老气' class="first">室内装修小窍门，让新房永不老气</a><a href='/mobile/MArticles/snzxzdnxxc.html' target='_blank' title='室内装修中的那些小插座' class="first">室内装修中的那些小插座</a><a href='/mobile/MArticles/yxsnzxysbj.html' target='_blank' title='影响室内装修预算报价表的因素' class="first">影响室内装修预算报价表的因素</a></p>
        </div>
        <!--网友热评-->
        <div class="m-com">
            <h2 class="m-tit z-spe s-wc">网友热评</h2>
            <div class="u-idet">
                <textarea name="" id="txtComment" value="还可以输入140个字" class="clear_word">还可以输入140个字</textarea>
                <div id="validate" class="red"></div>
            </div>
            <div class="u-btn">
                <input class="z-mg u-co-bt" type="button" value="我要评论" name="" onclick="postComment(this,12,1)">
            </div>
            <div class="u-relay" id="reply">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--底部开始-->
<footer class="g-ft">
    <a href="#top" class="u-top"><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/Common/top.png" alt="" ></a>
    <div class="u-btn clearfix">
        <a href="/mobile/Mhelps/ykzglxfs.html" title="联系我们">联系我们</a>
        <a href="/mobile/sitemap.html" title="网站地图">网站地图</a>
    </div>
    <p>郑州一科重工机械制造有限公司 &nbsp;&nbsp;&nbsp;版权所有信息</p>
    <div class="m-qrcode">
        <img src="/mobile/css/web/grey.gif" data-src="/mobile/css/Common/qrcode.jpg" alt="一科重工二维码" />
        <span><em>长按添加关注<b>企业微信</b></em></span>
    </div>
    <div class="social_nav5">
		<ul>
			<li>
                <a href="tel:40071686381">
                    <em><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/css/ic1.png"/></em>
                    电话咨询
                </a>
            </li>
			<li>
                <a href="/mobile/mproduct/" title="农机产品">
                    <em><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/css/ic2.png" ></em>
                    农机产品
                </a>
    			  <div class="erji">                          
                    <a href="/jstsl.html">技术提升类</a>
                    <a href="/xxbzl.html">形象包装类</a>
                    <a href="/yxgtl.html">营销沟通类</a>
                    <a href="/yygll.html">运营管理类</a>
                </div>
			</li>
			<li>
                <a href="/mobile/marticle/" title="资讯中心">
                    <em><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/css/ic3.png">
                    </em>资讯中心
                </a>
			</li>
			<li>
                <a href="/mobile/Mhelps/ykzggsjj.html" title="关于我们">
                    <em><img src="/mobile/css/web/grey.gif" data-src="/mobile/css/css/ic4.png"></em>
                    关于我们
                </a>
			</li>
		</ul>
	</div>
</footer></div>
<script type="text/javascript" key="jquery" src="/mobile/js/Jquery.js"></script>
<script type="text/javascript" key="nsw_mobile" src="/mobile/js/Nsw_mobile.js"></script>
<script type="text/javascript" key="tools" src="/mobile/js/Tools.js"></script>
</body>
</html>
<script type="text/javascript">
    var ProductID=12;
    $(function (){       
        GetCommentById("reply", 3,12, "product");
        SetPageCount('product',12,1,'q.html');           
    });
</script>